openapi: 3.0.1
info:
  title: Attachments
  description: Attachments API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/att
paths:
  '/Attachments/{auuid}':
    post:
      tags:
        - Attachments
      summary: Downloads an attachment file by its unique identifier.
      description: Downloads an attachment file by its unique identifier.
      operationId: post-attachments-auuid
      parameters:
        - name: auuid
          in: path
          description: The attachment unique identifier.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '404':
          description: If the attachment is not found.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Returns the attachment file as a stream.
          content:
            text/plain:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
            application/json:
              schema:
                type: string
                format: binary
              example: string
            text/json:
              schema:
                type: string
                format: binary
              example: string
  /Attachments/downloadzip:
    post:
      tags:
        - Attachments
      summary: Downloads multiple attachments as a ZIP archive.
      description: Downloads multiple attachments as a ZIP archive.
      operationId: post-attachments-downloadzip
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing IDs of attachments to download.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadAttachmentsRequest'
            example:
              attachmentIds:
                - string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadAttachmentsRequest'
            example:
              attachmentIds:
                - string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadAttachmentsRequest'
            example:
              attachmentIds:
                - string
      responses:
        '200':
          description: Returns the ZIP file as a stream.
          content:
            text/plain:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
            application/json:
              schema:
                type: string
                format: binary
              example: string
            text/json:
              schema:
                type: string
                format: binary
              example: string
  '/Attachments/{subjectType}/{subjectId}':
    get:
      tags:
        - Attachments
      summary: Retrieves attachments for a specific subject entity.
      description: Retrieves attachments for a specific subject entity.
      operationId: get-attachments-subjecttype-subjectid
      parameters:
        - name: subjectType
          in: path
          description: The type of subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: orderBy
          in: query
          description: The property by which to order the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token for pagination of results.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Returns the paged collection of attachments.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AttachmentDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      description: string
                      subjectType: string
                      userId: string
                      fileName: string
                      internalFilePath: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/AttachmentDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      description: string
                      subjectType: string
                      userId: string
                      fileName: string
                      internalFilePath: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
    post:
      tags:
        - Attachments
      summary: Uploads and attaches a file to a specific subject entity.
      description: Uploads and attaches a file to a specific subject entity.
      operationId: post-attachments-subjecttype-subjectid
      parameters:
        - name: subjectType
          in: path
          description: The type of subject entity to which the file will be attached.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                ContentType:
                  type: string
                ContentDisposition:
                  type: string
                Headers:
                  type: object
                Length:
                  type: integer
                  format: int64
                Name:
                  type: string
                FileName:
                  type: string
                description:
                  type: string
          application/x-www-form-urlencoded:
            schema:
              properties:
                ContentType:
                  type: string
                ContentDisposition:
                  type: string
                Headers:
                  type: object
                Length:
                  type: integer
                  format: int64
                Name:
                  type: string
                FileName:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Returns the newly created attachment details.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AttachmentDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  description: string
                  subjectType: string
                  userId: string
                  fileName: string
                  internalFilePath: string
            text/json:
              schema:
                $ref: '#/components/schemas/AttachmentDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  description: string
                  subjectType: string
                  userId: string
                  fileName: string
                  internalFilePath: string
        '400':
          description: If the attachment request is invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Attachments/{subjectType}/{subjectId}/{auuid}':
    delete:
      tags:
        - Attachments
      summary: Deletes a specific attachment associated with a specific subject entity.
      description: Deletes a specific attachment associated with a specific subject entity.
      operationId: delete-attachments-subjecttype-subjectid-auuid
      parameters:
        - name: subjectType
          in: path
          description: The type of subject entity from which the attachment will be deleted.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: auuid
          in: path
          description: The attachment unique identifier to be deleted.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '204':
          description: If the attachment was successfully deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
        '400':
          description: If the deletion request is invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Attachments/downloadmergedpdf:
    post:
      tags:
        - Attachments
      summary: Downloads a merged PDF file from multiple PDF sources.
      description: Downloads a merged PDF file from multiple PDF sources.
      operationId: post-attachments-downloadmergedpdf
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing details of PDFs to merge.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/MergePdfRequest'
            example:
              attachmentIds:
                - string
              resultingFileName: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/MergePdfRequest'
            example:
              attachmentIds:
                - string
              resultingFileName: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/MergePdfRequest'
            example:
              attachmentIds:
                - string
              resultingFileName: string
      responses:
        '200':
          description: Returns the merged PDF file as a stream.
          content:
            text/plain:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
            application/json:
              schema:
                type: string
                format: binary
              example: string
            text/json:
              schema:
                type: string
                format: binary
              example: string
        '400':
          description: If the merge request is invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EntityAttachmentGroups/{subjectType}/{subjectId}/download':
    post:
      tags:
        - EntityAttachmentGroups
      summary: Downloads attachments for a specific entity.
      description: Downloads attachments for a specific entity.
      operationId: DownloadEntityAttachmentGroups
      parameters:
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectType
          in: path
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing details of the attachments to download.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: { }
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: { }
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: { }
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
            application/json:
              schema:
                type: string
                format: binary
              example: string
            text/json:
              schema:
                type: string
                format: binary
              example: string
  /EntityAttachmentGroups/download:
    post:
      tags:
        - EntityAttachmentGroups
      summary: Downloads attachments by request only.
      description: Downloads attachments by request only.
      operationId: DownloadEntityAttachmentGroupsOnlyById
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing details of the attachments to download.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: { }
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: { }
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: { }
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
            application/json:
              schema:
                type: string
                format: binary
              example: string
            text/json:
              schema:
                type: string
                format: binary
              example: string
  '/EntityAttachmentGroups/{subjectType}/{subjectId}/{eauuid}':
    get:
      tags:
        - EntityAttachmentGroups
      summary: Gets a specific entity attachment group.
      description: Gets a specific entity attachment group.
      operationId: GetEntityAttachmentGroup
      parameters:
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment group.
          required: true
          schema:
            type: string
        - name: subjectType
          in: path
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  entitySubjectType: { }
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: { }
                  includeInWelcomeEmail: true
                  visibility: { }
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  entitySubjectType: { }
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: { }
                  includeInWelcomeEmail: true
                  visibility: { }
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    patch:
      tags:
        - EntityAttachmentGroups
      summary: Updates an existing entity attachment group.
      description: Updates an existing entity attachment group.
      operationId: UpdateEntityAttachmentGroup
      parameters:
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment group.
          required: true
          schema:
            type: string
        - name: subjectType
          in: path
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing details of the entity attachment group to update.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateEntityAttachmentGroupRequest'
            example:
              includeInWelcomeEmail: true
              visibility: { }
              approvalRequired: true
              validFrom: string
              validUntil: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateEntityAttachmentGroupRequest'
            example:
              includeInWelcomeEmail: true
              visibility: { }
              approvalRequired: true
              validFrom: string
              validUntil: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateEntityAttachmentGroupRequest'
            example:
              includeInWelcomeEmail: true
              visibility: { }
              approvalRequired: true
              validFrom: string
              validUntil: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  entitySubjectType: { }
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: { }
                  includeInWelcomeEmail: true
                  visibility: { }
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  entitySubjectType: { }
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: { }
                  includeInWelcomeEmail: true
                  visibility: { }
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    delete:
      tags:
        - EntityAttachmentGroups
      summary: Deletes a specific entity attachment group.
      description: Deletes a specific entity attachment group.
      operationId: DeleteEntityAttachmentGroup
      parameters:
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment group.
          required: true
          schema:
            type: string
        - name: subjectType
          in: path
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EntityAttachmentGroups/{eauuid}':
    get:
      tags:
        - EntityAttachmentGroups
      summary: Gets a specific entity attachment group by ID only.
      description: Gets a specific entity attachment group by ID only.
      operationId: GetEntityAttachmentGroupOnlyById
      parameters:
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment group.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  entitySubjectType: { }
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: { }
                  includeInWelcomeEmail: true
                  visibility: { }
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  entitySubjectType: { }
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: { }
                  includeInWelcomeEmail: true
                  visibility: { }
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EntityAttachmentGroups/{subjectType}/{subjectId}':
    get:
      tags:
        - EntityAttachmentGroups
      summary: Gets all entity attachment groups for a specific subject.
      description: Gets all entity attachment groups for a specific subject.
      operationId: GetEntityAttachmentGroups
      parameters:
        - name: subjectType
          in: path
          description: The type of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: SubjectType
          in: query
          schema:
            type: string
        - name: SubjectId
          in: query
          schema:
            type: string
        - name: Viewed
          in: query
          schema:
            type: boolean
            nullable: true
        - name: Visibilities
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CreatedStartDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: CreatedEndDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: ValidityDate
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: orderBy
          in: query
          description: The order by clause for sorting the results.
          schema:
            type: string
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      entitySubjectType: { }
                      entitySubjectId: string
                      entitySubjectDisplayName: string
                      localisedAttachmentFiles:
                        - fileName: string
                          localisedFileName: string
                          culture: { }
                      includeInWelcomeEmail: true
                      visibility: { }
                      approvalRequired: true
                      validity:
                        startDateTime: string
                        endDateTime: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      entitySubjectType: { }
                      entitySubjectId: string
                      entitySubjectDisplayName: string
                      localisedAttachmentFiles:
                        - fileName: string
                          localisedFileName: string
                          culture: { }
                      includeInWelcomeEmail: true
                      visibility: { }
                      approvalRequired: true
                      validity:
                        startDateTime: string
                        endDateTime: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
    post:
      tags:
        - EntityAttachmentGroups
      summary: Adds a new entity attachment group.
      description: Adds a new entity attachment group.
      operationId: AddEntityAttachmentGroup
      parameters:
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectType
          in: path
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                EntitySubjectDisplayName:
                  type: string
                IncludeInWelcomeEmail:
                  type: boolean
                Visibility.Name:
                  type: string
                Visibility.Id:
                  type: integer
                  format: int32
                ApprovalRequired:
                  type: boolean
                ValidFrom:
                  type: string
                  format: date-time
                ValidUntil:
                  type: string
                  format: date-time
          application/x-www-form-urlencoded:
            schema:
              properties:
                EntitySubjectDisplayName:
                  type: string
                IncludeInWelcomeEmail:
                  type: boolean
                Visibility.Name:
                  type: string
                Visibility.Id:
                  type: integer
                  format: int32
                ApprovalRequired:
                  type: boolean
                ValidFrom:
                  type: string
                  format: date-time
                ValidUntil:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  entitySubjectType: { }
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: { }
                  includeInWelcomeEmail: true
                  visibility: { }
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  entitySubjectType: { }
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: { }
                  includeInWelcomeEmail: true
                  visibility: { }
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EntityAttachmentGroups/{subjectType}/{subjectId}/overviewcount':
    get:
      tags:
        - EntityAttachmentGroups
      summary: Gets an overview count of entity attachment groups for a specific subject.
      description: Gets an overview count of entity attachment groups for a specific subject.
      operationId: GetEntityAttachmentGroupsOverviewCount
      parameters:
        - name: subjectType
          in: path
          description: The type of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: SubjectType
          in: query
          schema:
            type: string
        - name: SubjectId
          in: query
          schema:
            type: string
        - name: Viewed
          in: query
          schema:
            type: boolean
            nullable: true
        - name: Visibilities
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CreatedStartDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: CreatedEndDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: ValidityDate
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupOverviewCountDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupOverviewCountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  all: 0
            text/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentGroupOverviewCountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  all: 0
  /EntityAttachmentGroups/bulk/delete:
    post:
      tags:
        - EntityAttachmentGroups
      summary: Bulk deletes entity attachment groups.
      description: Bulk deletes entity attachment groups.
      operationId: post-entityattachmentgroups-bulk-delete
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing details of the entity attachment groups to delete.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkDeleteEntityAttachmentGroupRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                subjectType: string
                subjectId: string
                viewed: true
                visibilities:
                  - string
                createdStartDateTime: string
                createdEndDateTime: string
                validityDate: string
              quickFilter: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkDeleteEntityAttachmentGroupRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                subjectType: string
                subjectId: string
                viewed: true
                visibilities:
                  - string
                createdStartDateTime: string
                createdEndDateTime: string
                validityDate: string
              quickFilter: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkDeleteEntityAttachmentGroupRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                subjectType: string
                subjectId: string
                viewed: true
                visibilities:
                  - string
                createdStartDateTime: string
                createdEndDateTime: string
                validityDate: string
              quickFilter: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
  /EntityAttachments/download:
    post:
      tags:
        - EntityAttachments
      summary: Downloads attachments for a specific entity.
      description: Downloads attachments for a specific entity.
      operationId: DownloadEntityAttachments
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing details of the attachments to download.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadEntityAttachmentsRequest'
            example:
              entityAttachmentIds:
                - string
              customerId: string
              culture: { }
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadEntityAttachmentsRequest'
            example:
              entityAttachmentIds:
                - string
              customerId: string
              culture: { }
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadEntityAttachmentsRequest'
            example:
              entityAttachmentIds:
                - string
              customerId: string
              culture: { }
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
            application/json:
              schema:
                type: string
                format: binary
              example: string
            text/json:
              schema:
                type: string
                format: binary
              example: string
  '/EntityAttachments/{eauuid}':
    get:
      tags:
        - EntityAttachments
      summary: Gets a specific entity attachment.
      description: Gets a specific entity attachment.
      operationId: GetEntityAttachment
      parameters:
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityAttachmentDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  customerId: string
                  origin: { }
                  parameters: { }
                  visibility: { }
                  includeInWelcomeEmail: true
                  approvalRequired: true
                  viewedDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  customerId: string
                  origin: { }
                  parameters: { }
                  visibility: { }
                  includeInWelcomeEmail: true
                  approvalRequired: true
                  viewedDateTime: string
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    delete:
      tags:
        - EntityAttachments
      summary: Deletes a specific entity attachment.
      description: Deletes a specific entity attachment.
      operationId: DeleteEntityAttachment
      parameters:
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing details of the entity attachment to delete.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DeleteEntityAttachmentRequest'
            example:
              customerId: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DeleteEntityAttachmentRequest'
            example:
              customerId: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DeleteEntityAttachmentRequest'
            example:
              customerId: string
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /EntityAttachments:
    get:
      tags:
        - EntityAttachments
      summary: Gets all entity attachments.
      description: Gets all entity attachments.
      operationId: GetEntityAttachments
      parameters:
        - name: CustomerId
          in: query
          schema:
            type: string
        - name: ContractId
          in: query
          schema:
            type: string
        - name: Viewed
          in: query
          schema:
            type: boolean
            nullable: true
        - name: Visibilities
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CreatedStartDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: CreatedEndDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: orderBy
          in: query
          description: The order by clause for sorting the results.
          schema:
            type: string
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntityAttachmentDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      customerId: string
                      origin: { }
                      parameters: { }
                      visibility: { }
                      includeInWelcomeEmail: true
                      approvalRequired: true
                      viewedDateTime: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/EntityAttachmentDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      customerId: string
                      origin: { }
                      parameters: { }
                      visibility: { }
                      includeInWelcomeEmail: true
                      approvalRequired: true
                      viewedDateTime: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
  /EntityAttachments/overviewcount:
    get:
      tags:
        - EntityAttachments
      summary: Gets an overview count of entity attachments.
      description: Gets an overview count of entity attachments.
      operationId: GetEntityAttachmentsOverviewCount
      parameters:
        - name: CustomerId
          in: query
          schema:
            type: string
        - name: ContractId
          in: query
          schema:
            type: string
        - name: Viewed
          in: query
          schema:
            type: boolean
            nullable: true
        - name: Visibilities
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CreatedStartDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: CreatedEndDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
[...]
