openapi: 3.0.1
info:
  title: Attachments
  description: Attachments API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/att
paths:
  '/Attachments/{auuid}':
    post:
      tags:
        - Default
      summary: Downloads an attachment file by its unique identifier.
      description: Downloads an attachment file by its unique identifier.
      operationId: post-attachments-auuid
      parameters:
        - name: auuid
          in: path
          description: The attachment unique identifier.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '404':
          description: If the attachment is not found.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Returns the attachment file as a stream.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
            text/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
  /Attachments/downloadzip:
    post:
      tags:
        - Default
      summary: Downloads multiple attachments as a ZIP archive.
      description: Downloads multiple attachments as a ZIP archive.
      operationId: post-attachments-downloadzip
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token to monitor for cancellation requests.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadAttachmentsRequest'
            example:
              attachmentIds:
                - string
          text/json:
            schema:
              $ref: '#/components/schemas/DownloadAttachmentsRequest'
            example:
              attachmentIds:
                - string
          application/*+json:
            schema:
              $ref: '#/components/schemas/DownloadAttachmentsRequest'
            example:
              attachmentIds:
                - string
      responses:
        '200':
          description: Returns the ZIP file as a stream.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
            text/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
  '/Attachments/{subjectType}/{subjectId}':
    get:
      tags:
        - Default
      summary: Retrieves attachments for a specific subject entity.
      description: Retrieves attachments for a specific subject entity.
      operationId: get-attachments-subjecttype-subjectid
      parameters:
        - name: subjectType
          in: path
          description: The type of subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: orderBy
          in: query
          description: The property by which to order the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token for pagination of results.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: Returns the paged collection of attachments.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfAttachmentDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfAttachmentDTO'
              example:
                data:
                  results:
                    - description: string
                      subjectType: string
                      userId: string
                      fileName: string
                      internalFilePath: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfAttachmentDTO'
              example:
                data:
                  results:
                    - description: string
                      subjectType: string
                      userId: string
                      fileName: string
                      internalFilePath: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    post:
      tags:
        - Default
      summary: Uploads and attaches a file to a specific subject entity.
      description: Uploads and attaches a file to a specific subject entity.
      operationId: post-attachments-subjecttype-subjectid
      parameters:
        - name: subjectType
          in: path
          description: The type of subject entity to which the file will be attached.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token to monitor for cancellation requests.
        content:
          multipart/form-data: { }
      responses:
        '201':
          description: Returns the newly created attachment details.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAttachmentDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAttachmentDTO'
              example:
                data:
                  description: string
                  subjectType: string
                  userId: string
                  fileName: string
                  internalFilePath: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAttachmentDTO'
              example:
                data:
                  description: string
                  subjectType: string
                  userId: string
                  fileName: string
                  internalFilePath: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: If the attachment request is invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Attachments/{subjectType}/{subjectId}/{auuid}':
    delete:
      tags:
        - Default
      summary: Deletes a specific attachment associated with a specific subject entity.
      description: Deletes a specific attachment associated with a specific subject entity.
      operationId: delete-attachments-subjecttype-subjectid-auuid
      parameters:
        - name: subjectType
          in: path
          description: The type of subject entity from which the attachment will be deleted.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: auuid
          in: path
          description: The attachment unique identifier to be deleted.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '204':
          description: If the attachment was successfully deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: If the deletion request is invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Attachments/downloadmergedpdf:
    post:
      tags:
        - Default
      summary: Downloads a merged PDF file from multiple PDF sources.
      description: Downloads a merged PDF file from multiple PDF sources.
      operationId: post-attachments-downloadmergedpdf
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token to monitor for cancellation requests.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergePdfRequest'
            example:
              attachmentIds:
                - string
              resultingFileName: string
          text/json:
            schema:
              $ref: '#/components/schemas/MergePdfRequest'
            example:
              attachmentIds:
                - string
              resultingFileName: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/MergePdfRequest'
            example:
              attachmentIds:
                - string
              resultingFileName: string
      responses:
        '200':
          description: Returns the merged PDF file as a stream.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
            text/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
        '400':
          description: If the merge request is invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EntityAttachmentGroups/{subjectType}/{subjectId}/download':
    post:
      tags:
        - Default
      summary: Downloads attachments for a specific entity.
      description: Downloads attachments for a specific entity.
      operationId: DownloadEntityAttachmentGroups
      parameters:
        - name: subjectType
          in: path
          description: The type of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token to monitor for cancellation requests.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: string
          text/json:
            schema:
              $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
            text/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
  /EntityAttachmentGroups/download:
    post:
      tags:
        - Default
      summary: Downloads attachments by request only.
      description: Downloads attachments by request only.
      operationId: DownloadEntityAttachmentGroupsOnlyById
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token to monitor for cancellation requests.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: string
          text/json:
            schema:
              $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/DownloadEntityAttachmentGroupsRequest'
            example:
              entityAttachmentGroupIds:
                - string
              culture: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
            text/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
  '/EntityAttachmentGroups/{subjectType}/{subjectId}/{eauuid}':
    get:
      tags:
        - Default
      summary: Gets a specific entity attachment group.
      description: Gets a specific entity attachment group.
      operationId: GetEntityAttachmentGroup
      parameters:
        - name: subjectType
          in: path
          description: The type of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment group.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              example:
                data:
                  entitySubjectType: none
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: string
                  includeInWelcomeEmail: true
                  visibility: internal
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              example:
                data:
                  entitySubjectType: none
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: string
                  includeInWelcomeEmail: true
                  visibility: internal
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    patch:
      tags:
        - Default
      summary: Updates an existing entity attachment group.
      description: Updates an existing entity attachment group.
      operationId: UpdateEntityAttachmentGroup
      parameters:
        - name: subjectType
          in: path
          description: The type of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment group.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token to monitor for cancellation requests.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityAttachmentGroupRequest'
            example:
              includeInWelcomeEmail: true
              visibility: internal
              approvalRequired: true
              validFrom: string
              validUntil: string
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityAttachmentGroupRequest'
            example:
              includeInWelcomeEmail: true
              visibility: internal
              approvalRequired: true
              validFrom: string
              validUntil: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateEntityAttachmentGroupRequest'
            example:
              includeInWelcomeEmail: true
              visibility: internal
              approvalRequired: true
              validFrom: string
              validUntil: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              example:
                data:
                  entitySubjectType: none
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: string
                  includeInWelcomeEmail: true
                  visibility: internal
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              example:
                data:
                  entitySubjectType: none
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: string
                  includeInWelcomeEmail: true
                  visibility: internal
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    delete:
      tags:
        - Default
      summary: Deletes a specific entity attachment group.
      description: Deletes a specific entity attachment group.
      operationId: DeleteEntityAttachmentGroup
      parameters:
        - name: subjectType
          in: path
          description: The type of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment group.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EntityAttachmentGroups/{eauuid}':
    get:
      tags:
        - Default
      summary: Gets a specific entity attachment group by ID only.
      description: Gets a specific entity attachment group by ID only.
      operationId: GetEntityAttachmentGroupOnlyById
      parameters:
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment group.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              example:
                data:
                  entitySubjectType: none
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: string
                  includeInWelcomeEmail: true
                  visibility: internal
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              example:
                data:
                  entitySubjectType: none
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: string
                  includeInWelcomeEmail: true
                  visibility: internal
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EntityAttachmentGroups/{subjectType}/{subjectId}':
    get:
      tags:
        - Default
      summary: Gets all entity attachment groups for a specific subject.
      description: Gets all entity attachment groups for a specific subject.
      operationId: GetEntityAttachmentGroups
      parameters:
        - name: subjectType
          in: path
          description: The type of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: SubjectType
          in: query
          schema:
            type: string
        - name: SubjectId
          in: query
          schema:
            type: string
        - name: Viewed
          in: query
          schema:
            type: boolean
        - name: Visibilities
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CreatedStartDateTime
          in: query
          schema:
            type: string
            format: date-time
        - name: CreatedEndDateTime
          in: query
          schema:
            type: string
            format: date-time
        - name: ValidityDate
          in: query
          schema:
            type: string
            format: date-time
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: The order by clause for sorting the results.
          schema:
            type: string
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          schema:
            type: integer
            format: int32
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: A paged response containing the entity attachment groups.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfEntityAttachmentGroupDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfEntityAttachmentGroupDTO'
              example:
                data:
                  results:
                    - entitySubjectType: none
                      entitySubjectId: string
                      entitySubjectDisplayName: string
                      localisedAttachmentFiles:
                        - fileName: string
                          localisedFileName: string
                          culture: string
                      includeInWelcomeEmail: true
                      visibility: internal
                      approvalRequired: true
                      validity:
                        startDateTime: string
                        endDateTime: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfEntityAttachmentGroupDTO'
              example:
                data:
                  results:
                    - entitySubjectType: none
                      entitySubjectId: string
                      entitySubjectDisplayName: string
                      localisedAttachmentFiles:
                        - fileName: string
                          localisedFileName: string
                          culture: string
                      includeInWelcomeEmail: true
                      visibility: internal
                      approvalRequired: true
                      validity:
                        startDateTime: string
                        endDateTime: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    post:
      tags:
        - Default
      summary: Adds a new entity attachment group.
      description: Adds a new entity attachment group.
      operationId: AddEntityAttachmentGroup
      parameters:
        - name: subjectType
          in: path
          description: The type of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token to monitor for cancellation requests.
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                EntitySubjectDisplayName:
                  type: string
                IncludeInWelcomeEmail:
                  type: boolean
                Visibility.Name:
                  type: string
                Visibility.Id:
                  type: integer
                  format: int32
                ApprovalRequired:
                  type: boolean
                ValidFrom:
                  type: string
                  format: date-time
                ValidUntil:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              example:
                data:
                  entitySubjectType: none
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: string
                  includeInWelcomeEmail: true
                  visibility: internal
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupDTO'
              example:
                data:
                  entitySubjectType: none
                  entitySubjectId: string
                  entitySubjectDisplayName: string
                  localisedAttachmentFiles:
                    - fileName: string
                      localisedFileName: string
                      culture: string
                  includeInWelcomeEmail: true
                  visibility: internal
                  approvalRequired: true
                  validity:
                    startDateTime: string
                    endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EntityAttachmentGroups/{subjectType}/{subjectId}/overviewcount':
    get:
      tags:
        - Default
      summary: Gets an overview count of entity attachment groups for a specific subject.
      description: Gets an overview count of entity attachment groups for a specific subject.
      operationId: GetEntityAttachmentGroupsOverviewCount
      parameters:
        - name: subjectType
          in: path
          description: The type of the subject entity.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The unique identifier of the subject entity.
          required: true
          schema:
            type: string
        - name: SubjectType
          in: query
          schema:
            type: string
        - name: SubjectId
          in: query
          schema:
            type: string
        - name: Viewed
          in: query
          schema:
            type: boolean
        - name: Visibilities
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CreatedStartDateTime
          in: query
          schema:
            type: string
            format: date-time
        - name: CreatedEndDateTime
          in: query
          schema:
            type: string
            format: date-time
        - name: ValidityDate
          in: query
          schema:
            type: string
            format: date-time
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: An overview count of the entity attachment groups.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupOverviewCountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupOverviewCountDTO'
              example:
                data:
                  all: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentGroupOverviewCountDTO'
              example:
                data:
                  all: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /EntityAttachmentGroups/bulk/delete:
    post:
      tags:
        - Default
      summary: Bulk deletes entity attachment groups.
      description: Bulk deletes entity attachment groups.
      operationId: post-entityattachmentgroups-bulk-delete
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token to monitor for cancellation requests.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteEntityAttachmentGroupRequest'
            example:
              onlyValidate: true
              queryParams:
                subjectType: string
                subjectId: string
                viewed: true
                visibilities:
                  - string
                createdStartDateTime: string
                createdEndDateTime: string
                validityDate: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
          text/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteEntityAttachmentGroupRequest'
            example:
              onlyValidate: true
              queryParams:
                subjectType: string
                subjectId: string
                viewed: true
                visibilities:
                  - string
                createdStartDateTime: string
                createdEndDateTime: string
                validityDate: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkDeleteEntityAttachmentGroupRequest'
            example:
              onlyValidate: true
              queryParams:
                subjectType: string
                subjectId: string
                viewed: true
                visibilities:
                  - string
                createdStartDateTime: string
                createdEndDateTime: string
                validityDate: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /EntityAttachments/download:
    post:
      tags:
        - Default
      summary: Downloads attachments for a specific entity.
      description: Downloads attachments for a specific entity.
      operationId: DownloadEntityAttachments
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token to monitor for cancellation requests.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadEntityAttachmentsRequest'
            example:
              entityAttachmentIds:
                - string
              customerId: string
              culture: string
          text/json:
            schema:
              $ref: '#/components/schemas/DownloadEntityAttachmentsRequest'
            example:
              entityAttachmentIds:
                - string
              customerId: string
              culture: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/DownloadEntityAttachmentsRequest'
            example:
              entityAttachmentIds:
                - string
              customerId: string
              culture: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
            text/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
  '/EntityAttachments/{eauuid}':
    get:
      tags:
        - Default
      summary: Gets a specific entity attachment.
      description: Gets a specific entity attachment.
      operationId: GetEntityAttachment
      parameters:
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentDTO'
              example:
                data:
                  customerId: string
                  origin: customer
                  parameters:
                    type: Customer
                    file:
                      fileName: string
                      localisedFileName: string
                      culture: string
                  visibility: internal
                  includeInWelcomeEmail: true
                  approvalRequired: true
                  viewedDateTime: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEntityAttachmentDTO'
              example:
                data:
                  customerId: string
                  origin: customer
                  parameters:
                    type: Customer
                    file:
                      fileName: string
                      localisedFileName: string
                      culture: string
                  visibility: internal
                  includeInWelcomeEmail: true
                  approvalRequired: true
                  viewedDateTime: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    delete:
      tags:
        - Default
      summary: Deletes a specific entity attachment.
      description: Deletes a specific entity attachment.
      operationId: DeleteEntityAttachment
      parameters:
        - name: eauuid
          in: path
          description: The unique identifier of the entity attachment.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token to monitor for cancellation requests.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteEntityAttachmentRequest'
            example:
              customerId: string
          text/json:
            schema:
              $ref: '#/components/schemas/DeleteEntityAttachmentRequest'
            example:
              customerId: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/DeleteEntityAttachmentRequest'
            example:
              customerId: string
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /EntityAttachments:
    get:
      tags:
        - Default
      summary: Gets all entity attachments.
      description: Gets all entity attachments.
      operationId: GetEntityAttachments
      parameters:
        - name: CustomerId
          in: query
          schema:
            type: string
        - name: ContractId
          in: query
          schema:
            type: string
        - name: Viewed
          in: query
          schema:
            type: boolean
        - name: Visibilities
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CreatedStartDateTime
          in: query
          schema:
            type: string
            format: date-time
        - name: CreatedEndDateTime
          in: query
          schema:
            type: string
            format: date-time
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: The order by clause for sorting the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: A paged response containing the entity attachments.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfEntityAttachmentDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfEntityAttachmentDTO'
              example:
                data:
                  results:
                    - customerId: string
                      origin: customer
                      parameters:
                        type: Customer
                        file:
                          fileName: string
                          localisedFileName: string
                          culture: string
                      visibility: internal
                      includeInWelcomeEmail: true
                      approvalRequired: true
                      viewedDateTime: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfEntityAttachmentDTO'
              example:
                data:
                  results:
                    - customerId: string
                      origin: customer
                      parameters:
                        type: Customer
                        file:
                          fileName: string
                          localisedFileName: string
                          culture: string
                      visibility: internal
                      includeInWelcomeEmail: true
                      approvalRequired: true
                      viewedDateTime: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
[...]
