openapi: 3.0.1
info:
  title: Billing
  description: Billing API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/bill
paths:
  /AnnualStatements/filter:
    post:
      tags:
        - Default
      summary: Retrieves all annual statements based on the provided query parameters.
      description: Retrieves all annual statements based on the provided query parameters.
      operationId: post-annualstatements-filter
      parameters:
        - name: orderBy
          in: query
          description: The order by clause.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAnnualStatementsQueryParams'
            example:
              customerId: string
              statuses:
                - string
              year: 0
              limit: 0
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetAnnualStatementsQueryParams'
            example:
              customerId: string
              statuses:
                - string
              year: 0
              limit: 0
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetAnnualStatementsQueryParams'
            example:
              customerId: string
              statuses:
                - string
              year: 0
              limit: 0
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: A paged response containing the annual statements.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfAnnualStatementDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfAnnualStatementDTO'
              example:
                data:
                  results:
                    - annualStatementNumber: string
                      year: 0
                      version: 0
                      startDateTime: string
                      endDateTime: string
                      status: created
                      generationDate: string
                      sent: notsent
                      failureReasonCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      failureDetails: string
                      supportsExternalPrinting: true
                      attachmentId: string
                      debtor:
                        customerId: string
                        displayName: string
                        customerAccountNumber: string
                        customerType: person
                        customerGroup:
                          id: string
                          name: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfAnnualStatementDTO'
              example:
                data:
                  results:
                    - annualStatementNumber: string
                      year: 0
                      version: 0
                      startDateTime: string
                      endDateTime: string
                      status: created
                      generationDate: string
                      sent: notsent
                      failureReasonCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      failureDetails: string
                      supportsExternalPrinting: true
                      attachmentId: string
                      debtor:
                        customerId: string
                        displayName: string
                        customerAccountNumber: string
                        customerType: person
                        customerGroup:
                          id: string
                          name: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/AnnualStatements/customer/{customerId}':
    post:
      tags:
        - Default
      summary: Creates a new annual statement for a specific customer.
      description: Creates a new annual statement for a specific customer.
      operationId: post-annualstatements-customer-customerid
      parameters:
        - name: customerId
          in: path
          description: The ID of the customer.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAnnualStatementRequest'
            example:
              year: 0
          text/json:
            schema:
              $ref: '#/components/schemas/CreateAnnualStatementRequest'
            example:
              year: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateAnnualStatementRequest'
            example:
              year: 0
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAnnualStatementDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAnnualStatementDTO'
              example:
                data:
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: created
                  generationDate: string
                  sent: notsent
                  failureReasonCode:
                    key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAnnualStatementDTO'
              example:
                data:
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: created
                  generationDate: string
                  sent: notsent
                  failureReasonCode:
                    key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/AnnualStatements/{annualStatementuuid}/send':
    post:
      tags:
        - Default
      summary: Sends an annual statement via email.
      description: Sends an annual statement via email.
      operationId: post-annualstatements-annualstatementuuid-send
      parameters:
        - name: annualStatementuuid
          in: path
          description: The ID of the annual statement.
          required: true
          schema:
            type: string
        - name: applyStartCommunicationIdempotency
          in: query
          description: 'When true, uses idempotency for StartCommunication (automatic send). User-initiated sends should pass false.'
          schema:
            type: boolean
            default: true
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAnnualStatementDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAnnualStatementDTO'
              example:
                data:
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: created
                  generationDate: string
                  sent: notsent
                  failureReasonCode:
                    key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAnnualStatementDTO'
              example:
                data:
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: created
                  generationDate: string
                  sent: notsent
                  failureReasonCode:
                    key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/AnnualStatements/{annualStatementuuid}/sendviapostal':
    post:
      tags:
        - Default
      summary: Sends an annual statement via postal mail.
      description: Sends an annual statement via postal mail.
      operationId: post-annualstatements-annualstatementuuid-sendviapostal
      parameters:
        - name: annualStatementuuid
          in: path
          description: The ID of the annual statement.
          required: true
          schema:
            type: string
        - name: applyStartCommunicationIdempotency
          in: query
          description: 'When true, uses idempotency for StartCommunication (automatic send). User-initiated sends should pass false.'
          schema:
            type: boolean
            default: false
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAnnualStatementDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAnnualStatementDTO'
              example:
                data:
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: created
                  generationDate: string
                  sent: notsent
                  failureReasonCode:
                    key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfAnnualStatementDTO'
              example:
                data:
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: created
                  generationDate: string
                  sent: notsent
                  failureReasonCode:
                    key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /AnnualStatements/bulk/send:
    post:
      tags:
        - Default
      summary: Sends multiple annual statements via email in bulk.
      description: Sends multiple annual statements via email in bulk.
      operationId: post-annualstatements-bulk-send
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSendAnnualStatementViaMailRequest'
            example:
              onlyValidate: true
              queryParams:
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              applyStartCommunicationIdempotency: true
          text/json:
            schema:
              $ref: '#/components/schemas/BulkSendAnnualStatementViaMailRequest'
            example:
              onlyValidate: true
              queryParams:
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              applyStartCommunicationIdempotency: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkSendAnnualStatementViaMailRequest'
            example:
              onlyValidate: true
              queryParams:
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              applyStartCommunicationIdempotency: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /AnnualStatements/bulk/sendviapostal:
    post:
      tags:
        - Default
      summary: Sends multiple annual statements via postal mail in bulk.
      description: Sends multiple annual statements via postal mail in bulk.
      operationId: post-annualstatements-bulk-sendviapostal
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSendAnnualStatementViaPostalRequest'
            example:
              onlyValidate: true
              queryParams:
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              applyStartCommunicationIdempotency: true
          text/json:
            schema:
              $ref: '#/components/schemas/BulkSendAnnualStatementViaPostalRequest'
            example:
              onlyValidate: true
              queryParams:
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              applyStartCommunicationIdempotency: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkSendAnnualStatementViaPostalRequest'
            example:
              onlyValidate: true
              queryParams:
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              applyStartCommunicationIdempotency: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BillingCompletenesses/filter:
    post:
      tags:
        - Default
      summary: Retrieves all billing completenesses based on the provided query parameters.
      description: Retrieves all billing completenesses based on the provided query parameters.
      operationId: FilterAllBillingCompletenesses
      parameters:
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: The order by clause.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              billingMethod: string
              statementType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
              customerType: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              billingMethod: string
              statementType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
              customerType: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              billingMethod: string
              statementType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
              customerType: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: A paged response containing the billing completenesses.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBillingCompletenessDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBillingCompletenessDTO'
              example:
                data:
                  results:
                    - contractId: string
                      contractNum: string
                      debtor:
                        customerId: string
                        displayName: string
                        customerAccountNumber: string
                        customerType: person
                        customerGroup:
                          id: string
                          name: string
                      billingRelationId: string
                      periodStartDateTime: string
                      periodEndDateTime: string
                      status: waiting
                      inputMissingDetails:
                        reason: unknown
                        extraInfo: string
                      hasCorrections: true
                      billingMethod: string
                      statementType: string
                      invoiceType: string
                      blocked: true
                      requiredQuantitiesGrouped:
                        contractRequiredQuantities:
                          - billingItemId: string
                            requiredQuantities:
                              - type: RequiredCustomEntityPropertyQuantityDTO
                                customEntityPropertyTypeId: string
                                receivingPeriods:
                                  - valueDecimal: 0
                                    valueNumber: 0
                                    startDateTime: string
                                    endDateTime: string
                                    receivingPeriodType: 0
                                askingPeriods:
                                  - startDateTime: string
                                    endDateTime: string
                                    complete: true
                                    inputMissingReason: unknown
                                    validationErrors:
                                      - reason: unknown
                                        error: 0
                                        problemEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        impactedEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        relatedEntities:
                                          - entitySubjectType: none
                                            entitySubjectId: string
                                tariffReferenceAskingPeriods:
                                  - startDateTime: string
                                    endDateTime: string
                                    complete: true
                                    inputMissingReason: unknown
                                    validationErrors:
                                      - reason: unknown
                                        error: 0
                                        problemEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        impactedEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        relatedEntities:
                                          - entitySubjectType: none
                                            entitySubjectId: string
                                tariffReferenceReceivingPeriods:
                                  - valueDecimal: 0
                                    valueNumber: 0
                                    startDateTime: string
                                    endDateTime: string
                                    receivingPeriodType: 0
                                billingItemId: string
                                serviceLocationId: string
                                complete: true
                                errors:
                                  - key: 0
                                    correlationId: string
                                    message: string
                                    messageValues:
                                      - dataType: text
                                        value: string
                                        capitalize: true
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                        locationRequiredQuantities:
                          - serviceLocationId: string
                            requiredQuantities:
                              - type: RequiredCustomEntityPropertyQuantityDTO
                                customEntityPropertyTypeId: string
                                receivingPeriods:
                                  - valueDecimal: 0
                                    valueNumber: 0
                                    startDateTime: string
                                    endDateTime: string
                                    receivingPeriodType: 0
                                askingPeriods:
                                  - startDateTime: string
                                    endDateTime: string
                                    complete: true
                                    inputMissingReason: unknown
                                    validationErrors:
                                      - reason: unknown
                                        error: 0
                                        problemEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        impactedEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        relatedEntities:
                                          - entitySubjectType: none
                                            entitySubjectId: string
                                tariffReferenceAskingPeriods:
                                  - startDateTime: string
                                    endDateTime: string
                                    complete: true
                                    inputMissingReason: unknown
                                    validationErrors:
                                      - reason: unknown
                                        error: 0
                                        problemEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        impactedEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        relatedEntities:
                                          - entitySubjectType: none
                                            entitySubjectId: string
                                tariffReferenceReceivingPeriods:
                                  - valueDecimal: 0
                                    valueNumber: 0
                                    startDateTime: string
                                    endDateTime: string
                                    receivingPeriodType: 0
                                billingItemId: string
                                serviceLocationId: string
                                complete: true
                                errors:
                                  - key: 0
                                    correlationId: string
                                    message: string
                                    messageValues:
                                      - dataType: text
                                        value: string
                                        capitalize: true
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                      advancePeriods:
                        - startDateTime: string
                          endDateTime: string
                          advanceAmountExclVAT: 0
                          advanceAmountInclVAT: 0
                          invoiceId: string
                          invoiceNum: string
                          invoiceDate: string
                          sentStatus: notsent
                          paid: true
                          automaticallyDeleted: true
                          manuallyDeleted: true
                          blockedReason: string
                      expectAdvancesToBeImportedPeriodically: true
                      invoicingUpfront: true
                      invoicingCheckpointDateTime: string
                      productId: string
                      propertyGroups:
                        - id: string
                          name: string
                      getDetailNavigationId: string
                      getDetailNavigationType: { }
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBillingCompletenessDTO'
              example:
                data:
                  results:
                    - contractId: string
                      contractNum: string
                      debtor:
                        customerId: string
                        displayName: string
                        customerAccountNumber: string
                        customerType: person
                        customerGroup:
                          id: string
                          name: string
                      billingRelationId: string
                      periodStartDateTime: string
                      periodEndDateTime: string
                      status: waiting
                      inputMissingDetails:
                        reason: unknown
                        extraInfo: string
                      hasCorrections: true
                      billingMethod: string
                      statementType: string
                      invoiceType: string
                      blocked: true
                      requiredQuantitiesGrouped:
                        contractRequiredQuantities:
                          - billingItemId: string
                            requiredQuantities:
                              - type: RequiredCustomEntityPropertyQuantityDTO
                                customEntityPropertyTypeId: string
                                receivingPeriods:
                                  - valueDecimal: 0
                                    valueNumber: 0
                                    startDateTime: string
                                    endDateTime: string
                                    receivingPeriodType: 0
                                askingPeriods:
                                  - startDateTime: string
                                    endDateTime: string
                                    complete: true
                                    inputMissingReason: unknown
                                    validationErrors:
                                      - reason: unknown
                                        error: 0
                                        problemEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        impactedEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        relatedEntities:
                                          - entitySubjectType: none
                                            entitySubjectId: string
                                tariffReferenceAskingPeriods:
                                  - startDateTime: string
                                    endDateTime: string
                                    complete: true
                                    inputMissingReason: unknown
                                    validationErrors:
                                      - reason: unknown
                                        error: 0
                                        problemEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        impactedEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        relatedEntities:
                                          - entitySubjectType: none
                                            entitySubjectId: string
                                tariffReferenceReceivingPeriods:
                                  - valueDecimal: 0
                                    valueNumber: 0
                                    startDateTime: string
                                    endDateTime: string
                                    receivingPeriodType: 0
                                billingItemId: string
                                serviceLocationId: string
                                complete: true
                                errors:
                                  - key: 0
                                    correlationId: string
                                    message: string
                                    messageValues:
                                      - dataType: text
                                        value: string
                                        capitalize: true
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                        locationRequiredQuantities:
                          - serviceLocationId: string
                            requiredQuantities:
                              - type: RequiredCustomEntityPropertyQuantityDTO
                                customEntityPropertyTypeId: string
                                receivingPeriods:
                                  - valueDecimal: 0
                                    valueNumber: 0
                                    startDateTime: string
                                    endDateTime: string
                                    receivingPeriodType: 0
                                askingPeriods:
                                  - startDateTime: string
                                    endDateTime: string
                                    complete: true
                                    inputMissingReason: unknown
                                    validationErrors:
                                      - reason: unknown
                                        error: 0
                                        problemEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        impactedEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        relatedEntities:
                                          - entitySubjectType: none
                                            entitySubjectId: string
                                tariffReferenceAskingPeriods:
                                  - startDateTime: string
                                    endDateTime: string
                                    complete: true
                                    inputMissingReason: unknown
                                    validationErrors:
                                      - reason: unknown
                                        error: 0
                                        problemEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        impactedEntity:
                                          entitySubjectType: none
                                          entitySubjectId: string
                                        relatedEntities:
                                          - entitySubjectType: none
                                            entitySubjectId: string
                                tariffReferenceReceivingPeriods:
                                  - valueDecimal: 0
                                    valueNumber: 0
                                    startDateTime: string
                                    endDateTime: string
                                    receivingPeriodType: 0
                                billingItemId: string
                                serviceLocationId: string
                                complete: true
                                errors:
                                  - key: 0
                                    correlationId: string
                                    message: string
                                    messageValues:
                                      - dataType: text
                                        value: string
                                        capitalize: true
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                      advancePeriods:
                        - startDateTime: string
                          endDateTime: string
                          advanceAmountExclVAT: 0
                          advanceAmountInclVAT: 0
                          invoiceId: string
                          invoiceNum: string
                          invoiceDate: string
                          sentStatus: notsent
                          paid: true
                          automaticallyDeleted: true
                          manuallyDeleted: true
                          blockedReason: string
                      expectAdvancesToBeImportedPeriodically: true
                      invoicingUpfront: true
                      invoicingCheckpointDateTime: string
                      productId: string
                      propertyGroups:
                        - id: string
                          name: string
                      getDetailNavigationId: string
                      getDetailNavigationType: { }
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BillingCompletenesses/filter/overviewcount:
    post:
      tags:
        - Default
      summary: Retrieves the overview count of billing completeness based on the provided query parameters.
      description: Retrieves the overview count of billing completeness based on the provided query parameters.
      operationId: post-billingcompletenesses-filter-overviewcount
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              billingMethod: string
              statementType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
              customerType: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              billingMethod: string
              statementType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
              customerType: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              billingMethod: string
              statementType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
              customerType: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: The overview count of invoices.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingCompletenessOverviewCountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingCompletenessOverviewCountDTO'
              example:
                data:
                  all: 0
                  waiting: 0
                  inputMissing: 0
                  manuallyCorrected: 0
                  previousStillOpen: 0
                  missingAdvances: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingCompletenessOverviewCountDTO'
              example:
                data:
                  all: 0
                  waiting: 0
                  inputMissing: 0
                  manuallyCorrected: 0
                  previousStillOpen: 0
                  missingAdvances: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/BillingCompletenesses/{billingCompletenessId}':
    get:
      tags:
        - Default
      summary: Retrieves a specific billing completeness by its ID.
      description: Retrieves a specific billing completeness by its ID.
      operationId: GetBillingCompleteness
      parameters:
        - name: billingCompletenessId
          in: path
          description: The ID of the billing completeness.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: The billing completeness.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingCompletenessDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingCompletenessDTO'
              example:
                data:
                  contractId: string
                  contractNum: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  billingRelationId: string
                  periodStartDateTime: string
                  periodEndDateTime: string
                  status: waiting
                  inputMissingDetails:
                    reason: unknown
                    extraInfo: string
                  hasCorrections: true
                  billingMethod: string
                  statementType: string
                  invoiceType: string
                  blocked: true
                  requiredQuantitiesGrouped:
                    contractRequiredQuantities:
                      - billingItemId: string
                        requiredQuantities:
                          - type: RequiredCustomEntityPropertyQuantityDTO
                            customEntityPropertyTypeId: string
                            receivingPeriods:
                              - valueDecimal: 0
                                valueNumber: 0
                                startDateTime: string
                                endDateTime: string
                                receivingPeriodType: 0
                            askingPeriods:
                              - startDateTime: string
                                endDateTime: string
                                complete: true
                                inputMissingReason: unknown
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                            tariffReferenceAskingPeriods:
                              - startDateTime: string
                                endDateTime: string
                                complete: true
                                inputMissingReason: unknown
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                            tariffReferenceReceivingPeriods:
                              - valueDecimal: 0
                                valueNumber: 0
                                startDateTime: string
                                endDateTime: string
                                receivingPeriodType: 0
                            billingItemId: string
                            serviceLocationId: string
                            complete: true
                            errors:
                              - key: 0
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: text
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: unknown
                                error: 0
                                problemEntity:
                                  entitySubjectType: none
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: none
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: none
                                    entitySubjectId: string
                    locationRequiredQuantities:
                      - serviceLocationId: string
                        requiredQuantities:
                          - type: RequiredCustomEntityPropertyQuantityDTO
                            customEntityPropertyTypeId: string
                            receivingPeriods:
                              - valueDecimal: 0
                                valueNumber: 0
                                startDateTime: string
                                endDateTime: string
                                receivingPeriodType: 0
                            askingPeriods:
                              - startDateTime: string
                                endDateTime: string
                                complete: true
                                inputMissingReason: unknown
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                            tariffReferenceAskingPeriods:
                              - startDateTime: string
                                endDateTime: string
                                complete: true
                                inputMissingReason: unknown
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                            tariffReferenceReceivingPeriods:
                              - valueDecimal: 0
                                valueNumber: 0
                                startDateTime: string
                                endDateTime: string
                                receivingPeriodType: 0
                            billingItemId: string
                            serviceLocationId: string
                            complete: true
                            errors:
                              - key: 0
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: text
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: unknown
                                error: 0
                                problemEntity:
                                  entitySubjectType: none
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: none
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: none
                                    entitySubjectId: string
                  advancePeriods:
                    - startDateTime: string
                      endDateTime: string
                      advanceAmountExclVAT: 0
                      advanceAmountInclVAT: 0
                      invoiceId: string
                      invoiceNum: string
                      invoiceDate: string
                      sentStatus: notsent
                      paid: true
                      automaticallyDeleted: true
                      manuallyDeleted: true
                      blockedReason: string
                  expectAdvancesToBeImportedPeriodically: true
                  invoicingUpfront: true
                  invoicingCheckpointDateTime: string
                  productId: string
                  propertyGroups:
                    - id: string
                      name: string
                  getDetailNavigationId: string
                  getDetailNavigationType: { }
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingCompletenessDTO'
              example:
                data:
                  contractId: string
                  contractNum: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  billingRelationId: string
                  periodStartDateTime: string
                  periodEndDateTime: string
                  status: waiting
                  inputMissingDetails:
                    reason: unknown
                    extraInfo: string
                  hasCorrections: true
                  billingMethod: string
                  statementType: string
                  invoiceType: string
                  blocked: true
                  requiredQuantitiesGrouped:
                    contractRequiredQuantities:
                      - billingItemId: string
                        requiredQuantities:
                          - type: RequiredCustomEntityPropertyQuantityDTO
                            customEntityPropertyTypeId: string
                            receivingPeriods:
                              - valueDecimal: 0
                                valueNumber: 0
                                startDateTime: string
                                endDateTime: string
                                receivingPeriodType: 0
                            askingPeriods:
                              - startDateTime: string
                                endDateTime: string
                                complete: true
                                inputMissingReason: unknown
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                            tariffReferenceAskingPeriods:
                              - startDateTime: string
                                endDateTime: string
                                complete: true
                                inputMissingReason: unknown
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                            tariffReferenceReceivingPeriods:
                              - valueDecimal: 0
                                valueNumber: 0
                                startDateTime: string
                                endDateTime: string
                                receivingPeriodType: 0
                            billingItemId: string
                            serviceLocationId: string
                            complete: true
                            errors:
                              - key: 0
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: text
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: unknown
                                error: 0
                                problemEntity:
                                  entitySubjectType: none
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: none
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: none
                                    entitySubjectId: string
                    locationRequiredQuantities:
                      - serviceLocationId: string
                        requiredQuantities:
                          - type: RequiredCustomEntityPropertyQuantityDTO
                            customEntityPropertyTypeId: string
                            receivingPeriods:
                              - valueDecimal: 0
                                valueNumber: 0
                                startDateTime: string
                                endDateTime: string
                                receivingPeriodType: 0
                            askingPeriods:
                              - startDateTime: string
                                endDateTime: string
                                complete: true
                                inputMissingReason: unknown
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                            tariffReferenceAskingPeriods:
                              - startDateTime: string
                                endDateTime: string
                                complete: true
                                inputMissingReason: unknown
                                validationErrors:
                                  - reason: unknown
                                    error: 0
                                    problemEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: none
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: none
                                        entitySubjectId: string
                            tariffReferenceReceivingPeriods:
                              - valueDecimal: 0
                                valueNumber: 0
                                startDateTime: string
                                endDateTime: string
                                receivingPeriodType: 0
                            billingItemId: string
                            serviceLocationId: string
                            complete: true
                            errors:
                              - key: 0
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: text
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: unknown
                                error: 0
                                problemEntity:
                                  entitySubjectType: none
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: none
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: none
                                    entitySubjectId: string
                  advancePeriods:
                    - startDateTime: string
                      endDateTime: string
                      advanceAmountExclVAT: 0
                      advanceAmountInclVAT: 0
                      invoiceId: string
                      invoiceNum: string
                      invoiceDate: string
                      sentStatus: notsent
                      paid: true
                      automaticallyDeleted: true
                      manuallyDeleted: true
                      blockedReason: string
                  expectAdvancesToBeImportedPeriodically: true
                  invoicingUpfront: true
                  invoicingCheckpointDateTime: string
                  productId: string
                  propertyGroups:
                    - id: string
                      name: string
                  getDetailNavigationId: string
                  getDetailNavigationType: { }
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    post:
      tags:
        - Default
      summary: Triggers billing for a specific billing completeness.
      description: Triggers billing for a specific billing completeness.
      operationId: post-billingcompletenesses-billingcompletenessid
      parameters:
        - name: billingCompletenessId
          in: path
          description: The ID of the billing completeness.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerBillingCompletenessRequest'
            example:
              onlyAdvances: true
              recalculateIfNeeded: true
              advanceUntilDateTime: string
              overrideEstimatedMeasurementCreation: true
          text/json:
            schema:
              $ref: '#/components/schemas/TriggerBillingCompletenessRequest'
            example:
              onlyAdvances: true
              recalculateIfNeeded: true
              advanceUntilDateTime: string
              overrideEstimatedMeasurementCreation: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/TriggerBillingCompletenessRequest'
            example:
              onlyAdvances: true
              recalculateIfNeeded: true
              advanceUntilDateTime: string
              overrideEstimatedMeasurementCreation: true
      responses:
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingCompletenessDTO'
              examples:
[...]
