openapi: 3.0.1
info:
  title: Billing
  description: Billing API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/bill
paths:
  /AnnualStatements/filter:
    post:
      tags:
        - AnnualStatements
      summary: Retrieves all annual statements based on the provided query parameters.
      description: Retrieves all annual statements based on the provided query parameters.
      operationId: post-annualstatements-filter
      parameters:
        - name: orderBy
          in: query
          description: The order by clause.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The query parameters for filtering annual statements.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetAnnualStatementsQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              customerId: string
              statuses:
                - string
              year: 0
              limit: 0
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetAnnualStatementsQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              customerId: string
              statuses:
                - string
              year: 0
              limit: 0
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetAnnualStatementsQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              customerId: string
              statuses:
                - string
              year: 0
              limit: 0
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      annualStatementNumber: string
                      year: 0
                      version: 0
                      startDateTime: string
                      endDateTime: string
                      status: { }
                      generationDate: string
                      sent: { }
                      failureReasonCode:
                        key: { }
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: { }
                            value: string
                            capitalize: true
                      failureDetails: string
                      supportsExternalPrinting: true
                      attachmentId: string
                      debtor:
                        customerId: string
                        displayName: string
                        customerAccountNumber: string
                        customerType: { }
                        customerGroup:
                          id: string
                          name: string
                      propertyGroups:
                        - id: string
                          name: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      annualStatementNumber: string
                      year: 0
                      version: 0
                      startDateTime: string
                      endDateTime: string
                      status: { }
                      generationDate: string
                      sent: { }
                      failureReasonCode:
                        key: { }
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: { }
                            value: string
                            capitalize: true
                      failureDetails: string
                      supportsExternalPrinting: true
                      attachmentId: string
                      debtor:
                        customerId: string
                        displayName: string
                        customerAccountNumber: string
                        customerType: { }
                        customerGroup:
                          id: string
                          name: string
                      propertyGroups:
                        - id: string
                          name: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
  '/AnnualStatements/customer/{customerId}':
    post:
      tags:
        - AnnualStatements
      summary: Creates a new annual statement for a specific customer.
      description: Creates a new annual statement for a specific customer.
      operationId: post-annualstatements-customer-customerid
      parameters:
        - name: customerId
          in: path
          description: The ID of the customer.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing the details for the new annual statement.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateAnnualStatementRequest'
              description: "Represents a request to create an annual statement.\r\nThis DTO is used to generate an annual statement for a specific year."
            example:
              year: 0
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateAnnualStatementRequest'
              description: "Represents a request to create an annual statement.\r\nThis DTO is used to generate an annual statement for a specific year."
            example:
              year: 0
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateAnnualStatementRequest'
              description: "Represents a request to create an annual statement.\r\nThis DTO is used to generate an annual statement for a specific year."
            example:
              year: 0
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: { }
                  generationDate: string
                  sent: { }
                  failureReasonCode:
                    key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  propertyGroups:
                    - id: string
                      name: string
            text/json:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: { }
                  generationDate: string
                  sent: { }
                  failureReasonCode:
                    key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  propertyGroups:
                    - id: string
                      name: string
  '/AnnualStatements/{annualStatementuuid}/send':
    post:
      tags:
        - AnnualStatements
      summary: Sends an annual statement via email.
      description: Sends an annual statement via email.
      operationId: post-annualstatements-annualstatementuuid-send
      parameters:
        - name: annualStatementuuid
          in: path
          description: The ID of the annual statement.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: { }
                  generationDate: string
                  sent: { }
                  failureReasonCode:
                    key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  propertyGroups:
                    - id: string
                      name: string
            text/json:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: { }
                  generationDate: string
                  sent: { }
                  failureReasonCode:
                    key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  propertyGroups:
                    - id: string
                      name: string
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/AnnualStatements/{annualStatementuuid}/sendviapostal':
    post:
      tags:
        - AnnualStatements
      summary: Sends an annual statement via postal mail.
      description: Sends an annual statement via postal mail.
      operationId: post-annualstatements-annualstatementuuid-sendviapostal
      parameters:
        - name: annualStatementuuid
          in: path
          description: The ID of the annual statement.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: { }
                  generationDate: string
                  sent: { }
                  failureReasonCode:
                    key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  propertyGroups:
                    - id: string
                      name: string
            text/json:
              schema:
                $ref: '#/components/schemas/AnnualStatementDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  annualStatementNumber: string
                  year: 0
                  version: 0
                  startDateTime: string
                  endDateTime: string
                  status: { }
                  generationDate: string
                  sent: { }
                  failureReasonCode:
                    key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                  failureDetails: string
                  supportsExternalPrinting: true
                  attachmentId: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  propertyGroups:
                    - id: string
                      name: string
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /AnnualStatements/bulk/send:
    post:
      tags:
        - AnnualStatements
      summary: Sends multiple annual statements via email in bulk.
      description: Sends multiple annual statements via email in bulk.
      operationId: post-annualstatements-bulk-send
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The bulk send annual statement via email request containing the details of the annual statements to be sent.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkSendAnnualStatementViaMailRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
              quickFilter: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkSendAnnualStatementViaMailRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
              quickFilter: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkSendAnnualStatementViaMailRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
              quickFilter: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /AnnualStatements/bulk/sendviapostal:
    post:
      tags:
        - AnnualStatements
      summary: Sends multiple annual statements via postal mail in bulk.
      description: Sends multiple annual statements via postal mail in bulk.
      operationId: post-annualstatements-bulk-sendviapostal
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The bulk send annual statement via postal request containing the details of the annual statements to be sent.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkSendAnnualStatementViaPostalRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
              quickFilter: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkSendAnnualStatementViaPostalRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
              quickFilter: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkSendAnnualStatementViaPostalRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                customerId: string
                statuses:
                  - string
                year: 0
                limit: 0
              quickFilter: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BillingCompletenesses/filter:
    post:
      tags:
        - BillingCompletenesses
      summary: Retrieves all billing completenesses based on the provided query parameters.
      description: Retrieves all billing completenesses based on the provided query parameters.
      operationId: FilterAllBillingCompletenesses
      parameters:
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: The order by clause.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The query parameters for filtering billing completenesses.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingCompletenessDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCompletenessDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      contractId: string
                      contractNum: string
                      debtor:
                        customerId: string
                        displayName: string
                        customerAccountNumber: string
                        customerType: { }
                        customerGroup:
                          id: string
                          name: string
                      billingRelationId: string
                      periodStartDateTime: string
                      periodEndDateTime: string
                      status: { }
                      inputMissingDetails:
                        reason: { }
                        extraInfo: string
                      hasCorrections: true
                      invoiceType: { }
                      blocked: true
                      requiredQuantitiesGrouped:
                        contractRequiredQuantities:
                          - billingItemId: string
                            requiredQuantities:
                              - billingItemId: string
                                serviceLocationId: string
                                calculationGroupId: string
                                complete: true
                                errors:
                                  - key: { }
                                    correlationId: string
                                    message: string
                                    messageValues:
                                      - dataType: { }
                                        value: string
                                        capitalize: true
                                validationErrors:
                                  - reason: { }
                                    error: { }
                                    problemEntity:
                                      entitySubjectType: { }
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: { }
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: { }
                                        entitySubjectId: string
                        locationRequiredQuantities:
                          - serviceLocationId: string
                            requiredQuantities:
                              - billingItemId: string
                                serviceLocationId: string
                                calculationGroupId: string
                                complete: true
                                errors:
                                  - key: { }
                                    correlationId: string
                                    message: string
                                    messageValues:
                                      - dataType: { }
                                        value: string
                                        capitalize: true
                                validationErrors:
                                  - reason: { }
                                    error: { }
                                    problemEntity:
                                      entitySubjectType: { }
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: { }
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: { }
                                        entitySubjectId: string
                      advancePeriods:
                        - startDateTime: string
                          endDateTime: string
                          advanceAmountExclVAT: 0
                          invoiceId: string
                          invoiceNum: string
                          invoiceDate: string
                          sentStatus: { }
                          paid: true
                          automaticallyDeleted: true
                          manuallyDeleted: true
                      expectAdvancesToBeImportedPeriodically: true
                      costAllocationBillable: true
                      invoicingUpfront: true
                      invoicingCheckpointDateTime: string
                      productId: string
                      propertyGroups:
                        - id: string
                          name: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/BillingCompletenessDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      contractId: string
                      contractNum: string
                      debtor:
                        customerId: string
                        displayName: string
                        customerAccountNumber: string
                        customerType: { }
                        customerGroup:
                          id: string
                          name: string
                      billingRelationId: string
                      periodStartDateTime: string
                      periodEndDateTime: string
                      status: { }
                      inputMissingDetails:
                        reason: { }
                        extraInfo: string
                      hasCorrections: true
                      invoiceType: { }
                      blocked: true
                      requiredQuantitiesGrouped:
                        contractRequiredQuantities:
                          - billingItemId: string
                            requiredQuantities:
                              - billingItemId: string
                                serviceLocationId: string
                                calculationGroupId: string
                                complete: true
                                errors:
                                  - key: { }
                                    correlationId: string
                                    message: string
                                    messageValues:
                                      - dataType: { }
                                        value: string
                                        capitalize: true
                                validationErrors:
                                  - reason: { }
                                    error: { }
                                    problemEntity:
                                      entitySubjectType: { }
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: { }
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: { }
                                        entitySubjectId: string
                        locationRequiredQuantities:
                          - serviceLocationId: string
                            requiredQuantities:
                              - billingItemId: string
                                serviceLocationId: string
                                calculationGroupId: string
                                complete: true
                                errors:
                                  - key: { }
                                    correlationId: string
                                    message: string
                                    messageValues:
                                      - dataType: { }
                                        value: string
                                        capitalize: true
                                validationErrors:
                                  - reason: { }
                                    error: { }
                                    problemEntity:
                                      entitySubjectType: { }
                                      entitySubjectId: string
                                    impactedEntity:
                                      entitySubjectType: { }
                                      entitySubjectId: string
                                    relatedEntities:
                                      - entitySubjectType: { }
                                        entitySubjectId: string
                      advancePeriods:
                        - startDateTime: string
                          endDateTime: string
                          advanceAmountExclVAT: 0
                          invoiceId: string
                          invoiceNum: string
                          invoiceDate: string
                          sentStatus: { }
                          paid: true
                          automaticallyDeleted: true
                          manuallyDeleted: true
                      expectAdvancesToBeImportedPeriodically: true
                      costAllocationBillable: true
                      invoicingUpfront: true
                      invoicingCheckpointDateTime: string
                      productId: string
                      propertyGroups:
                        - id: string
                          name: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
  /BillingCompletenesses/filter/overviewcount:
    post:
      tags:
        - BillingCompletenesses
      summary: Retrieves the overview count of billing completeness based on the provided query parameters.
      description: Retrieves the overview count of billing completeness based on the provided query parameters.
      operationId: post-billingcompletenesses-filter-overviewcount
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The query parameters for filtering invoices.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetBillingCompletenessQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              billingRelationId: string
              customerId: string
              propertyGroupIds:
                - string
              contractId: string
              invoiceType: string
              status: string
              onlyOpen: true
              skipBlocked: true
              periodStartDateTime: string
              periodEndDateTime: string
              invoicingCheckpointStartDateTime: string
              invoicingCheckpointEndDateTime: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingCompletenessOverviewCountDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCompletenessOverviewCountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  all: 0
                  waiting: 0
                  inputMissing: 0
                  manuallyCorrected: 0
                  previousStillOpen: 0
                  missingAdvances: 0
            text/json:
              schema:
                $ref: '#/components/schemas/BillingCompletenessOverviewCountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  all: 0
                  waiting: 0
                  inputMissing: 0
                  manuallyCorrected: 0
                  previousStillOpen: 0
                  missingAdvances: 0
  '/BillingCompletenesses/{billingCompletenessId}':
    get:
      tags:
        - BillingCompletenesses
      summary: Retrieves a specific billing completeness by its ID.
      description: Retrieves a specific billing completeness by its ID.
      operationId: GetBillingCompleteness
      parameters:
        - name: billingCompletenessId
          in: path
          description: The ID of the billing completeness.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingCompletenessDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCompletenessDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractId: string
                  contractNum: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  billingRelationId: string
                  periodStartDateTime: string
                  periodEndDateTime: string
                  status: { }
                  inputMissingDetails:
                    reason: { }
                    extraInfo: string
                  hasCorrections: true
                  invoiceType: { }
                  blocked: true
                  requiredQuantitiesGrouped:
                    contractRequiredQuantities:
                      - billingItemId: string
                        requiredQuantities:
                          - billingItemId: string
                            serviceLocationId: string
                            calculationGroupId: string
                            complete: true
                            errors:
                              - key: { }
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: { }
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: { }
                                error: { }
                                problemEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: { }
                                    entitySubjectId: string
                    locationRequiredQuantities:
                      - serviceLocationId: string
                        requiredQuantities:
                          - billingItemId: string
                            serviceLocationId: string
                            calculationGroupId: string
                            complete: true
                            errors:
                              - key: { }
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: { }
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: { }
                                error: { }
                                problemEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: { }
                                    entitySubjectId: string
                  advancePeriods:
                    - startDateTime: string
                      endDateTime: string
                      advanceAmountExclVAT: 0
                      invoiceId: string
                      invoiceNum: string
                      invoiceDate: string
                      sentStatus: { }
                      paid: true
                      automaticallyDeleted: true
                      manuallyDeleted: true
                  expectAdvancesToBeImportedPeriodically: true
                  costAllocationBillable: true
                  invoicingUpfront: true
                  invoicingCheckpointDateTime: string
                  productId: string
                  propertyGroups:
                    - id: string
                      name: string
            text/json:
              schema:
                $ref: '#/components/schemas/BillingCompletenessDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractId: string
                  contractNum: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  billingRelationId: string
                  periodStartDateTime: string
                  periodEndDateTime: string
                  status: { }
                  inputMissingDetails:
                    reason: { }
                    extraInfo: string
                  hasCorrections: true
                  invoiceType: { }
                  blocked: true
                  requiredQuantitiesGrouped:
                    contractRequiredQuantities:
                      - billingItemId: string
                        requiredQuantities:
                          - billingItemId: string
                            serviceLocationId: string
                            calculationGroupId: string
                            complete: true
                            errors:
                              - key: { }
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: { }
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: { }
                                error: { }
                                problemEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: { }
                                    entitySubjectId: string
                    locationRequiredQuantities:
                      - serviceLocationId: string
                        requiredQuantities:
                          - billingItemId: string
                            serviceLocationId: string
                            calculationGroupId: string
                            complete: true
                            errors:
                              - key: { }
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: { }
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: { }
                                error: { }
                                problemEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: { }
                                    entitySubjectId: string
                  advancePeriods:
                    - startDateTime: string
                      endDateTime: string
                      advanceAmountExclVAT: 0
                      invoiceId: string
                      invoiceNum: string
                      invoiceDate: string
                      sentStatus: { }
                      paid: true
                      automaticallyDeleted: true
                      manuallyDeleted: true
                  expectAdvancesToBeImportedPeriodically: true
                  costAllocationBillable: true
                  invoicingUpfront: true
                  invoicingCheckpointDateTime: string
                  productId: string
                  propertyGroups:
                    - id: string
                      name: string
    post:
      tags:
        - BillingCompletenesses
      summary: Triggers billing for a specific billing completeness.
      description: Triggers billing for a specific billing completeness.
      operationId: post-billingcompletenesses-billingcompletenessid
      parameters:
        - name: billingCompletenessId
          in: path
          description: The ID of the billing completeness.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing the details for triggering billing.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TriggerBillingCompletenessRequest'
              description: Represents a request to trigger billing completeness calculation
            example:
              onlyAdvances: true
              recalculateIfNeeded: true
              advanceUntilDateTime: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TriggerBillingCompletenessRequest'
              description: Represents a request to trigger billing completeness calculation
            example:
              onlyAdvances: true
              recalculateIfNeeded: true
              advanceUntilDateTime: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TriggerBillingCompletenessRequest'
              description: Represents a request to trigger billing completeness calculation
            example:
              onlyAdvances: true
              recalculateIfNeeded: true
              advanceUntilDateTime: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingCompletenessDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCompletenessDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractId: string
                  contractNum: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  billingRelationId: string
                  periodStartDateTime: string
                  periodEndDateTime: string
                  status: { }
                  inputMissingDetails:
                    reason: { }
                    extraInfo: string
                  hasCorrections: true
                  invoiceType: { }
                  blocked: true
                  requiredQuantitiesGrouped:
                    contractRequiredQuantities:
                      - billingItemId: string
                        requiredQuantities:
                          - billingItemId: string
                            serviceLocationId: string
                            calculationGroupId: string
                            complete: true
                            errors:
                              - key: { }
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: { }
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: { }
                                error: { }
                                problemEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: { }
                                    entitySubjectId: string
                    locationRequiredQuantities:
                      - serviceLocationId: string
                        requiredQuantities:
                          - billingItemId: string
                            serviceLocationId: string
                            calculationGroupId: string
                            complete: true
                            errors:
                              - key: { }
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: { }
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: { }
                                error: { }
                                problemEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: { }
                                    entitySubjectId: string
                  advancePeriods:
                    - startDateTime: string
                      endDateTime: string
                      advanceAmountExclVAT: 0
                      invoiceId: string
                      invoiceNum: string
                      invoiceDate: string
                      sentStatus: { }
                      paid: true
                      automaticallyDeleted: true
                      manuallyDeleted: true
                  expectAdvancesToBeImportedPeriodically: true
                  costAllocationBillable: true
                  invoicingUpfront: true
                  invoicingCheckpointDateTime: string
                  productId: string
                  propertyGroups:
                    - id: string
                      name: string
            text/json:
              schema:
                $ref: '#/components/schemas/BillingCompletenessDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractId: string
                  contractNum: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  billingRelationId: string
                  periodStartDateTime: string
                  periodEndDateTime: string
                  status: { }
                  inputMissingDetails:
                    reason: { }
                    extraInfo: string
                  hasCorrections: true
                  invoiceType: { }
                  blocked: true
                  requiredQuantitiesGrouped:
                    contractRequiredQuantities:
                      - billingItemId: string
                        requiredQuantities:
                          - billingItemId: string
                            serviceLocationId: string
                            calculationGroupId: string
                            complete: true
                            errors:
                              - key: { }
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: { }
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: { }
                                error: { }
                                problemEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: { }
                                    entitySubjectId: string
                    locationRequiredQuantities:
                      - serviceLocationId: string
                        requiredQuantities:
                          - billingItemId: string
                            serviceLocationId: string
                            calculationGroupId: string
                            complete: true
                            errors:
                              - key: { }
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: { }
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: { }
                                error: { }
                                problemEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: { }
                                    entitySubjectId: string
                  advancePeriods:
                    - startDateTime: string
                      endDateTime: string
                      advanceAmountExclVAT: 0
                      invoiceId: string
                      invoiceNum: string
                      invoiceDate: string
                      sentStatus: { }
                      paid: true
                      automaticallyDeleted: true
                      manuallyDeleted: true
                  expectAdvancesToBeImportedPeriodically: true
                  costAllocationBillable: true
                  invoicingUpfront: true
                  invoicingCheckpointDateTime: string
                  productId: string
                  propertyGroups:
                    - id: string
                      name: string
  '/BillingCompletenesses/{billingRelationId}/insights':
    get:
      tags:
        - BillingCompletenesses
      summary: Retrieves billing completeness insights for a specific billing relation ID.
      description: Retrieves billing completeness insights for a specific billing relation ID.
      operationId: get-billingcompletenesses-billingrelationid-insights
      parameters:
        - name: billingRelationId
          in: path
          description: The ID of the billing relation.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingCompletenessInsightsResponseDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingCompletenessInsightsResponseDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  nextAdvanceStartDateTime: string
                  advanceFrequency: { }
                  advanceAmount: 0
                  advancesCreated: 0
                  advancesNeeded: 0
                  invoiceFrequency: { }
                  activeInvoiceStartDateTime: string
                  activeInvoiceEndDateTime: string
                  activeStatus: { }
                  activeBillingCompletenessId: string
                  estimatedInvoiceId: string
                  estimatedInvoiceAmount: 0
                  hasOpenAdvancePeriodsWithDifferentTaxRate: true
                  accuracyState: { }
                  draftInvoiceId: string
                  draftInvoiceAmount: 0
            text/json:
              schema:
                $ref: '#/components/schemas/BillingCompletenessInsightsResponseDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  nextAdvanceStartDateTime: string
                  advanceFrequency: { }
                  advanceAmount: 0
                  advancesCreated: 0
                  advancesNeeded: 0
                  invoiceFrequency: { }
                  activeInvoiceStartDateTime: string
                  activeInvoiceEndDateTime: string
                  activeStatus: { }
                  activeBillingCompletenessId: string
                  estimatedInvoiceId: string
                  estimatedInvoiceAmount: 0
                  hasOpenAdvancePeriodsWithDifferentTaxRate: true
                  accuracyState: { }
                  draftInvoiceId: string
                  draftInvoiceAmount: 0
  '/BillingCompletenesses/{billingCompletenessId}/estimations':
    get:
      tags:
        - BillingCompletenesses
      summary: Retrieves the estimated billing completeness for a specific billing completeness ID.
      description: Retrieves the estimated billing completeness for a specific billing completeness ID.
      operationId: GetEstimatedBillingCompleteness
      parameters:
        - name: billingCompletenessId
          in: path
          description: The ID of the billing completeness.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EstimatedBillingCompletenessDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/EstimatedBillingCompletenessDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractId: string
                  contractNum: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  billingRelationId: string
                  periodStartDateTime: string
                  periodEndDateTime: string
                  status: { }
                  inputMissingDetails:
                    reason: { }
                    extraInfo: string
                  hasCorrections: true
                  invoiceType: { }
                  blocked: true
                  requiredQuantitiesGrouped:
                    contractRequiredQuantities:
                      - billingItemId: string
                        requiredQuantities:
                          - billingItemId: string
                            serviceLocationId: string
                            calculationGroupId: string
                            complete: true
                            errors:
                              - key: { }
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: { }
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: { }
                                error: { }
                                problemEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: { }
                                    entitySubjectId: string
                    locationRequiredQuantities:
                      - serviceLocationId: string
                        requiredQuantities:
                          - billingItemId: string
                            serviceLocationId: string
                            calculationGroupId: string
                            complete: true
                            errors:
                              - key: { }
                                correlationId: string
                                message: string
                                messageValues:
                                  - dataType: { }
                                    value: string
                                    capitalize: true
                            validationErrors:
                              - reason: { }
                                error: { }
                                problemEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                impactedEntity:
                                  entitySubjectType: { }
                                  entitySubjectId: string
                                relatedEntities:
                                  - entitySubjectType: { }
                                    entitySubjectId: string
                  advancePeriods:
                    - startDateTime: string
                      endDateTime: string
                      advanceAmountExclVAT: 0
                      invoiceId: string
                      invoiceNum: string
                      invoiceDate: string
                      sentStatus: { }
                      paid: true
                      automaticallyDeleted: true
                      manuallyDeleted: true
                  expectAdvancesToBeImportedPeriodically: true
                  costAllocationBillable: true
                  invoicingUpfront: true
                  invoicingCheckpointDateTime: string
                  productId: string
                  propertyGroups:
                    - id: string
                      name: string
                  originalBillingCompletenessId: string
                  estimationMessagesRequested:
                    - string
                  validationErrors:
                    - errorCode: { }
                      values:
                        - dataType: { }
                          value: string
                          capitalize: true
            text/json:
              schema:
                $ref: '#/components/schemas/EstimatedBillingCompletenessDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractId: string
                  contractNum: string
                  debtor:
                    customerId: string
                    displayName: string
                    customerAccountNumber: string
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  billingRelationId: string
                  periodStartDateTime: string
                  periodEndDateTime: string
[...]
