openapi: 3.0.1
info:
  title: Communication
  description: Communication API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/comm
paths:
  '/CommunicationEntries/filter/customer/{customerId}':
    post:
      tags:
        - Default
      summary: Retrieves communication entries for a specific customer based on the provided query parameters and filters.
      description: Retrieves communication entries for a specific customer based on the provided query parameters and filters.
      operationId: post-communicationentries-filter-customer-customerid
      parameters:
        - name: customerId
          in: path
          description: The ID of the customer.
          required: true
          schema:
            type: string
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: The order by clause.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: A paged response containing the communication entries.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationEntryDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationEntryDTO'
              example:
                data:
                  results:
                    - subjectType: string
                      subjectSubtype: string
                      subjectId: string
                      reference: string
                      communicationType: string
                      title: string
                      target:
                        customerId: string
                        customerDisplayName: string
                        customerAccountNumber: string
                        address:
                          streetName: string
                          streetNumber: string
                          streetNumberAddition: string
                          postalCode: string
                          buildingName: string
                          locality: string
                          city: string
                          country: aut
                          localizedDisplay: string
                          lineOne: string
                          lineTwo: string
                        email: string
                        preferredCommunicationType: string
                        mobilePhoneNumber: string
                      sentRequested: true
                      sentRequestId: string
                      sent: true
                      sentDate: string
                      finished: true
                      failureReasonCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      communicationProviderError:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      failureDetails: string
                      communicationEntryStatus: string
                      subjectReferenceParameters:
                        type: Invoice
                        invoiceNum: string
                        invoiceType: string
                      communicationEntryId: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationEntryDTO'
              example:
                data:
                  results:
                    - subjectType: string
                      subjectSubtype: string
                      subjectId: string
                      reference: string
                      communicationType: string
                      title: string
                      target:
                        customerId: string
                        customerDisplayName: string
                        customerAccountNumber: string
                        address:
                          streetName: string
                          streetNumber: string
                          streetNumberAddition: string
                          postalCode: string
                          buildingName: string
                          locality: string
                          city: string
                          country: aut
                          localizedDisplay: string
                          lineOne: string
                          lineTwo: string
                        email: string
                        preferredCommunicationType: string
                        mobilePhoneNumber: string
                      sentRequested: true
                      sentRequestId: string
                      sent: true
                      sentDate: string
                      finished: true
                      failureReasonCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      communicationProviderError:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      failureDetails: string
                      communicationEntryStatus: string
                      subjectReferenceParameters:
                        type: Invoice
                        invoiceNum: string
                        invoiceType: string
                      communicationEntryId: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/CommunicationEntries/filter/customer/{customerId}/overviewcount':
    post:
      tags:
        - Default
      summary: Retrieves the overview count of communication entries for a specific customer.
      description: Retrieves the overview count of communication entries for a specific customer.
      operationId: post-communicationentries-filter-customer-customerid-overviewcount
      parameters:
        - name: customerId
          in: path
          description: The ID of the customer.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: The overview count of communication entries.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationEntryOverviewCountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationEntryOverviewCountDTO'
              example:
                data:
                  all: 0
                  failed: 0
                  sent: 0
                  notSent: 0
                  inTransit: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationEntryOverviewCountDTO'
              example:
                data:
                  all: 0
                  failed: 0
                  sent: 0
                  notSent: 0
                  inTransit: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /CommunicationEntries/downloadzip:
    post:
      tags:
        - Default
      summary: Downloads a zip file containing the specified communication entries.
      description: Downloads a zip file containing the specified communication entries.
      operationId: post-communicationentries-downloadzip
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The request containing the IDs of the communication entries to include in the zip file.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadCommunicationEntriesZipRequest'
            example:
              communicationEntryIds:
                - string
              queryParams:
                communicationType: string
                excludeCommunicationType: string
                excludeCommunicationEntryStatus: string
                communicationEntryStatus: string
                entitySubjectType: string
                subjectSubType: string
                entitySubjectId: string
                failureReasonCode: 0
                sentStartDateTimeOffset: string
                sentEndDateTimeOffset: string
                customerId: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              excludedIds:
                - string
          text/json:
            schema:
              $ref: '#/components/schemas/DownloadCommunicationEntriesZipRequest'
            example:
              communicationEntryIds:
                - string
              queryParams:
                communicationType: string
                excludeCommunicationType: string
                excludeCommunicationEntryStatus: string
                communicationEntryStatus: string
                entitySubjectType: string
                subjectSubType: string
                entitySubjectId: string
                failureReasonCode: 0
                sentStartDateTimeOffset: string
                sentEndDateTimeOffset: string
                customerId: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              excludedIds:
                - string
          application/*+json:
            schema:
              $ref: '#/components/schemas/DownloadCommunicationEntriesZipRequest'
            example:
              communicationEntryIds:
                - string
              queryParams:
                communicationType: string
                excludeCommunicationType: string
                excludeCommunicationEntryStatus: string
                communicationEntryStatus: string
                entitySubjectType: string
                subjectSubType: string
                entitySubjectId: string
                failureReasonCode: 0
                sentStartDateTimeOffset: string
                sentEndDateTimeOffset: string
                customerId: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              excludedIds:
                - string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
            text/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
  /Webhook/email/sendgrid:
    post:
      tags:
        - Default
      summary: Handles SendGrid webhook events and triggers transformation and queueing.
      description: Handles SendGrid webhook events and triggers transformation and queueing.
      operationId: post-webhook-email-sendgrid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Webhook/postal/pingen:
    post:
      tags:
        - Default
      summary: Handles Pingen webhook events (postal) and triggers transformation and queueing.
      description: Handles Pingen webhook events (postal) and triggers transformation and queueing.
      operationId: post-webhook-postal-pingen
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Webhook/sms/twilio/{tenantId}/{organisationId}/{communicationEntryId}':
    post:
      tags:
        - Default
      summary: Handles SMS delivery status callbacks from Twilio.
      description: Handles SMS delivery status callbacks from Twilio.
      operationId: post-webhook-sms-twilio-tenantid-organisationid-communicationentryid
      parameters:
        - name: tenantId
          in: path
          description: The tenant identifier embedded in the callback URL.
          required: true
          schema:
            type: string
        - name: organisationId
          in: path
          description: The organisation identifier embedded in the callback URL.
          required: true
          schema:
            type: string
        - name: communicationEntryId
          in: path
          description: The communication entry identifier embedded in the callback URL.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /CommunicationEntries/resend:
    post:
      tags:
        - Default
      summary: Resends a communication entry using the same settings as the original.
      description: Resends a communication entry using the same settings as the original.
      operationId: post-communicationentries-resend
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendCommunicationEntryRequest'
            example:
              communicationEntryId: string
              subjectId: string
              subjectType: none
              subjectSubtype: string
              forcedCommunicationType: string
          text/json:
            schema:
              $ref: '#/components/schemas/ResendCommunicationEntryRequest'
            example:
              communicationEntryId: string
              subjectId: string
              subjectType: none
              subjectSubtype: string
              forcedCommunicationType: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResendCommunicationEntryRequest'
            example:
              communicationEntryId: string
              subjectId: string
              subjectType: none
              subjectSubtype: string
              forcedCommunicationType: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /CommunicationEntries/filter:
    post:
      tags:
        - Default
      summary: Retrieves communication entries across the organization based on the provided query parameters and filters.
      description: Retrieves communication entries across the organization based on the provided query parameters and filters.
      operationId: post-communicationentries-filter
      parameters:
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: The order by clause.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: A paged response containing the communication entries.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationEntryDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationEntryDTO'
              example:
                data:
                  results:
                    - subjectType: string
                      subjectSubtype: string
                      subjectId: string
                      reference: string
                      communicationType: string
                      title: string
                      target:
                        customerId: string
                        customerDisplayName: string
                        customerAccountNumber: string
                        address:
                          streetName: string
                          streetNumber: string
                          streetNumberAddition: string
                          postalCode: string
                          buildingName: string
                          locality: string
                          city: string
                          country: aut
                          localizedDisplay: string
                          lineOne: string
                          lineTwo: string
                        email: string
                        preferredCommunicationType: string
                        mobilePhoneNumber: string
                      sentRequested: true
                      sentRequestId: string
                      sent: true
                      sentDate: string
                      finished: true
                      failureReasonCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      communicationProviderError:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      failureDetails: string
                      communicationEntryStatus: string
                      subjectReferenceParameters:
                        type: Invoice
                        invoiceNum: string
                        invoiceType: string
                      communicationEntryId: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationEntryDTO'
              example:
                data:
                  results:
                    - subjectType: string
                      subjectSubtype: string
                      subjectId: string
                      reference: string
                      communicationType: string
                      title: string
                      target:
                        customerId: string
                        customerDisplayName: string
                        customerAccountNumber: string
                        address:
                          streetName: string
                          streetNumber: string
                          streetNumberAddition: string
                          postalCode: string
                          buildingName: string
                          locality: string
                          city: string
                          country: aut
                          localizedDisplay: string
                          lineOne: string
                          lineTwo: string
                        email: string
                        preferredCommunicationType: string
                        mobilePhoneNumber: string
                      sentRequested: true
                      sentRequestId: string
                      sent: true
                      sentDate: string
                      finished: true
                      failureReasonCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      communicationProviderError:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      failureDetails: string
                      communicationEntryStatus: string
                      subjectReferenceParameters:
                        type: Invoice
                        invoiceNum: string
                        invoiceType: string
                      communicationEntryId: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /CommunicationEntries/filter/overviewcount:
    post:
      tags:
        - Default
      summary: Retrieves the overview count of communication entries across the organization.
      description: Retrieves the overview count of communication entries across the organization.
      operationId: post-communicationentries-filter-overviewcount
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetCommunicationEntriesQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectType: string
              subjectSubType: string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: The overview count of communication entries.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationEntryOverviewCountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationEntryOverviewCountDTO'
              example:
                data:
                  all: 0
                  failed: 0
                  sent: 0
                  notSent: 0
                  inTransit: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationEntryOverviewCountDTO'
              example:
                data:
                  all: 0
                  failed: 0
                  sent: 0
                  notSent: 0
                  inTransit: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/CommunicationSubjects/{entitySubjectType}/{subjectId}':
    get:
      tags:
        - Default
      summary: Retrieves all CommunicationSubjects for a subject
      description: Retrieves all CommunicationSubjects for a subject
      operationId: get-communicationsubjects-entitysubjecttype-subjectid
      parameters:
        - name: entitySubjectType
          in: path
          description: The entity subject type.
          required: true
          schema:
            type: string
        - name: subjectId
          in: path
          description: The subject identifier.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: The overview count of communication entries.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationSubjectDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationSubjectDTO'
              example:
                data:
                  results:
                    - id: string
                      subjectType: string
                      subjectSubType: string
                      subjectId: string
                      customerId: string
                      customerDisplayName: string
                      customerAccountNumber: string
                      communicationEntryId: string
                      title: string
                      communicationType: string
                      sent: true
                      isIgnored: true
                      sentDate: string
                      communicationEntryStatus: string
                      failureReasonCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      communicationProviderError:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      failureDetails: string
                      createdDateTime: string
                      subjectReferenceParameters:
                        type: Invoice
                        invoiceNum: string
                        invoiceType: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationSubjectDTO'
              example:
                data:
                  results:
                    - id: string
                      subjectType: string
                      subjectSubType: string
                      subjectId: string
                      customerId: string
                      customerDisplayName: string
                      customerAccountNumber: string
                      communicationEntryId: string
                      title: string
                      communicationType: string
                      sent: true
                      isIgnored: true
                      sentDate: string
                      communicationEntryStatus: string
                      failureReasonCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      communicationProviderError:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      failureDetails: string
                      createdDateTime: string
                      subjectReferenceParameters:
                        type: Invoice
                        invoiceNum: string
                        invoiceType: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /CommunicationSubjects/filter:
    post:
      tags:
        - Default
      summary: Retrieves communication entries across the organization based on the provided query parameters and filters.
      description: Retrieves communication entries across the organization based on the provided query parameters and filters.
      operationId: post-communicationsubjects-filter
      parameters:
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: The order by clause.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: The continuation token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationSubjectsQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectTypes:
                - string
              entitySubjectSubTypes:
                - string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              applyFiltersOverIncludedIds: true
              showIgnored: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationSubjectsQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectTypes:
                - string
              entitySubjectSubTypes:
                - string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              applyFiltersOverIncludedIds: true
              showIgnored: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetCommunicationSubjectsQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectTypes:
                - string
              entitySubjectSubTypes:
                - string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              applyFiltersOverIncludedIds: true
              showIgnored: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: A paged response containing the communication entries.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationSubjectDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationSubjectDTO'
              example:
                data:
                  results:
                    - id: string
                      subjectType: string
                      subjectSubType: string
                      subjectId: string
                      customerId: string
                      customerDisplayName: string
                      customerAccountNumber: string
                      communicationEntryId: string
                      title: string
                      communicationType: string
                      sent: true
                      isIgnored: true
                      sentDate: string
                      communicationEntryStatus: string
                      failureReasonCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      communicationProviderError:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      failureDetails: string
                      createdDateTime: string
                      subjectReferenceParameters:
                        type: Invoice
                        invoiceNum: string
                        invoiceType: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationSubjectDTO'
              example:
                data:
                  results:
                    - id: string
                      subjectType: string
                      subjectSubType: string
                      subjectId: string
                      customerId: string
                      customerDisplayName: string
                      customerAccountNumber: string
                      communicationEntryId: string
                      title: string
                      communicationType: string
                      sent: true
                      isIgnored: true
                      sentDate: string
                      communicationEntryStatus: string
                      failureReasonCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      communicationProviderError:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      failureDetails: string
                      createdDateTime: string
                      subjectReferenceParameters:
                        type: Invoice
                        invoiceNum: string
                        invoiceType: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /CommunicationSubjects/filter/overviewcount:
    post:
      tags:
        - Default
      summary: Retrieves the overview count of communication entries across the organization.
      description: Retrieves the overview count of communication entries across the organization.
      operationId: post-communicationsubjects-filter-overviewcount
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationSubjectsQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectTypes:
                - string
              entitySubjectSubTypes:
                - string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              applyFiltersOverIncludedIds: true
              showIgnored: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationSubjectsQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectTypes:
                - string
              entitySubjectSubTypes:
                - string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              applyFiltersOverIncludedIds: true
              showIgnored: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetCommunicationSubjectsQueryParams'
            example:
              communicationType: string
              excludeCommunicationType: string
              excludeCommunicationEntryStatus: string
              communicationEntryStatus: string
              entitySubjectTypes:
                - string
              entitySubjectSubTypes:
                - string
              entitySubjectId: string
              failureReasonCode: 0
              sentStartDateTimeOffset: string
              sentEndDateTimeOffset: string
              customerId: string
              applyFiltersOverIncludedIds: true
              showIgnored: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: The overview count of communication entries.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationSubjectOverviewCountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationSubjectOverviewCountDTO'
              example:
                data:
                  all: 0
                  failed: 0
                  sent: 0
                  notSent: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationSubjectOverviewCountDTO'
              example:
                data:
                  all: 0
                  failed: 0
                  sent: 0
                  notSent: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /CommunicationProviderAccounts:
    post:
      tags:
        - Default
      summary: Create a new communication provider account.
      description: Create a new communication provider account.
      operationId: post-communicationprovideraccounts
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommunicationProviderAccountRequest'
            example:
              providerType: sendgridemail
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCommunicationProviderAccountRequest'
            example:
              providerType: sendgridemail
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCommunicationProviderAccountRequest'
            example:
              providerType: sendgridemail
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationProviderAccountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationProviderAccountDTO'
              example:
                data:
                  provider: sendgridemail
                  status: active
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationProviderAccountDTO'
              example:
                data:
                  provider: sendgridemail
                  status: active
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /CommunicationProviderAccounts/filter:
    post:
      tags:
        - Default
      summary: Retrieve communication provider accounts based on the provided query parameters.
      description: Retrieve communication provider accounts based on the provided query parameters.
      operationId: post-communicationprovideraccounts-filter
      parameters:
        - name: orderBy
          in: query
          description: The order by clause.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationProviderAccountsQueryParams'
            example:
              status:
                - string
              providerType:
                - string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetCommunicationProviderAccountsQueryParams'
            example:
              status:
                - string
              providerType:
                - string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetCommunicationProviderAccountsQueryParams'
            example:
              status:
                - string
              providerType:
                - string
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: A paged response of communication provider accounts.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationProviderAccountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationProviderAccountDTO'
              example:
                data:
                  results:
                    - provider: sendgridemail
                      status: active
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfCommunicationProviderAccountDTO'
              example:
                data:
                  results:
                    - provider: sendgridemail
                      status: active
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/CommunicationProviderAccounts/{id}/disconnect':
    post:
      tags:
        - Default
      summary: Disconnect a communication provider account and set it to inactive status.
      description: Disconnect a communication provider account and set it to inactive status.
      operationId: post-communicationprovideraccounts-id-disconnect
      parameters:
        - name: id
          in: path
          description: The communication provider account ID to disconnect
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationProviderAccountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationProviderAccountDTO'
              example:
                data:
                  provider: sendgridemail
                  status: active
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationProviderAccountDTO'
              example:
                data:
                  provider: sendgridemail
                  status: active
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /CommunicationSubjects/bulk/sendvia:
    post:
      tags:
        - Default
      summary: Sends communication subjects via a method in bulk.
      description: Sends communication subjects via a method in bulk.
      operationId: post-communicationsubjects-bulk-sendvia
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSendCommunicationSubjectsViaRequest'
            example:
              onlyValidate: true
              queryParams:
                communicationType: string
                excludeCommunicationType: string
                excludeCommunicationEntryStatus: string
                communicationEntryStatus: string
                entitySubjectTypes:
                  - string
                entitySubjectSubTypes:
                  - string
                entitySubjectId: string
                failureReasonCode: 0
                sentStartDateTimeOffset: string
                sentEndDateTimeOffset: string
                customerId: string
                applyFiltersOverIncludedIds: true
                showIgnored: true
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              forcedCommunicationType: string
          text/json:
            schema:
              $ref: '#/components/schemas/BulkSendCommunicationSubjectsViaRequest'
            example:
              onlyValidate: true
              queryParams:
                communicationType: string
                excludeCommunicationType: string
                excludeCommunicationEntryStatus: string
                communicationEntryStatus: string
                entitySubjectTypes:
                  - string
                entitySubjectSubTypes:
                  - string
                entitySubjectId: string
                failureReasonCode: 0
                sentStartDateTimeOffset: string
                sentEndDateTimeOffset: string
                customerId: string
                applyFiltersOverIncludedIds: true
                showIgnored: true
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              forcedCommunicationType: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkSendCommunicationSubjectsViaRequest'
            example:
              onlyValidate: true
              queryParams:
                communicationType: string
                excludeCommunicationType: string
                excludeCommunicationEntryStatus: string
                communicationEntryStatus: string
                entitySubjectTypes:
                  - string
                entitySubjectSubTypes:
                  - string
                entitySubjectId: string
                failureReasonCode: 0
                sentStartDateTimeOffset: string
                sentEndDateTimeOffset: string
                customerId: string
                applyFiltersOverIncludedIds: true
                showIgnored: true
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              forcedCommunicationType: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationSubjectDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationSubjectDTO'
              example:
                data:
                  id: string
                  subjectType: string
                  subjectSubType: string
                  subjectId: string
                  customerId: string
                  customerDisplayName: string
                  customerAccountNumber: string
                  communicationEntryId: string
                  title: string
                  communicationType: string
                  sent: true
                  isIgnored: true
                  sentDate: string
                  communicationEntryStatus: string
                  failureReasonCode:
                    key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                  communicationProviderError:
                    key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                  failureDetails: string
                  createdDateTime: string
                  subjectReferenceParameters:
                    type: Invoice
                    invoiceNum: string
                    invoiceType: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfCommunicationSubjectDTO'
              example:
                data:
                  id: string
                  subjectType: string
                  subjectSubType: string
                  subjectId: string
                  customerId: string
                  customerDisplayName: string
                  customerAccountNumber: string
[...]
