openapi: 3.0.1
info:
  title: Configuration
  description: Configuration API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/cfg
paths:
  /Accounting/generalledgers:
    get:
      tags:
        - Default
      summary: 'Retrieves a paged list of general ledger codes, with optional filtering and sorting.'
      description: 'Retrieves a paged list of general ledger codes, with optional filtering and sorting.'
      operationId: get-accounting-generalledgers
      parameters:
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: Sorting expression for the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of ledger codes
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfGeneralLedgerCodeDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfGeneralLedgerCodeDTO'
              example:
                data:
                  results:
                    - description: string
                      code: string
                      externalAccountingMetadata:
                        source: string
                        sourceEntityId: string
                        sourceAccountingCompanyId: string
                        sourceReferences:
                          - sourceEntityId: string
                            sourceAccountingCompanyId: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfGeneralLedgerCodeDTO'
              example:
                data:
                  results:
                    - description: string
                      code: string
                      externalAccountingMetadata:
                        source: string
                        sourceEntityId: string
                        sourceAccountingCompanyId: string
                        sourceReferences:
                          - sourceEntityId: string
                            sourceAccountingCompanyId: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    post:
      tags:
        - Default
      summary: "Creates or updates general ledger codes.\nIf a general ledger code already exists in the system, it will be updated instead of creating a new one.\n\nThe system identifies existing codes by matching the SourceEntityId in the Metadata property."
      description: "Creates or updates general ledger codes.\nIf a general ledger code already exists in the system, it will be updated instead of creating a new one.\n\nThe system identifies existing codes by matching the SourceEntityId in the Metadata property."
      operationId: post-accounting-generalledgers
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGeneralLedgerCodesRequest'
            example:
              generalLedgerCodes:
                - code: string
                  description: string
                  metadata:
                    source: string
                    sourceEntityId: string
                    sourceAccountingCompanyId: string
          text/json:
            schema:
              $ref: '#/components/schemas/CreateGeneralLedgerCodesRequest'
            example:
              generalLedgerCodes:
                - code: string
                  description: string
                  metadata:
                    source: string
                    sourceEntityId: string
                    sourceAccountingCompanyId: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateGeneralLedgerCodesRequest'
            example:
              generalLedgerCodes:
                - code: string
                  description: string
                  metadata:
                    source: string
                    sourceEntityId: string
                    sourceAccountingCompanyId: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfGeneralLedgerCodeDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfGeneralLedgerCodeDTO'
              example:
                data:
                  - description: string
                    code: string
                    externalAccountingMetadata:
                      source: string
                      sourceEntityId: string
                      sourceAccountingCompanyId: string
                      sourceReferences:
                        - sourceEntityId: string
                          sourceAccountingCompanyId: string
                    organisationId: string
                    id: string
                    entityType: none
                    createdDateTime: string
                    discriminator: string
                    _etag: string
                    hasErrors: true
                    isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfGeneralLedgerCodeDTO'
              example:
                data:
                  - description: string
                    code: string
                    externalAccountingMetadata:
                      source: string
                      sourceEntityId: string
                      sourceAccountingCompanyId: string
                      sourceReferences:
                        - sourceEntityId: string
                          sourceAccountingCompanyId: string
                    organisationId: string
                    id: string
                    entityType: none
                    createdDateTime: string
                    discriminator: string
                    _etag: string
                    hasErrors: true
                    isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BankAccounts:
    post:
      tags:
        - Default
      summary: Creates a new bank account.
      description: Creates a new bank account.
      operationId: post-bankaccounts
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBankAccountRequest'
            example:
              accountHolder: string
              sepaCreditorId: string
              accountingCodeIdForProcessedTransactions: string
              accountingCodeIdForIgnoredTransactions: string
              isDefault: true
              iban: string
              bic: string
          text/json:
            schema:
              $ref: '#/components/schemas/CreateBankAccountRequest'
            example:
              accountHolder: string
              sepaCreditorId: string
              accountingCodeIdForProcessedTransactions: string
              accountingCodeIdForIgnoredTransactions: string
              isDefault: true
              iban: string
              bic: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateBankAccountRequest'
            example:
              accountHolder: string
              sepaCreditorId: string
              accountingCodeIdForProcessedTransactions: string
              accountingCodeIdForIgnoredTransactions: string
              isDefault: true
              iban: string
              bic: string
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBankAccountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBankAccountDTO'
              example:
                data:
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
                  accountingCodeIdForProcessedTransactions: string
                  accountingCodeIdForIgnoredTransactions: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBankAccountDTO'
              example:
                data:
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
                  accountingCodeIdForProcessedTransactions: string
                  accountingCodeIdForIgnoredTransactions: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    get:
      tags:
        - Default
      summary: Retrieves a paged list of bank accounts with optional filtering and sorting.
      description: Retrieves a paged list of bank accounts with optional filtering and sorting.
      operationId: GetAllBankAccounts
      parameters:
        - name: showDeleted
          in: query
          description: 'When true, includes deleted bank accounts in the results.'
          schema:
            type: boolean
        - name: flexSearch
          in: query
          description: Search term to filter accounts by various fields.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sorting expression for the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBankAccountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBankAccountDTO'
              example:
                data:
                  results:
                    - iban: string
                      accountHolder: string
                      bic: string
                      sepaCreditorId: string
                      isDefault: true
                      deleted: true
                      accountingCodeIdForProcessedTransactions: string
                      accountingCodeIdForIgnoredTransactions: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBankAccountDTO'
              example:
                data:
                  results:
                    - iban: string
                      accountHolder: string
                      bic: string
                      sepaCreditorId: string
                      isDefault: true
                      deleted: true
                      accountingCodeIdForProcessedTransactions: string
                      accountingCodeIdForIgnoredTransactions: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BankAccounts/count:
    get:
      tags:
        - Default
      summary: Gets the total count of bank accounts within the organization.
      description: Gets the total count of bank accounts within the organization.
      operationId: get-bankaccounts-count
      parameters:
        - name: countDeleted
          in: query
          description: 'When true, includes deleted bank accounts in the count.'
          schema:
            type: boolean
      responses:
        '200':
          description: The total number of bank accounts.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfint'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfint'
              example:
                data: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfint'
              example:
                data: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/BankAccounts/{bankaccuuid}':
    get:
      tags:
        - Default
      summary: Retrieves a specific bank account by its identifier.
      description: Retrieves a specific bank account by its identifier.
      operationId: get-bankaccounts-bankaccuuid
      parameters:
        - name: bankaccuuid
          in: path
          description: The unique identifier of the bank account.
          required: true
          schema:
            type: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBankAccountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBankAccountDTO'
              example:
                data:
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
                  accountingCodeIdForProcessedTransactions: string
                  accountingCodeIdForIgnoredTransactions: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBankAccountDTO'
              example:
                data:
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
                  accountingCodeIdForProcessedTransactions: string
                  accountingCodeIdForIgnoredTransactions: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    post:
      tags:
        - Default
      summary: Updates an existing bank account.
      description: Updates an existing bank account.
      operationId: post-bankaccounts-bankaccuuid
      parameters:
        - name: bankaccuuid
          in: path
          description: The unique identifier of the bank account to update.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBankAccountRequest'
            example:
              accountHolder: string
              sepaCreditorId: string
              accountingCodeIdForProcessedTransactions: string
              accountingCodeIdForIgnoredTransactions: string
              isDefault: true
              iban: string
              bic: string
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateBankAccountRequest'
            example:
              accountHolder: string
              sepaCreditorId: string
              accountingCodeIdForProcessedTransactions: string
              accountingCodeIdForIgnoredTransactions: string
              isDefault: true
              iban: string
              bic: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateBankAccountRequest'
            example:
              accountHolder: string
              sepaCreditorId: string
              accountingCodeIdForProcessedTransactions: string
              accountingCodeIdForIgnoredTransactions: string
              isDefault: true
              iban: string
              bic: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBankAccountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBankAccountDTO'
              example:
                data:
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
                  accountingCodeIdForProcessedTransactions: string
                  accountingCodeIdForIgnoredTransactions: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBankAccountDTO'
              example:
                data:
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
                  accountingCodeIdForProcessedTransactions: string
                  accountingCodeIdForIgnoredTransactions: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    delete:
      tags:
        - Default
      summary: Deletes a bank account by its identifier.
      description: Deletes a bank account by its identifier.
      operationId: delete-bankaccounts-bankaccuuid
      parameters:
        - name: bankaccuuid
          in: path
          description: The unique identifier of the bank account to delete.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BillingItems:
    post:
      tags:
        - Default
      summary: Creates a new billing item.
      description: Creates a new billing item.
      operationId: post-billingitems
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              hideWhenZero: true
              isPrepaymentEligible: true
              accountingCodeId: string
              tierCalculationMethod: invoiceperiod
              calculationParameters:
                type: consumption
                utilityType: none
                meteringType: none
                direction: offtake
                billingCalculationType: consumption
                unitOfMeasure: none
          text/json:
            schema:
              $ref: '#/components/schemas/CreateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              hideWhenZero: true
              isPrepaymentEligible: true
              accountingCodeId: string
              tierCalculationMethod: invoiceperiod
              calculationParameters:
                type: consumption
                utilityType: none
                meteringType: none
                direction: offtake
                billingCalculationType: consumption
                unitOfMeasure: none
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              hideWhenZero: true
              isPrepaymentEligible: true
              accountingCodeId: string
              tierCalculationMethod: invoiceperiod
              calculationParameters:
                type: consumption
                utilityType: none
                meteringType: none
                direction: offtake
                billingCalculationType: consumption
                unitOfMeasure: none
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingItemDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingItemDTO'
              example:
                data:
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  hideWhenZero: true
                  isPrepaymentEligible: true
                  tierCalculationMethod: invoiceperiod
                  calculationParameters:
                    type: consumption
                    utilityType: none
                    meteringType: none
                    direction: offtake
                    billingCalculationType: consumption
                    unitOfMeasure: none
                  localisationLevel: none
                  localisedFields:
                    - string
                  translatedFields: { }
                  accountingCodeId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingItemDTO'
              example:
                data:
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  hideWhenZero: true
                  isPrepaymentEligible: true
                  tierCalculationMethod: invoiceperiod
                  calculationParameters:
                    type: consumption
                    utilityType: none
                    meteringType: none
                    direction: offtake
                    billingCalculationType: consumption
                    unitOfMeasure: none
                  localisationLevel: none
                  localisedFields:
                    - string
                  translatedFields: { }
                  accountingCodeId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    get:
      tags:
        - Default
      summary: Retrieves a paged list of billing items with optional filtering and sorting.
      description: Retrieves a paged list of billing items with optional filtering and sorting.
      operationId: get-billingitems
      parameters:
        - name: ShowDeleted
          in: query
          schema:
            type: boolean
        - name: Name
          in: query
          schema:
            type: string
        - name: CalculationType
          in: query
          schema:
            type: string
        - name: UtilityType
          in: query
          schema:
            type: string
        - name: ProductId
          in: query
          schema:
            type: string
        - name: IsPrepaymentEligible
          in: query
          schema:
            type: boolean
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: Sorting expression for the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
      responses:
        '200':
          description: A paged list of billing items matching the specified criteria.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBillingItemDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBillingItemDTO'
              example:
                data:
                  results:
                    - name: string
                      description: string
                      personTaxCodeId: string
                      organisationTaxCodeId: string
                      hideWhenZero: true
                      isPrepaymentEligible: true
                      tierCalculationMethod: invoiceperiod
                      calculationParameters:
                        type: consumption
                        utilityType: none
                        meteringType: none
                        direction: offtake
                        billingCalculationType: consumption
                        unitOfMeasure: none
                      localisationLevel: none
                      localisedFields:
                        - string
                      translatedFields: { }
                      accountingCodeId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBillingItemDTO'
              example:
                data:
                  results:
                    - name: string
                      description: string
                      personTaxCodeId: string
                      organisationTaxCodeId: string
                      hideWhenZero: true
                      isPrepaymentEligible: true
                      tierCalculationMethod: invoiceperiod
                      calculationParameters:
                        type: consumption
                        utilityType: none
                        meteringType: none
                        direction: offtake
                        billingCalculationType: consumption
                        unitOfMeasure: none
                      localisationLevel: none
                      localisedFields:
                        - string
                      translatedFields: { }
                      accountingCodeId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/BillingItems/{billingitemuuid}':
    get:
      tags:
        - Default
      summary: Retrieves a specific billing item by its identifier.
      description: Retrieves a specific billing item by its identifier.
      operationId: get-billingitems-billingitemuuid
      parameters:
        - name: billingitemuuid
          in: path
          description: The unique identifier of the billing item.
          required: true
          schema:
            type: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingItemDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingItemDTO'
              example:
                data:
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  hideWhenZero: true
                  isPrepaymentEligible: true
                  tierCalculationMethod: invoiceperiod
                  calculationParameters:
                    type: consumption
                    utilityType: none
                    meteringType: none
                    direction: offtake
                    billingCalculationType: consumption
                    unitOfMeasure: none
                  localisationLevel: none
                  localisedFields:
                    - string
                  translatedFields: { }
                  accountingCodeId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingItemDTO'
              example:
                data:
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  hideWhenZero: true
                  isPrepaymentEligible: true
                  tierCalculationMethod: invoiceperiod
                  calculationParameters:
                    type: consumption
                    utilityType: none
                    meteringType: none
                    direction: offtake
                    billingCalculationType: consumption
                    unitOfMeasure: none
                  localisationLevel: none
                  localisedFields:
                    - string
                  translatedFields: { }
                  accountingCodeId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    post:
      tags:
        - Default
      summary: Updates an existing billing item.
      description: Updates an existing billing item.
      operationId: post-billingitems-billingitemuuid
      parameters:
        - name: billingitemuuid
          in: path
          description: The unique identifier of the billing item to update.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              accountingCodeId: string
              hideWhenZero: true
              isPrepaymentEligible: true
              tierCalculationMethod: invoiceperiod
              calculationParameters:
                type: consumption
                utilityType: none
                meteringType: none
                direction: offtake
                billingCalculationType: consumption
                unitOfMeasure: none
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              accountingCodeId: string
              hideWhenZero: true
              isPrepaymentEligible: true
              tierCalculationMethod: invoiceperiod
              calculationParameters:
                type: consumption
                utilityType: none
                meteringType: none
                direction: offtake
                billingCalculationType: consumption
                unitOfMeasure: none
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              accountingCodeId: string
              hideWhenZero: true
              isPrepaymentEligible: true
              tierCalculationMethod: invoiceperiod
              calculationParameters:
                type: consumption
                utilityType: none
                meteringType: none
                direction: offtake
                billingCalculationType: consumption
                unitOfMeasure: none
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingItemDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingItemDTO'
              example:
                data:
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  hideWhenZero: true
                  isPrepaymentEligible: true
                  tierCalculationMethod: invoiceperiod
                  calculationParameters:
                    type: consumption
                    utilityType: none
                    meteringType: none
                    direction: offtake
                    billingCalculationType: consumption
                    unitOfMeasure: none
                  localisationLevel: none
                  localisedFields:
                    - string
                  translatedFields: { }
                  accountingCodeId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingItemDTO'
              example:
                data:
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  hideWhenZero: true
                  isPrepaymentEligible: true
                  tierCalculationMethod: invoiceperiod
                  calculationParameters:
                    type: consumption
                    utilityType: none
                    meteringType: none
                    direction: offtake
                    billingCalculationType: consumption
                    unitOfMeasure: none
                  localisationLevel: none
                  localisedFields:
                    - string
                  translatedFields: { }
                  accountingCodeId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    delete:
      tags:
        - Default
      summary: Deletes a billing item by its identifier.
      description: Deletes a billing item by its identifier.
      operationId: delete-billingitems-billingitemuuid
      parameters:
        - name: billingitemuuid
          in: path
          description: The unique identifier of the billing item to delete.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BillingItems/calculationtypes:
    get:
      tags:
        - Default
      summary: Retrieves a list of supported calculation types for billing items.
      description: Retrieves a list of supported calculation types for billing items.
      operationId: get-billingitems-calculationtypes
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfClassDescription'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfClassDescription'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfClassDescription'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/BillingItems/calculationtypes/{calculationType}/supportedunitofmeasures':
    get:
      tags:
        - Default
      summary: Retrieves supported units of measure for a specific calculation type and metering type.
      description: Retrieves supported units of measure for a specific calculation type and metering type.
      operationId: get-billingitems-calculationtypes-calculationtype-supportedunitofmeasures
      parameters:
        - name: calculationType
          in: path
          description: The type of calculation to get supported units for.
          required: true
          schema:
            type: string
        - name: meteringType
          in: query
          description: The type of metering to filter supported units by.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfUnitOfMeasure'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfUnitOfMeasure'
              example:
                data:
                  - none
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfUnitOfMeasure'
              example:
                data:
                  - none
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/BillingItems/{entityId}/translations':
    post:
      tags:
        - Default
      summary: '/BillingItems/{entityId}/translations - POST'
      operationId: post-billingitems-entityid-translations
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityTranslationRequest'
            example:
              translatedFields: { }
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityTranslationRequest'
            example:
              translatedFields: { }
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateEntityTranslationRequest'
            example:
              translatedFields: { }
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BillingTariffs:
    get:
      tags:
        - Default
      summary: Retrieves a paged list of billing tariffs with optional filtering and sorting.
      description: Retrieves a paged list of billing tariffs with optional filtering and sorting.
      operationId: get-billingtariffs
      parameters:
        - name: showDeleted
          in: query
          description: 'When true, includes deleted billing tariffs in the results.'
          schema:
            type: boolean
        - name: flexSearch
          in: query
          description: Search term to filter tariffs by various fields.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sorting expression for the results.
          schema:
            type: string
        - name: productId
          in: query
          description: Filter tariffs by product identifier.
          schema:
            type: string
        - name: billingItemId
          in: query
          description: Filter tariffs by billing item identifier.
          schema:
            type: string
        - name: calculationTypes
          in: query
          description: Filter tariffs by calculation types.
          schema:
            type: array
            items:
              type: string
        - name: unboundedPeriod
          in: query
          description: 'When true, filters for tariffs with unbounded periods.'
          schema:
            type: boolean
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
      responses:
        '200':
          description: A paged list of billing tariffs matching the specified criteria.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBillingTariffDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBillingTariffDTO'
              example:
                data:
                  results:
                    - productId: string
                      billingItemId: string
                      contractId: string
                      calculationParameters:
                        type: volume
                        calculationType: unitprice
                        slices:
                          - from: 0
                            formulaBased: true
                            inputParameters:
                              - identifier: string
                                inputType: none
                                inputReference: string
                                value: 0
                            unitTariff: 0
                            expression: string
                      conditionParameters:
                        - type: tariffconditiontypeparametersdto.customentitypropertytype
                          customEntityPropertyTypeId: string
                          customEntityPropertyTypeName: string
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDecimal: 0
                      startDateTime: string
                      endDateTime: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfBillingTariffDTO'
              example:
                data:
                  results:
                    - productId: string
                      billingItemId: string
                      contractId: string
                      calculationParameters:
                        type: volume
                        calculationType: unitprice
                        slices:
                          - from: 0
                            formulaBased: true
                            inputParameters:
                              - identifier: string
                                inputType: none
                                inputReference: string
                                value: 0
                            unitTariff: 0
                            expression: string
                      conditionParameters:
                        - type: tariffconditiontypeparametersdto.customentitypropertytype
                          customEntityPropertyTypeId: string
                          customEntityPropertyTypeName: string
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDecimal: 0
                      startDateTime: string
                      endDateTime: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/BillingTariffs/{billingtariffuuid}':
    get:
      tags:
        - Default
      summary: Retrieves a specific billing tariff by its identifier.
      description: Retrieves a specific billing tariff by its identifier.
      operationId: get-billingtariffs-billingtariffuuid
      parameters:
        - name: billingtariffuuid
          in: path
          description: The unique identifier of the billing tariff.
          required: true
          schema:
            type: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingTariffDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingTariffDTO'
              example:
                data:
                  productId: string
                  billingItemId: string
                  contractId: string
                  calculationParameters:
                    type: volume
                    calculationType: unitprice
                    slices:
                      - from: 0
                        formulaBased: true
                        inputParameters:
                          - identifier: string
                            inputType: none
                            inputReference: string
                            value: 0
                        unitTariff: 0
                        expression: string
                  conditionParameters:
                    - type: tariffconditiontypeparametersdto.customentitypropertytype
                      customEntityPropertyTypeId: string
                      customEntityPropertyTypeName: string
                      valueString: string
                      valueBoolean: true
                      valueNumber: 0
                      valueDecimal: 0
                  startDateTime: string
                  endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfBillingTariffDTO'
              example:
                data:
                  productId: string
                  billingItemId: string
                  contractId: string
                  calculationParameters:
                    type: volume
                    calculationType: unitprice
                    slices:
                      - from: 0
                        formulaBased: true
                        inputParameters:
                          - identifier: string
                            inputType: none
                            inputReference: string
                            value: 0
                        unitTariff: 0
                        expression: string
                  conditionParameters:
                    - type: tariffconditiontypeparametersdto.customentitypropertytype
                      customEntityPropertyTypeId: string
                      customEntityPropertyTypeName: string
                      valueString: string
                      valueBoolean: true
                      valueNumber: 0
                      valueDecimal: 0
                  startDateTime: string
                  endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/BillingTariffs/b/{billingItemId}':
    post:
      tags:
        - Default
      summary: Creates a billing tariff tree for a specific billing item.
      description: Creates a billing tariff tree for a specific billing item.
      operationId: post-billingtariffs-b-billingitemid
      parameters:
        - name: billingItemId
          in: path
          description: The identifier of the billing item to create tariffs for.
          required: true
          schema:
            type: string
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingTariffTreeRequest'
            example:
              id: string
              productId: string
              activityPeriod:
                startDateTime: string
                endDateTime: string
              nodes:
                - calculationParameters:
                    type: volume
                    calculationType: unitprice
                    slices:
                      - from: 0
                        formulaBased: true
                        inputParameters:
                          - identifier: string
                            inputType: none
                            inputReference: string
                            value: 0
                        unitTariff: 0
                        expression: string
                  condition:
                    type: tariffconditiontypeparametersdto.customentitypropertytype
                    customEntityPropertyTypeId: string
                    customEntityPropertyTypeName: string
                    valueString: string
                    valueBoolean: true
                    valueNumber: 0
                    valueDecimal: 0
          text/json:
            schema:
              $ref: '#/components/schemas/CreateBillingTariffTreeRequest'
            example:
              id: string
              productId: string
              activityPeriod:
                startDateTime: string
                endDateTime: string
              nodes:
                - calculationParameters:
                    type: volume
                    calculationType: unitprice
                    slices:
                      - from: 0
                        formulaBased: true
                        inputParameters:
                          - identifier: string
                            inputType: none
                            inputReference: string
                            value: 0
                        unitTariff: 0
                        expression: string
                  condition:
                    type: tariffconditiontypeparametersdto.customentitypropertytype
                    customEntityPropertyTypeId: string
                    customEntityPropertyTypeName: string
                    valueString: string
                    valueBoolean: true
                    valueNumber: 0
                    valueDecimal: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateBillingTariffTreeRequest'
            example:
              id: string
              productId: string
              activityPeriod:
                startDateTime: string
                endDateTime: string
              nodes:
                - calculationParameters:
                    type: volume
                    calculationType: unitprice
                    slices:
                      - from: 0
                        formulaBased: true
                        inputParameters:
                          - identifier: string
                            inputType: none
                            inputReference: string
                            value: 0
                        unitTariff: 0
                        expression: string
                  condition:
                    type: tariffconditiontypeparametersdto.customentitypropertytype
                    customEntityPropertyTypeId: string
                    customEntityPropertyTypeName: string
                    valueString: string
                    valueBoolean: true
                    valueNumber: 0
                    valueDecimal: 0
      responses:
        '201':
          description: Created
          content:
            text/plain:
[...]
