openapi: 3.0.1
info:
  title: Configuration
  description: Configuration API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/cfg
paths:
  /Accounting/generalledgers:
    get:
      tags:
        - Accounting
      summary: 'Retrieves a paged list of general ledger codes, with optional filtering and sorting.'
      description: 'Retrieves a paged list of general ledger codes, with optional filtering and sorting.'
      operationId: get-accounting-generalledgers
      parameters:
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: orderBy
          in: query
          description: Sorting expression for the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GeneralLedgerCodeDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralLedgerCodeDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      description: string
                      code: string
                      externalAccountingMetadata:
                        source: string
                        sourceEntityId: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/GeneralLedgerCodeDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      description: string
                      code: string
                      externalAccountingMetadata:
                        source: string
                        sourceEntityId: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
    post:
      tags:
        - Accounting
      summary: "Creates or updates general ledger codes.\r\nIf a general ledger code already exists in the system, it will be updated instead of creating a new one.\r\n            \r\nThe system identifies existing codes by matching the SourceEntityId in the Metadata property."
      description: "Creates or updates general ledger codes.\r\nIf a general ledger code already exists in the system, it will be updated instead of creating a new one.\r\n            \r\nThe system identifies existing codes by matching the SourceEntityId in the Metadata property."
      operationId: post-accounting-generalledgers
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: A list of general ledger codes to add or update.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateGeneralLedgerCodesRequest'
              description: "Request model for creating new general ledger codes.\r\nGeneral codes should correspond to entries in an external accounting system\r\nto enable proper data synchronization during billing operations."
            example:
              generalLedgerCodes:
                - code: string
                  description: string
                  metadata:
                    source: string
                    sourceEntityId: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateGeneralLedgerCodesRequest'
              description: "Request model for creating new general ledger codes.\r\nGeneral codes should correspond to entries in an external accounting system\r\nto enable proper data synchronization during billing operations."
            example:
              generalLedgerCodes:
                - code: string
                  description: string
                  metadata:
                    source: string
                    sourceEntityId: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateGeneralLedgerCodesRequest'
              description: "Request model for creating new general ledger codes.\r\nGeneral codes should correspond to entries in an external accounting system\r\nto enable proper data synchronization during billing operations."
            example:
              generalLedgerCodes:
                - code: string
                  description: string
                  metadata:
                    source: string
                    sourceEntityId: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GeneralLedgerCodeDTOListApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralLedgerCodeDTOListApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  - id: string
                    entityType: { }
                    createdDateTime: string
                    discriminator: string
                    _etag: string
                    requireAttention: true
                    hasErrors: true
                    hasWarnings: true
                    isReadOnly: true
                    organisationId: string
                    description: string
                    code: string
                    externalAccountingMetadata:
                      source: string
                      sourceEntityId: string
            text/json:
              schema:
                $ref: '#/components/schemas/GeneralLedgerCodeDTOListApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  - id: string
                    entityType: { }
                    createdDateTime: string
                    discriminator: string
                    _etag: string
                    requireAttention: true
                    hasErrors: true
                    hasWarnings: true
                    isReadOnly: true
                    organisationId: string
                    description: string
                    code: string
                    externalAccountingMetadata:
                      source: string
                      sourceEntityId: string
  /BankAccounts:
    post:
      tags:
        - BankAccounts
      summary: Creates a new bank account.
      description: Creates a new bank account.
      operationId: post-bankaccounts
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The details of the bank account to create.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateBankAccountRequest'
            example:
              iban: string
              accountHolder: string
              bic: string
              sepaCreditorId: string
              isDefault: true
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateBankAccountRequest'
            example:
              iban: string
              accountHolder: string
              bic: string
              sepaCreditorId: string
              isDefault: true
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateBankAccountRequest'
            example:
              iban: string
              accountHolder: string
              bic: string
              sepaCreditorId: string
              isDefault: true
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BankAccountDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
            text/json:
              schema:
                $ref: '#/components/schemas/BankAccountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    get:
      tags:
        - BankAccounts
      summary: Retrieves a paged list of bank accounts with optional filtering and sorting.
      description: Retrieves a paged list of bank accounts with optional filtering and sorting.
      operationId: GetAllBankAccounts
      parameters:
        - name: showDeleted
          in: query
          description: 'When true, includes deleted bank accounts in the results.'
          schema:
            type: boolean
        - name: flexSearch
          in: query
          description: Search term to filter accounts by various fields.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sorting expression for the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BankAccountDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      iban: string
                      accountHolder: string
                      bic: string
                      sepaCreditorId: string
                      isDefault: true
                      deleted: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/BankAccountDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      iban: string
                      accountHolder: string
                      bic: string
                      sepaCreditorId: string
                      isDefault: true
                      deleted: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
  /BankAccounts/count:
    get:
      tags:
        - BankAccounts
      summary: Gets the total count of bank accounts within the organization.
      description: Gets the total count of bank accounts within the organization.
      operationId: get-bankaccounts-count
      parameters:
        - name: countDeleted
          in: query
          description: 'When true, includes deleted bank accounts in the count.'
          schema:
            type: boolean
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Int32ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/Int32ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: 0
            text/json:
              schema:
                $ref: '#/components/schemas/Int32ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: 0
  '/BankAccounts/{bankaccuuid}':
    get:
      tags:
        - BankAccounts
      summary: Retrieves a specific bank account by its identifier.
      description: Retrieves a specific bank account by its identifier.
      operationId: get-bankaccounts-bankaccuuid
      parameters:
        - name: bankaccuuid
          in: path
          description: The unique identifier of the bank account.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BankAccountDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
            text/json:
              schema:
                $ref: '#/components/schemas/BankAccountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
    post:
      tags:
        - BankAccounts
      summary: Updates an existing bank account.
      description: Updates an existing bank account.
      operationId: post-bankaccounts-bankaccuuid
      parameters:
        - name: bankaccuuid
          in: path
          description: The unique identifier of the bank account to update.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The updated bank account details.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateBankAccountRequest'
            example:
              bic: string
              accountHolder: string
              sepaCreditorId: string
              isDefault: true
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateBankAccountRequest'
            example:
              bic: string
              accountHolder: string
              sepaCreditorId: string
              isDefault: true
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateBankAccountRequest'
            example:
              bic: string
              accountHolder: string
              sepaCreditorId: string
              isDefault: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BankAccountDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
            text/json:
              schema:
                $ref: '#/components/schemas/BankAccountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  iban: string
                  accountHolder: string
                  bic: string
                  sepaCreditorId: string
                  isDefault: true
                  deleted: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    delete:
      tags:
        - BankAccounts
      summary: Deletes a bank account by its identifier.
      description: Deletes a bank account by its identifier.
      operationId: delete-bankaccounts-bankaccuuid
      parameters:
        - name: bankaccuuid
          in: path
          description: The unique identifier of the bank account to delete.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BillingItems:
    post:
      tags:
        - BillingItems
      summary: Creates a new billing item.
      description: Creates a new billing item.
      operationId: post-billingitems
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The details of the billing item to create.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              tierCalculationMethod: { }
              calculationParameters:
                unitOfMeasure: { }
                billingCalculationType: { }
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              tierCalculationMethod: { }
              calculationParameters:
                unitOfMeasure: { }
                billingCalculationType: { }
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              tierCalculationMethod: { }
              calculationParameters:
                unitOfMeasure: { }
                billingCalculationType: { }
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingItemDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingItemDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  tierCalculationMethod: { }
                  calculationParameters:
                    unitOfMeasure: { }
                    billingCalculationType: { }
                  localisationLevel: { }
                  localisedFields:
                    - string
                  translatedFields: { }
            text/json:
              schema:
                $ref: '#/components/schemas/BillingItemDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  tierCalculationMethod: { }
                  calculationParameters:
                    unitOfMeasure: { }
                    billingCalculationType: { }
                  localisationLevel: { }
                  localisedFields:
                    - string
                  translatedFields: { }
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    get:
      tags:
        - BillingItems
      summary: Retrieves a paged list of billing items with optional filtering and sorting.
      description: Retrieves a paged list of billing items with optional filtering and sorting.
      operationId: get-billingitems
      parameters:
        - name: ShowDeleted
          in: query
          schema:
            type: boolean
        - name: Name
          in: query
          schema:
            type: string
        - name: CalculationType
          in: query
          schema:
            type: string
        - name: UtilityType
          in: query
          schema:
            type: string
        - name: ProductId
          in: query
          schema:
            type: string
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: orderBy
          in: query
          description: Sorting expression for the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingItemDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingItemDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      name: string
                      description: string
                      personTaxCodeId: string
                      organisationTaxCodeId: string
                      tierCalculationMethod: { }
                      calculationParameters:
                        unitOfMeasure: { }
                        billingCalculationType: { }
                      localisationLevel: { }
                      localisedFields:
                        - string
                      translatedFields: { }
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/BillingItemDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      name: string
                      description: string
                      personTaxCodeId: string
                      organisationTaxCodeId: string
                      tierCalculationMethod: { }
                      calculationParameters:
                        unitOfMeasure: { }
                        billingCalculationType: { }
                      localisationLevel: { }
                      localisedFields:
                        - string
                      translatedFields: { }
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
  '/BillingItems/{billingitemuuid}':
    get:
      tags:
        - BillingItems
      summary: Retrieves a specific billing item by its identifier.
      description: Retrieves a specific billing item by its identifier.
      operationId: get-billingitems-billingitemuuid
      parameters:
        - name: billingitemuuid
          in: path
          description: The unique identifier of the billing item.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingItemDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingItemDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  tierCalculationMethod: { }
                  calculationParameters:
                    unitOfMeasure: { }
                    billingCalculationType: { }
                  localisationLevel: { }
                  localisedFields:
                    - string
                  translatedFields: { }
            text/json:
              schema:
                $ref: '#/components/schemas/BillingItemDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  tierCalculationMethod: { }
                  calculationParameters:
                    unitOfMeasure: { }
                    billingCalculationType: { }
                  localisationLevel: { }
                  localisedFields:
                    - string
                  translatedFields: { }
    post:
      tags:
        - BillingItems
      summary: Updates an existing billing item.
      description: Updates an existing billing item.
      operationId: post-billingitems-billingitemuuid
      parameters:
        - name: billingitemuuid
          in: path
          description: The unique identifier of the billing item to update.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The updated billing item details.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              tierCalculationMethod: { }
              calculationParameters:
                unitOfMeasure: { }
                billingCalculationType: { }
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              tierCalculationMethod: { }
              calculationParameters:
                unitOfMeasure: { }
                billingCalculationType: { }
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateBillingItemRequest'
            example:
              name: string
              description: string
              personTaxCodeId: string
              organisationTaxCodeId: string
              tierCalculationMethod: { }
              calculationParameters:
                unitOfMeasure: { }
                billingCalculationType: { }
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingItemDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingItemDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  tierCalculationMethod: { }
                  calculationParameters:
                    unitOfMeasure: { }
                    billingCalculationType: { }
                  localisationLevel: { }
                  localisedFields:
                    - string
                  translatedFields: { }
            text/json:
              schema:
                $ref: '#/components/schemas/BillingItemDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  name: string
                  description: string
                  personTaxCodeId: string
                  organisationTaxCodeId: string
                  tierCalculationMethod: { }
                  calculationParameters:
                    unitOfMeasure: { }
                    billingCalculationType: { }
                  localisationLevel: { }
                  localisedFields:
                    - string
                  translatedFields: { }
    delete:
      tags:
        - BillingItems
      summary: Deletes a billing item by its identifier.
      description: Deletes a billing item by its identifier.
      operationId: delete-billingitems-billingitemuuid
      parameters:
        - name: billingitemuuid
          in: path
          description: The unique identifier of the billing item to delete.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BillingItems/calculationtypes:
    get:
      tags:
        - BillingItems
      summary: Retrieves a list of supported calculation types for billing items.
      description: Retrieves a list of supported calculation types for billing items.
      operationId: get-billingitems-calculationtypes
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ClassDescriptionListApiResponseDTO'
            application/json:
              schema:
                $ref: '#/components/schemas/ClassDescriptionListApiResponseDTO'
            text/json:
              schema:
                $ref: '#/components/schemas/ClassDescriptionListApiResponseDTO'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/BillingItems/calculationtypes/{calculationType}/supportedunitofmeasures':
    get:
      tags:
        - BillingItems
      summary: Retrieves supported units of measure for a specific calculation type and metering type.
      description: Retrieves supported units of measure for a specific calculation type and metering type.
      operationId: get-billingitems-calculationtypes-calculationtype-supportedunitofmeasures
      parameters:
        - name: calculationType
          in: path
          description: The type of calculation to get supported units for.
          required: true
          schema:
            type: string
        - name: meteringType
          in: query
          description: The type of metering to filter supported units by.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/UnitOfMeasureListApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/UnitOfMeasureListApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  - none
            text/json:
              schema:
                $ref: '#/components/schemas/UnitOfMeasureListApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  - none
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/BillingItems/{entityId}/translations':
    post:
      tags:
        - BillingItems
      summary: '/BillingItems/{entityId}/translations - POST'
      operationId: post-billingitems-entityid-translations
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateEntityTranslationRequest'
            example:
              translatedFields: { }
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateEntityTranslationRequest'
            example:
              translatedFields: { }
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateEntityTranslationRequest'
            example:
              translatedFields: { }
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /BillingTariffs:
    get:
      tags:
        - BillingTariffs
      summary: Retrieves a paged list of billing tariffs with optional filtering and sorting.
      description: Retrieves a paged list of billing tariffs with optional filtering and sorting.
      operationId: get-billingtariffs
      parameters:
        - name: showDeleted
          in: query
          description: 'When true, includes deleted billing tariffs in the results.'
          schema:
            type: boolean
        - name: flexSearch
          in: query
          description: Search term to filter tariffs by various fields.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sorting expression for the results.
          schema:
            type: string
        - name: productId
          in: query
          description: Filter tariffs by product identifier.
          schema:
            type: string
        - name: billingItemId
          in: query
          description: Filter tariffs by billing item identifier.
          schema:
            type: string
        - name: calculationTypes
          in: query
          description: Filter tariffs by calculation types.
          schema:
            type: array
            items:
              type: string
        - name: unboundedPeriod
          in: query
          description: 'When true, filters for tariffs with unbounded periods.'
          schema:
            type: boolean
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingTariffDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingTariffDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      productId: string
                      billingItemId: string
                      contractId: string
                      calculationParameters:
                        calculationType: { }
                      conditionParameters:
                        - { }
                      startDateTime: string
                      endDateTime: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/BillingTariffDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      productId: string
                      billingItemId: string
                      contractId: string
                      calculationParameters:
                        calculationType: { }
                      conditionParameters:
                        - { }
                      startDateTime: string
                      endDateTime: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
  '/BillingTariffs/{billingtariffuuid}':
    get:
      tags:
        - BillingTariffs
      summary: Retrieves a specific billing tariff by its identifier.
      description: Retrieves a specific billing tariff by its identifier.
      operationId: get-billingtariffs-billingtariffuuid
      parameters:
        - name: billingtariffuuid
          in: path
          description: The unique identifier of the billing tariff.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingTariffDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BillingTariffDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  productId: string
                  billingItemId: string
                  contractId: string
                  calculationParameters:
                    calculationType: { }
                  conditionParameters:
                    - { }
                  startDateTime: string
                  endDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/BillingTariffDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  productId: string
                  billingItemId: string
                  contractId: string
                  calculationParameters:
                    calculationType: { }
                  conditionParameters:
                    - { }
                  startDateTime: string
                  endDateTime: string
  '/BillingTariffs/b/{billingItemId}':
    post:
      tags:
        - BillingTariffs
      summary: Creates a billing tariff tree for a specific billing item.
      description: Creates a billing tariff tree for a specific billing item.
      operationId: post-billingtariffs-b-billingitemid
      parameters:
        - name: billingItemId
          in: path
          description: The identifier of the billing item to create tariffs for.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The details of the billing tariff tree to create.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateBillingTariffTreeRequest'
            example:
              id: string
              productId: string
              activityPeriod:
                startDateTime: string
                endDateTime: string
              nodes:
                - calculationParameters:
                    calculationType: { }
                  condition: { }
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateBillingTariffTreeRequest'
            example:
              id: string
              productId: string
              activityPeriod:
                startDateTime: string
                endDateTime: string
              nodes:
                - calculationParameters:
                    calculationType: { }
                  condition: { }
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateBillingTariffTreeRequest'
            example:
              id: string
              productId: string
              activityPeriod:
                startDateTime: string
                endDateTime: string
              nodes:
                - calculationParameters:
                    calculationType: { }
                  condition: { }
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    put:
      tags:
        - BillingTariffs
      summary: Updates an existing billing tariff tree for a specific billing item.
      description: Updates an existing billing tariff tree for a specific billing item.
      operationId: put-billingtariffs-b-billingitemid
      parameters:
        - name: billingItemId
          in: path
          description: The identifier of the billing item whose tariff tree to update.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The updated billing tariff tree details.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateBillingTariffTreeRequest'
            example:
              productId: string
              activityPeriod:
                startDateTime: string
                endDateTime: string
              deletedBillingTariffIds:
                - string
              nodes:
                - billingTariffId: string
                  calculationParameters:
                    calculationType: { }
                  condition: { }
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateBillingTariffTreeRequest'
            example:
              productId: string
              activityPeriod:
                startDateTime: string
                endDateTime: string
              deletedBillingTariffIds:
                - string
              nodes:
                - billingTariffId: string
                  calculationParameters:
                    calculationType: { }
                  condition: { }
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateBillingTariffTreeRequest'
            example:
              productId: string
              activityPeriod:
                startDateTime: string
                endDateTime: string
              deletedBillingTariffIds:
                - string
              nodes:
                - billingTariffId: string
                  calculationParameters:
                    calculationType: { }
                  condition: { }
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
[...]
