openapi: 3.0.1
info:
  title: Forecasting
  description: Forecasting API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/fct
paths:
  /ConsumerGroups:
    get:
      tags:
        - Default
      summary: Retrieves all consumer groups
      description: Retrieves all consumer groups
      operationId: get-consumergroups
      parameters:
        - name: showDeleted
          in: query
          description: 'When true, includes deleted consumer groups in the results.'
          schema:
            type: boolean
        - name: origin
          in: query
          description: The origin of the consumer groups
          schema:
            type: string
        - name: utilityType
          in: query
          description: Utility type of the consumer groups
          schema:
            type: string
        - name: flexSearch
          in: query
          description: Search term to filter accounts by various fields.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sorting expression for the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: All consumer groups
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfConsumerGroupDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfConsumerGroupDTO'
              example:
                data:
                  results:
                    - code: string
                      description: string
                      utilityType: none
                      unitOfMeasure: none
                      estimatedAnnualVolume: 0
                      loadProfileId: string
                      origin: manual
                      lastRecalculated: string
                      deleted: true
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfConsumerGroupDTO'
              example:
                data:
                  results:
                    - code: string
                      description: string
                      utilityType: none
                      unitOfMeasure: none
                      estimatedAnnualVolume: 0
                      loadProfileId: string
                      origin: manual
                      lastRecalculated: string
                      deleted: true
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    post:
      tags:
        - Default
      summary: Creates a new consumer group
      description: Creates a new consumer group
      operationId: post-consumergroups
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsumerGroupRequest'
            example:
              code: string
              description: string
              utilityType: none
              unitOfMeasure: none
              estimatedAnnualVolume: 0
          text/json:
            schema:
              $ref: '#/components/schemas/CreateConsumerGroupRequest'
            example:
              code: string
              description: string
              utilityType: none
              unitOfMeasure: none
              estimatedAnnualVolume: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateConsumerGroupRequest'
            example:
              code: string
              description: string
              utilityType: none
              unitOfMeasure: none
              estimatedAnnualVolume: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              example:
                data:
                  code: string
                  description: string
                  utilityType: none
                  unitOfMeasure: none
                  estimatedAnnualVolume: 0
                  loadProfileId: string
                  origin: manual
                  lastRecalculated: string
                  deleted: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              example:
                data:
                  code: string
                  description: string
                  utilityType: none
                  unitOfMeasure: none
                  estimatedAnnualVolume: 0
                  loadProfileId: string
                  origin: manual
                  lastRecalculated: string
                  deleted: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
  '/ConsumerGroups/{consumergroupid}':
    get:
      tags:
        - Default
      summary: Retrieves a specific consumer group by its identifier
      description: Retrieves a specific consumer group by its identifier
      operationId: GetConsumerGroup
      parameters:
        - name: consumergroupid
          in: path
          description: The unique identifier of the consumer group
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              example:
                data:
                  code: string
                  description: string
                  utilityType: none
                  unitOfMeasure: none
                  estimatedAnnualVolume: 0
                  loadProfileId: string
                  origin: manual
                  lastRecalculated: string
                  deleted: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              example:
                data:
                  code: string
                  description: string
                  utilityType: none
                  unitOfMeasure: none
                  estimatedAnnualVolume: 0
                  loadProfileId: string
                  origin: manual
                  lastRecalculated: string
                  deleted: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    put:
      tags:
        - Default
      summary: Updates an existing consumer group
      description: Updates an existing consumer group
      operationId: UpdateConsumerGroup
      parameters:
        - name: consumergroupid
          in: path
          description: The unique identifier of the consumer group to update
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConsumerGroupRequest'
            example:
              code: string
              utilityType: none
              unitOfMeasure: none
              description: string
              estimatedAnnualVolume: 0
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateConsumerGroupRequest'
            example:
              code: string
              utilityType: none
              unitOfMeasure: none
              description: string
              estimatedAnnualVolume: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateConsumerGroupRequest'
            example:
              code: string
              utilityType: none
              unitOfMeasure: none
              description: string
              estimatedAnnualVolume: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              example:
                data:
                  code: string
                  description: string
                  utilityType: none
                  unitOfMeasure: none
                  estimatedAnnualVolume: 0
                  loadProfileId: string
                  origin: manual
                  lastRecalculated: string
                  deleted: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              example:
                data:
                  code: string
                  description: string
                  utilityType: none
                  unitOfMeasure: none
                  estimatedAnnualVolume: 0
                  loadProfileId: string
                  origin: manual
                  lastRecalculated: string
                  deleted: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
    delete:
      tags:
        - Default
      summary: Deletes a consumer group by its identifier
      description: Deletes a consumer group by its identifier
      operationId: DeleteConsumerGroup
      parameters:
        - name: consumergroupid
          in: path
          description: The unique identifier of the consumer group to delete
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
  '/ConsumerGroups/{consumergroupid}/{uom}':
    get:
      tags:
        - Default
      summary: Retrieves a specific consumer group by its identifier and converts to the specified unit of measure
      description: Retrieves a specific consumer group by its identifier and converts to the specified unit of measure
      operationId: GetConsumerGroupAndConvert
      parameters:
        - name: consumergroupid
          in: path
          description: The unique identifier of the consumer group
          required: true
          schema:
            type: string
        - name: uom
          in: path
          description: Unit of measure to convert to
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              example:
                data:
                  code: string
                  description: string
                  utilityType: none
                  unitOfMeasure: none
                  estimatedAnnualVolume: 0
                  loadProfileId: string
                  origin: manual
                  lastRecalculated: string
                  deleted: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfConsumerGroupDTO'
              example:
                data:
                  code: string
                  description: string
                  utilityType: none
                  unitOfMeasure: none
                  estimatedAnnualVolume: 0
                  loadProfileId: string
                  origin: manual
                  lastRecalculated: string
                  deleted: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /ConsumerGroups/availableutilitytypes:
    get:
      tags:
        - Default
      summary: Retrieves the available utility types applicable for consumer groups
      description: Retrieves the available utility types applicable for consumer groups
      operationId: GetAvailableUtilityTypes
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: The available utility types applicable for consumer groups
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfUtilityType'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfUtilityType'
              example:
                data:
                  results:
                    - none
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfUtilityType'
              example:
                data:
                  results:
                    - none
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /ConsumerGroups/servicelocation/matchingconsumergroups:
    post:
      tags:
        - Default
      summary: Retrieves the matching consumer groups for a specific property group
      description: Retrieves the matching consumer groups for a specific property group
      operationId: GetServiceLocationMatchingConsumerGroups
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetServiceLocationMatchingConsumerGroupsRequest'
            example:
              propertyGroupId: string
              productId: string
              utilityType: none
          text/json:
            schema:
              $ref: '#/components/schemas/GetServiceLocationMatchingConsumerGroupsRequest'
            example:
              propertyGroupId: string
              productId: string
              utilityType: none
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetServiceLocationMatchingConsumerGroupsRequest'
            example:
              propertyGroupId: string
              productId: string
              utilityType: none
      responses:
        '200':
          description: The matching consumer groups for a specific property group
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfGetServiceLocationMatchingConsumerGroupsDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfGetServiceLocationMatchingConsumerGroupsDTO'
              example:
                data:
                  matchingConsumerGroups: { }
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfGetServiceLocationMatchingConsumerGroupsDTO'
              example:
                data:
                  matchingConsumerGroups: { }
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EstimableContracts/{estimablecontractid}':
    get:
      tags:
        - Default
      summary: Retrieves a estimable contract by its identifier
      description: Retrieves a estimable contract by its identifier
      operationId: GetEstimableContract
      parameters:
        - name: estimablecontractid
          in: path
          description: the unique identifier of the estimable contract
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEstimableContractDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEstimableContractDTO'
              example:
                data:
                  contractStatus: draft
                  supplyStartDateTime: string
                  supplyEndDateTime: string
                  supplyStartYear: 0
                  supplyEndYear: 0
                  contractServices:
                    - serviceLocationId: string
                      propertyGroupId: string
                      utilityType: none
                      meteringType: none
                      unitOfMeasure: none
                      externalIdentifier: string
                      consumerGroupId: string
                      supplyStartDateTime: string
                      supplyEndDateTime: string
                      supplyStartYear: 0
                      supplyEndYear: 0
                      estimatedAnnualVolumes:
                        - year: 0
                          value: 0
                          origin: manual
                          lastRecalculated: string
                  calculationYearsInProgress:
                    - 0
                  customerId: string
                  products:
                    - productId: string
                      productName: string
                      startDateTime: string
                      endDateTime: string
                  timeZone: string
                  isEstimationInProgress: true
                  isInvoiceEstimationInProgress: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfEstimableContractDTO'
              example:
                data:
                  contractStatus: draft
                  supplyStartDateTime: string
                  supplyEndDateTime: string
                  supplyStartYear: 0
                  supplyEndYear: 0
                  contractServices:
                    - serviceLocationId: string
                      propertyGroupId: string
                      utilityType: none
                      meteringType: none
                      unitOfMeasure: none
                      externalIdentifier: string
                      consumerGroupId: string
                      supplyStartDateTime: string
                      supplyEndDateTime: string
                      supplyStartYear: 0
                      supplyEndYear: 0
                      estimatedAnnualVolumes:
                        - year: 0
                          value: 0
                          origin: manual
                          lastRecalculated: string
                  calculationYearsInProgress:
                    - 0
                  customerId: string
                  products:
                    - productId: string
                      productName: string
                      startDateTime: string
                      endDateTime: string
                  timeZone: string
                  isEstimationInProgress: true
                  isInvoiceEstimationInProgress: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EstimableContracts/{estimablecontractid}/eav/{year}/estimate':
    post:
      tags:
        - Default
      summary: Starts the estimation of the annual volume for a specific year of the specified estimable contract
      description: Starts the estimation of the annual volume for a specific year of the specified estimable contract
      operationId: EstimateEav
      parameters:
        - name: estimablecontractid
          in: path
          description: the unique identifier of the estimable contract
          required: true
          schema:
            type: string
        - name: year
          in: path
          description: The applicable year for the estimation
          required: true
          schema:
            type: integer
            format: int32
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EstimableContracts/{estimablecontractid}/eav/currentandnextyear/estimate':
    post:
      tags:
        - Default
      summary: Starts the estimation of the annual volume for the current and next year of the specified estimable contract
      description: Starts the estimation of the annual volume for the current and next year of the specified estimable contract
      operationId: EstimateEavForContractForCurrentAndNextYear
      parameters:
        - name: estimablecontractid
          in: path
          description: the unique identifier of the estimable contract
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/EstimableContracts/servicelocations/{servicelocationid}/eav/currentandnextyear/estimate':
    post:
      tags:
        - Default
      summary: Starts the estimation of the annual volume for the current and next year of the specified service location
      description: Starts the estimation of the annual volume for the current and next year of the specified service location
      operationId: EstimateEavForServiceLocationForCurrentAndNextYear
      parameters:
        - name: servicelocationid
          in: path
          description: the unique identifier of the estimable service location
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Estimations/servicelocations/{sluuid}/consumptions':
    get:
      tags:
        - Default
      summary: Retrieves the estimated consumptions for the specified service location
      description: Retrieves the estimated consumptions for the specified service location
      operationId: get-estimations-servicelocations-sluuid-consumptions
      parameters:
        - name: sluuid
          in: path
          description: The unique identifier of the service location
          required: true
          schema:
            type: string
        - name: startDateTime
          in: query
          description: Start datetime of the estimation
          schema:
            type: string
            format: date-time
        - name: endDateTime
          in: query
          description: End datetime of the estimation
          schema:
            type: string
            format: date-time
        - name: utilityType
          in: query
          description: Utility type for which we are retrieving the estimation
          schema:
            type: string
        - name: unitOfMeasure
          in: query
          description: Unit of measure for which are retrieving the estimation
          schema:
            type: string
        - name: groupByPeriod
          in: query
          description: Period on which the estimated consumptions will be grouped
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfEstimatedConsumptionDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfEstimatedConsumptionDTO'
              example:
                data:
                  - startDateTime: string
                    endDateTime: string
                    origin: manual
                    lastRecalculated: string
                    consumerGroupId: string
                    contractId: string
                    value: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfEstimatedConsumptionDTO'
              example:
                data:
                  - startDateTime: string
                    endDateTime: string
                    origin: manual
                    lastRecalculated: string
                    consumerGroupId: string
                    contractId: string
                    value: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/PropertyGroupForecastingConfiguration/{propertygroupid}/consumergroups':
    post:
      tags:
        - Default
      summary: Updates consumer group configuration an existing property group
      description: Updates consumer group configuration an existing property group
      operationId: UpdatePropertyGroupConfigConsumerGroups
      parameters:
        - name: propertygroupid
          in: path
          description: The unique identifier of the property group to update consumer group configuration on
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyGroupForecastingConfigConsumerGroupsRequest'
            example:
              consumerGroups: { }
          text/json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyGroupForecastingConfigConsumerGroupsRequest'
            example:
              consumerGroups: { }
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdatePropertyGroupForecastingConfigConsumerGroupsRequest'
            example:
              consumerGroups: { }
      responses:
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPropertyGroupForecastingConfigurationDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPropertyGroupForecastingConfigurationDTO'
              example:
                data:
                  consumerGroups: { }
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPropertyGroupForecastingConfigurationDTO'
              example:
                data:
                  consumerGroups: { }
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/PropertyGroupForecastingConfiguration/{propertygroupid}':
    get:
      tags:
        - Default
      summary: Retrieves the property group forecasting configuration by its identifier
      description: Retrieves the property group forecasting configuration by its identifier
      operationId: GetPropertyGroupForecastingConfig
      parameters:
        - name: propertygroupid
          in: path
          description: The unique identifier of the property group
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPropertyGroupForecastingConfigurationDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPropertyGroupForecastingConfigurationDTO'
              example:
                data:
                  consumerGroups: { }
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPropertyGroupForecastingConfigurationDTO'
              example:
                data:
                  consumerGroups: { }
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /SyntheticLoadProfiles:
    get:
      tags:
        - Default
      summary: Retrieves all synthetic load profiles
      description: Retrieves all synthetic load profiles
      operationId: get-syntheticloadprofiles
      parameters:
        - name: showDeleted
          in: query
          description: 'When true, includes deleted synthetic load profiles in the results.'
          schema:
            type: boolean
        - name: flexSearch
          in: query
          description: Search term to filter accounts by various fields.
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sorting expression for the results.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: All synthetic load profiles
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfSyntheticLoadProfileDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfSyntheticLoadProfileDTO'
              example:
                data:
                  results:
                    - code: string
                      description: string
                      origin: manual
                      deleted: true
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfSyntheticLoadProfileDTO'
              example:
                data:
                  results:
                    - code: string
                      description: string
                      origin: manual
                      deleted: true
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/SyntheticLoadProfiles/{syntheticloadprofileid}':
    get:
      tags:
        - Default
      summary: Retrieves a specific synthetic load profile by its identifier
      description: Retrieves a specific synthetic load profile by its identifier
      operationId: GetSyntheticLoadProfile
      parameters:
        - name: syntheticloadprofileid
          in: path
          description: The unique identifier of the synthetic load profile
          required: true
          schema:
            type: string
        - name: showDeleted
          in: query
          description: 'When true, includes deleted synthetic load profiles in the results.'
          schema:
            type: boolean
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSyntheticLoadProfileDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSyntheticLoadProfileDTO'
              example:
                data:
                  code: string
                  description: string
                  origin: manual
                  deleted: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSyntheticLoadProfileDTO'
              example:
                data:
                  code: string
                  description: string
                  origin: manual
                  deleted: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Estimations/buckets/consumptions:
    post:
      tags:
        - Default
      summary: Retrieves the estimated consumptions for service locations grouped by buckets
      description: Retrieves the estimated consumptions for service locations grouped by buckets
      operationId: post-estimations-buckets-consumptions
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Cancellation token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketedEstimatedConsumptionRequest'
            example:
              contractId: string
              serviceLocationIds:
                - string
              buckets:
                - startDateTime: string
                  endDateTime: string
              utilityType: none
              unitOfMeasure: none
          text/json:
            schema:
              $ref: '#/components/schemas/BucketedEstimatedConsumptionRequest'
            example:
              contractId: string
              serviceLocationIds:
                - string
              buckets:
                - startDateTime: string
                  endDateTime: string
              utilityType: none
              unitOfMeasure: none
          application/*+json:
            schema:
              $ref: '#/components/schemas/BucketedEstimatedConsumptionRequest'
            example:
              contractId: string
              serviceLocationIds:
                - string
              buckets:
                - startDateTime: string
                  endDateTime: string
              utilityType: none
              unitOfMeasure: none
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfEstimatedConsumptionBucketDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfEstimatedConsumptionBucketDTO'
              example:
                data:
                  - startDateTime: string
                    endDateTime: string
                    value: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfEstimatedConsumptionBucketDTO'
              example:
                data:
                  - startDateTime: string
                    endDateTime: string
                    value: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /ConsumerGroups/buckets/consumptions:
    post:
      tags:
        - Default
      summary: Gets consumer group consumption data split into buckets
      description: Gets consumer group consumption data split into buckets
      operationId: GetBucketedConsumerGroupConsumptions
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BucketedConsumerGroupConsumptionRequest'
            example:
              contractId: string
              buckets:
                - startDateTime: string
                  endDateTime: string
              utilityType: none
              unitOfMeasure: none
          text/json:
            schema:
              $ref: '#/components/schemas/BucketedConsumerGroupConsumptionRequest'
            example:
              contractId: string
              buckets:
                - startDateTime: string
                  endDateTime: string
              utilityType: none
              unitOfMeasure: none
          application/*+json:
            schema:
              $ref: '#/components/schemas/BucketedConsumerGroupConsumptionRequest'
            example:
              contractId: string
              buckets:
                - startDateTime: string
                  endDateTime: string
              utilityType: none
              unitOfMeasure: none
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfConsumerGroupConsumptionBucketDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfConsumerGroupConsumptionBucketDTO'
              example:
                data:
                  - startDateTime: string
                    endDateTime: string
                    value: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfConsumerGroupConsumptionBucketDTO'
              example:
                data:
                  - startDateTime: string
                    endDateTime: string
                    value: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /MigrationAdmin/latest-version:
    get:
      tags:
        - Default
      summary: /MigrationAdmin/latest-version - GET
      operationId: get-migrationadmin-latest-version
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMigrationLatestVersionDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMigrationLatestVersionDTO'
              example:
                data:
                  namespace: string
                  latestVersion: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMigrationLatestVersionDTO'
              example:
                data:
                  namespace: string
                  latestVersion: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
components:
  schemas:
    AggregateDetailsDTO:
      type: object
      properties:
        code:
          type: string
        translation:
          type: string
        value:
          type: number
          format: double
          nullable: true
        valueDate:
          type: string
          format: date-time
          nullable: true
    ApiResponseDTO:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfboolean:
      type: object
      properties:
        data:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfConsumerGroupDTO:
      type: object
      properties:
        data:
          type: object
          oneOf:
            - $ref: '#/components/schemas/ConsumerGroupDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfEstimableContractDTO:
      type: object
      properties:
        data:
          type: object
          oneOf:
            - $ref: '#/components/schemas/EstimableContractDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfGetServiceLocationMatchingConsumerGroupsDTO:
      type: object
      properties:
        data:
          type: object
          oneOf:
            - $ref: '#/components/schemas/GetServiceLocationMatchingConsumerGroupsDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfListOfConsumerGroupConsumptionBucketDTO:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ConsumerGroupConsumptionBucketDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfListOfEstimatedConsumptionBucketDTO:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EstimatedConsumptionBucketDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfListOfEstimatedConsumptionDTO:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EstimatedConsumptionDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfMigrationLatestVersionDTO:
      type: object
      properties:
        data:
          type: object
          oneOf:
            - $ref: '#/components/schemas/MigrationLatestVersionDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfPagedResponseModelDTOOfConsumerGroupDTO:
      type: object
      properties:
        data:
          type: object
          oneOf:
            - $ref: '#/components/schemas/PagedResponseModelDTOOfConsumerGroupDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
[...]
