openapi: 3.0.1
info:
  title: Masterdata
  description: MasterData API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/md
paths:
  /Contracts:
    post:
      tags:
        - Default
      summary: Create new contract.
      description: Create new contract.
      operationId: post-contracts
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
            example:
              contractorId: string
              contractNumber: string
              supplyStartDate: string
              supplyEndDate: string
              contractedServiceLocations:
                - __type: MigrateContractServiceLocationRequest
                  reference: string
                  serviceLocationExternalId: string
                  serviceLocationId: string
                  utilityType: none
                  estimatedConsumptions:
                    - consumerGroupId: string
                      unitOfMeasure: none
                      meteringType: none
                      direction: offtake
                      consumptionQuantity: 0
              attachmentSignatures:
                - culture: string
                  attachmentFileName: string
                  errorCode: 0
                  origin: customer
                  productAttachmentId: string
                  attachmentFileId: string
                  entityAttachmentGroupId: string
                  signDate: string
                  viewedDate: string
              productId: string
              invoiceAddress:
                streetName: string
                streetNumber: string
                streetNumberAddition: string
                postalCode: string
                buildingName: string
                locality: string
                city: string
                country: aut
                localizedDisplay: string
                lineOne: string
                lineTwo: string
              externalContractReference: string
              billingProperties:
                type: CreateContractBillingPropertiesCreditRequest
                invoiceFrequency: monthly
                advanceFrequency: none
                contractualAdvanceAmount: 0
                firstInvoiceStartDateTime: string
                firstInvoiceEndDateTime: string
                paymentTermsId: string
                expectAdvancesToBeImportedPeriodically: true
                deviatingFirstAdvanceStartDate: string
                advanceCalculationType: fixed
                advancePeriodPercentages:
                  - periodIndex: 0
                    percentage: 0
          text/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
            example:
              contractorId: string
              contractNumber: string
              supplyStartDate: string
              supplyEndDate: string
              contractedServiceLocations:
                - __type: MigrateContractServiceLocationRequest
                  reference: string
                  serviceLocationExternalId: string
                  serviceLocationId: string
                  utilityType: none
                  estimatedConsumptions:
                    - consumerGroupId: string
                      unitOfMeasure: none
                      meteringType: none
                      direction: offtake
                      consumptionQuantity: 0
              attachmentSignatures:
                - culture: string
                  attachmentFileName: string
                  errorCode: 0
                  origin: customer
                  productAttachmentId: string
                  attachmentFileId: string
                  entityAttachmentGroupId: string
                  signDate: string
                  viewedDate: string
              productId: string
              invoiceAddress:
                streetName: string
                streetNumber: string
                streetNumberAddition: string
                postalCode: string
                buildingName: string
                locality: string
                city: string
                country: aut
                localizedDisplay: string
                lineOne: string
                lineTwo: string
              externalContractReference: string
              billingProperties:
                type: CreateContractBillingPropertiesCreditRequest
                invoiceFrequency: monthly
                advanceFrequency: none
                contractualAdvanceAmount: 0
                firstInvoiceStartDateTime: string
                firstInvoiceEndDateTime: string
                paymentTermsId: string
                expectAdvancesToBeImportedPeriodically: true
                deviatingFirstAdvanceStartDate: string
                advanceCalculationType: fixed
                advancePeriodPercentages:
                  - periodIndex: 0
                    percentage: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
            example:
              contractorId: string
              contractNumber: string
              supplyStartDate: string
              supplyEndDate: string
              contractedServiceLocations:
                - __type: MigrateContractServiceLocationRequest
                  reference: string
                  serviceLocationExternalId: string
                  serviceLocationId: string
                  utilityType: none
                  estimatedConsumptions:
                    - consumerGroupId: string
                      unitOfMeasure: none
                      meteringType: none
                      direction: offtake
                      consumptionQuantity: 0
              attachmentSignatures:
                - culture: string
                  attachmentFileName: string
                  errorCode: 0
                  origin: customer
                  productAttachmentId: string
                  attachmentFileId: string
                  entityAttachmentGroupId: string
                  signDate: string
                  viewedDate: string
              productId: string
              invoiceAddress:
                streetName: string
                streetNumber: string
                streetNumberAddition: string
                postalCode: string
                buildingName: string
                locality: string
                city: string
                country: aut
                localizedDisplay: string
                lineOne: string
                lineTwo: string
              externalContractReference: string
              billingProperties:
                type: CreateContractBillingPropertiesCreditRequest
                invoiceFrequency: monthly
                advanceFrequency: none
                contractualAdvanceAmount: 0
                firstInvoiceStartDateTime: string
                firstInvoiceEndDateTime: string
                paymentTermsId: string
                expectAdvancesToBeImportedPeriodically: true
                deviatingFirstAdvanceStartDate: string
                advanceCalculationType: fixed
                advancePeriodPercentages:
                  - periodIndex: 0
                    percentage: 0
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              example:
                data:
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: sct
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: aut
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: none
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              consumptionQuantity: 0
                              unitOfMeasure: none
                              meteringType: none
                              direction: offtake
                      prepaymentDeviceCoverageReferences:
                        - prepaymentAccount:
                            id: string
                            number: string
                          prepaymentDevice:
                            id: string
                            serialNumber: string
                          services:
                            - none
                          startDateTime: string
                          endDateTime: string
                  statusHistory:
                    - contractStatus: draft
                      mutationDateTime: string
                  currentContractStatus: draft
                  billingDetails:
                    billingMethods:
                      - billingMethod: credit
                        startDateTime: string
                        endDateTime: string
                    currentBillingMethod: credit
                    billingMethod: credit
                    invoiceFrequency: monthly
                    advanceFrequency: none
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: aut
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                    advanceCalculationType: fixed
                    advancePeriodPercentages:
                      - periodIndex: 0
                        percentage: 0
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: string
                      attachmentFileName: string
                      errorCode: 0
                      origin: customer
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              example:
                data:
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: sct
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: aut
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: none
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              consumptionQuantity: 0
                              unitOfMeasure: none
                              meteringType: none
                              direction: offtake
                      prepaymentDeviceCoverageReferences:
                        - prepaymentAccount:
                            id: string
                            number: string
                          prepaymentDevice:
                            id: string
                            serialNumber: string
                          services:
                            - none
                          startDateTime: string
                          endDateTime: string
                  statusHistory:
                    - contractStatus: draft
                      mutationDateTime: string
                  currentContractStatus: draft
                  billingDetails:
                    billingMethods:
                      - billingMethod: credit
                        startDateTime: string
                        endDateTime: string
                    currentBillingMethod: credit
                    billingMethod: credit
                    invoiceFrequency: monthly
                    advanceFrequency: none
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: aut
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                    advanceCalculationType: fixed
                    advancePeriodPercentages:
                      - periodIndex: 0
                        percentage: 0
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: string
                      attachmentFileName: string
                      errorCode: 0
                      origin: customer
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Contracts/filter:
    post:
      tags:
        - Default
      summary: Retrieve contracts based on the provided query parameters.
      description: Retrieve contracts based on the provided query parameters.
      operationId: post-contracts-filter
      parameters:
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: Allows to order the contracts.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              serviceLocationId: string
              propertyGroupIds:
                - string
              utilityTypes:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              productIds:
                - string
              excludeTerminatedContracts: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              serviceLocationId: string
              propertyGroupIds:
                - string
              utilityTypes:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              productIds:
                - string
              excludeTerminatedContracts: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              serviceLocationId: string
              propertyGroupIds:
                - string
              utilityTypes:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              productIds:
                - string
              excludeTerminatedContracts: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: A paged response of contracts.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfContractDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfContractDTO'
              example:
                data:
                  results:
                    - contractNumber: string
                      contractor:
                        customerId: string
                        accountNumber: string
                        shortDisplayName: string
                        paymentMethod: sct
                        customerType: person
                        customerGroup:
                          id: string
                          name: string
                      supplyStartDate: string
                      supplyEndDate: string
                      serviceLocations:
                        - id: string
                          address:
                            streetName: string
                            streetNumber: string
                            streetNumberAddition: string
                            postalCode: string
                            buildingName: string
                            locality: string
                            city: string
                            country: aut
                            localizedDisplay: string
                            lineOne: string
                            lineTwo: string
                          propertyGroupId: string
                          services:
                            - startDateTime: string
                              endDateTime: string
                              utilityType: none
                              externalIdentifier: string
                              isConsumptionBased: true
                              estimatedConsumptions:
                                - consumerGroupId: string
                                  consumptionQuantity: 0
                                  unitOfMeasure: none
                                  meteringType: none
                                  direction: offtake
                          prepaymentDeviceCoverageReferences:
                            - prepaymentAccount:
                                id: string
                                number: string
                              prepaymentDevice:
                                id: string
                                serialNumber: string
                              services:
                                - none
                              startDateTime: string
                              endDateTime: string
                      statusHistory:
                        - contractStatus: draft
                          mutationDateTime: string
                      currentContractStatus: draft
                      billingDetails:
                        billingMethods:
                          - billingMethod: credit
                            startDateTime: string
                            endDateTime: string
                        currentBillingMethod: credit
                        billingMethod: credit
                        invoiceFrequency: monthly
                        advanceFrequency: none
                        contractualAdvanceAmount: 0
                        products:
                          - productId: string
                            productName: string
                            startDateTime: string
                            endDateTime: string
                        invoiceAddress:
                          streetName: string
                          streetNumber: string
                          streetNumberAddition: string
                          postalCode: string
                          buildingName: string
                          locality: string
                          city: string
                          country: aut
                          localizedDisplay: string
                          lineOne: string
                          lineTwo: string
                        firstInvoiceStartDateTime: string
                        firstInvoiceEndDateTime: string
                        blocked: true
                        advanceCalculationType: fixed
                        advancePeriodPercentages:
                          - periodIndex: 0
                            percentage: 0
                      externalContractReference: string
                      paymentTermsId: string
                      blockedForDeletion: true
                      expectAdvancesToBeImportedPeriodically: true
                      usePropertyGroupProduct: true
                      propertyGroups:
                        - id: string
                          name: string
                      attachmentSignatures:
                        - culture: string
                          attachmentFileName: string
                          errorCode: 0
                          origin: customer
                          productAttachmentId: string
                          attachmentFileId: string
                          entityAttachmentGroupId: string
                          signDate: string
                          viewedDate: string
                      customProperties:
                        - customEntityPropertyTypeId: string
                          values:
                            - valueDecimal: 0
                              valueString: string
                              valueBoolean: true
                              valueNumber: 0
                              valueDateTime: string
                              valueDropdown:
                                - string
                              startDateTime: string
                              endDateTime: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfContractDTO'
              example:
                data:
                  results:
                    - contractNumber: string
                      contractor:
                        customerId: string
                        accountNumber: string
                        shortDisplayName: string
                        paymentMethod: sct
                        customerType: person
                        customerGroup:
                          id: string
                          name: string
                      supplyStartDate: string
                      supplyEndDate: string
                      serviceLocations:
                        - id: string
                          address:
                            streetName: string
                            streetNumber: string
                            streetNumberAddition: string
                            postalCode: string
                            buildingName: string
                            locality: string
                            city: string
                            country: aut
                            localizedDisplay: string
                            lineOne: string
                            lineTwo: string
                          propertyGroupId: string
                          services:
                            - startDateTime: string
                              endDateTime: string
                              utilityType: none
                              externalIdentifier: string
                              isConsumptionBased: true
                              estimatedConsumptions:
                                - consumerGroupId: string
                                  consumptionQuantity: 0
                                  unitOfMeasure: none
                                  meteringType: none
                                  direction: offtake
                          prepaymentDeviceCoverageReferences:
                            - prepaymentAccount:
                                id: string
                                number: string
                              prepaymentDevice:
                                id: string
                                serialNumber: string
                              services:
                                - none
                              startDateTime: string
                              endDateTime: string
                      statusHistory:
                        - contractStatus: draft
                          mutationDateTime: string
                      currentContractStatus: draft
                      billingDetails:
                        billingMethods:
                          - billingMethod: credit
                            startDateTime: string
                            endDateTime: string
                        currentBillingMethod: credit
                        billingMethod: credit
                        invoiceFrequency: monthly
                        advanceFrequency: none
                        contractualAdvanceAmount: 0
                        products:
                          - productId: string
                            productName: string
                            startDateTime: string
                            endDateTime: string
                        invoiceAddress:
                          streetName: string
                          streetNumber: string
                          streetNumberAddition: string
                          postalCode: string
                          buildingName: string
                          locality: string
                          city: string
                          country: aut
                          localizedDisplay: string
                          lineOne: string
                          lineTwo: string
                        firstInvoiceStartDateTime: string
                        firstInvoiceEndDateTime: string
                        blocked: true
                        advanceCalculationType: fixed
                        advancePeriodPercentages:
                          - periodIndex: 0
                            percentage: 0
                      externalContractReference: string
                      paymentTermsId: string
                      blockedForDeletion: true
                      expectAdvancesToBeImportedPeriodically: true
                      usePropertyGroupProduct: true
                      propertyGroups:
                        - id: string
                          name: string
                      attachmentSignatures:
                        - culture: string
                          attachmentFileName: string
                          errorCode: 0
                          origin: customer
                          productAttachmentId: string
                          attachmentFileId: string
                          entityAttachmentGroupId: string
                          signDate: string
                          viewedDate: string
                      customProperties:
                        - customEntityPropertyTypeId: string
                          values:
                            - valueDecimal: 0
                              valueString: string
                              valueBoolean: true
                              valueNumber: 0
                              valueDateTime: string
                              valueDropdown:
                                - string
                              startDateTime: string
                              endDateTime: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Contracts/filter/overviewcount:
    post:
      tags:
        - Default
      summary: Retrieve the overview count of contracts based on the provided query parameters.
      description: Retrieve the overview count of contracts based on the provided query parameters.
      operationId: post-contracts-filter-overviewcount
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              serviceLocationId: string
              propertyGroupIds:
                - string
              utilityTypes:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              productIds:
                - string
              excludeTerminatedContracts: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          text/json:
            schema:
              $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              serviceLocationId: string
              propertyGroupIds:
                - string
              utilityTypes:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              productIds:
                - string
              excludeTerminatedContracts: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              serviceLocationId: string
              propertyGroupIds:
                - string
              utilityTypes:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              productIds:
                - string
              excludeTerminatedContracts: true
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              pageSize: 0
      responses:
        '200':
          description: The overview count of contracts.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractOverviewCountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractOverviewCountDTO'
              example:
                data:
                  all: 0
                  draft: 0
                  ongoing: 0
                  blocked: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractOverviewCountDTO'
              example:
                data:
                  all: 0
                  draft: 0
                  ongoing: 0
                  blocked: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Contracts/{contractuuid}':
    get:
      tags:
        - Default
      summary: Retrieve a contract by its ID.
      description: Retrieve a contract by its ID.
      operationId: get-contracts-contractuuid
      parameters:
        - name: contractuuid
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              example:
                data:
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: sct
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: aut
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: none
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              consumptionQuantity: 0
                              unitOfMeasure: none
                              meteringType: none
                              direction: offtake
                      prepaymentDeviceCoverageReferences:
                        - prepaymentAccount:
                            id: string
                            number: string
                          prepaymentDevice:
                            id: string
                            serialNumber: string
                          services:
                            - none
                          startDateTime: string
                          endDateTime: string
                  statusHistory:
                    - contractStatus: draft
                      mutationDateTime: string
                  currentContractStatus: draft
                  billingDetails:
                    billingMethods:
                      - billingMethod: credit
                        startDateTime: string
                        endDateTime: string
                    currentBillingMethod: credit
                    billingMethod: credit
                    invoiceFrequency: monthly
                    advanceFrequency: none
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: aut
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                    advanceCalculationType: fixed
                    advancePeriodPercentages:
                      - periodIndex: 0
                        percentage: 0
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: string
                      attachmentFileName: string
                      errorCode: 0
                      origin: customer
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              example:
                data:
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: sct
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: aut
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: none
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              consumptionQuantity: 0
                              unitOfMeasure: none
                              meteringType: none
                              direction: offtake
                      prepaymentDeviceCoverageReferences:
                        - prepaymentAccount:
                            id: string
                            number: string
                          prepaymentDevice:
                            id: string
                            serialNumber: string
                          services:
                            - none
                          startDateTime: string
                          endDateTime: string
                  statusHistory:
                    - contractStatus: draft
                      mutationDateTime: string
                  currentContractStatus: draft
                  billingDetails:
                    billingMethods:
                      - billingMethod: credit
                        startDateTime: string
                        endDateTime: string
                    currentBillingMethod: credit
                    billingMethod: credit
                    invoiceFrequency: monthly
                    advanceFrequency: none
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: aut
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                    advanceCalculationType: fixed
                    advancePeriodPercentages:
                      - periodIndex: 0
                        percentage: 0
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: string
                      attachmentFileName: string
                      errorCode: 0
                      origin: customer
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    delete:
      tags:
        - Default
      summary: Delete a draft contract.
      description: Delete a draft contract.
      operationId: delete-contracts-contractuuid
      parameters:
        - name: contractuuid
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveContractRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/RemoveContractRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RemoveContractRequest'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Contracts/{contractuuid}/sign':
    post:
      tags:
        - Default
      summary: Sign a contract.
      description: Sign a contract.
      operationId: post-contracts-contractuuid-sign
      parameters:
        - name: contractuuid
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              createBillingCompletenessesFromExistingInvoices: true
          text/json:
            schema:
              $ref: '#/components/schemas/SignContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              createBillingCompletenessesFromExistingInvoices: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/SignContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              createBillingCompletenessesFromExistingInvoices: true
      responses:
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              example:
                data:
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: sct
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: aut
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: none
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              consumptionQuantity: 0
                              unitOfMeasure: none
                              meteringType: none
                              direction: offtake
                      prepaymentDeviceCoverageReferences:
                        - prepaymentAccount:
                            id: string
                            number: string
                          prepaymentDevice:
                            id: string
                            serialNumber: string
                          services:
                            - none
                          startDateTime: string
                          endDateTime: string
                  statusHistory:
                    - contractStatus: draft
                      mutationDateTime: string
                  currentContractStatus: draft
                  billingDetails:
                    billingMethods:
                      - billingMethod: credit
                        startDateTime: string
                        endDateTime: string
                    currentBillingMethod: credit
                    billingMethod: credit
                    invoiceFrequency: monthly
                    advanceFrequency: none
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: aut
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                    advanceCalculationType: fixed
                    advancePeriodPercentages:
                      - periodIndex: 0
                        percentage: 0
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: string
                      attachmentFileName: string
                      errorCode: 0
                      origin: customer
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              example:
                data:
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: sct
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: aut
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: none
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              consumptionQuantity: 0
                              unitOfMeasure: none
                              meteringType: none
                              direction: offtake
                      prepaymentDeviceCoverageReferences:
                        - prepaymentAccount:
                            id: string
                            number: string
                          prepaymentDevice:
                            id: string
                            serialNumber: string
                          services:
                            - none
                          startDateTime: string
                          endDateTime: string
                  statusHistory:
                    - contractStatus: draft
                      mutationDateTime: string
                  currentContractStatus: draft
                  billingDetails:
                    billingMethods:
                      - billingMethod: credit
                        startDateTime: string
                        endDateTime: string
                    currentBillingMethod: credit
                    billingMethod: credit
                    invoiceFrequency: monthly
                    advanceFrequency: none
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: aut
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                    advanceCalculationType: fixed
                    advancePeriodPercentages:
                      - periodIndex: 0
                        percentage: 0
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: string
                      attachmentFileName: string
                      errorCode: 0
                      origin: customer
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Contracts/bulk/sign:
    post:
      tags:
        - Default
      summary: Sign multiple contracts in bulk.
      description: Sign multiple contracts in bulk.
      operationId: post-contracts-bulk-sign
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSignContractRequest'
            example:
              onlyValidate: true
              queryParams:
                serviceLocationId: string
                propertyGroupIds:
                  - string
                utilityTypes:
                  - string
                customerGroupId: string
                customerId: string
                customerType: string
                productId: string
                productIds:
                  - string
                excludeTerminatedContracts: true
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              createBillingCompletenessesFromExistingInvoices: true
          text/json:
            schema:
              $ref: '#/components/schemas/BulkSignContractRequest'
            example:
              onlyValidate: true
              queryParams:
                serviceLocationId: string
                propertyGroupIds:
                  - string
                utilityTypes:
                  - string
                customerGroupId: string
                customerId: string
                customerType: string
                productId: string
                productIds:
                  - string
                excludeTerminatedContracts: true
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              createBillingCompletenessesFromExistingInvoices: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkSignContractRequest'
            example:
              onlyValidate: true
              queryParams:
                serviceLocationId: string
                propertyGroupIds:
                  - string
                utilityTypes:
                  - string
                customerGroupId: string
                customerId: string
                customerType: string
                productId: string
                productIds:
                  - string
                excludeTerminatedContracts: true
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              createBillingCompletenessesFromExistingInvoices: true
      responses:
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              example:
                data:
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: sct
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: aut
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: none
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              consumptionQuantity: 0
                              unitOfMeasure: none
                              meteringType: none
                              direction: offtake
                      prepaymentDeviceCoverageReferences:
                        - prepaymentAccount:
                            id: string
                            number: string
                          prepaymentDevice:
                            id: string
                            serialNumber: string
                          services:
                            - none
                          startDateTime: string
                          endDateTime: string
                  statusHistory:
                    - contractStatus: draft
                      mutationDateTime: string
                  currentContractStatus: draft
                  billingDetails:
                    billingMethods:
                      - billingMethod: credit
                        startDateTime: string
                        endDateTime: string
                    currentBillingMethod: credit
                    billingMethod: credit
                    invoiceFrequency: monthly
                    advanceFrequency: none
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: aut
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                    advanceCalculationType: fixed
                    advancePeriodPercentages:
                      - periodIndex: 0
                        percentage: 0
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: string
                      attachmentFileName: string
                      errorCode: 0
                      origin: customer
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              example:
                data:
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: sct
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: aut
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: none
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              consumptionQuantity: 0
                              unitOfMeasure: none
                              meteringType: none
                              direction: offtake
                      prepaymentDeviceCoverageReferences:
                        - prepaymentAccount:
                            id: string
                            number: string
                          prepaymentDevice:
                            id: string
                            serialNumber: string
                          services:
                            - none
                          startDateTime: string
                          endDateTime: string
                  statusHistory:
                    - contractStatus: draft
                      mutationDateTime: string
                  currentContractStatus: draft
                  billingDetails:
                    billingMethods:
                      - billingMethod: credit
                        startDateTime: string
                        endDateTime: string
                    currentBillingMethod: credit
                    billingMethod: credit
                    invoiceFrequency: monthly
                    advanceFrequency: none
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: aut
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                    advanceCalculationType: fixed
                    advancePeriodPercentages:
                      - periodIndex: 0
                        percentage: 0
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: string
                      attachmentFileName: string
                      errorCode: 0
                      origin: customer
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Contracts/{contractuuid}/terminate':
    post:
      tags:
        - Default
      summary: Terminate a signed contract.
      description: Terminate a signed contract.
      operationId: post-contracts-contractuuid-terminate
      parameters:
        - name: contractuuid
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminateContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              createPrepaymentCorrectionForChargedCosts: true
          text/json:
            schema:
              $ref: '#/components/schemas/TerminateContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              createPrepaymentCorrectionForChargedCosts: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/TerminateContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              createPrepaymentCorrectionForChargedCosts: true
      responses:
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfContractDTO'
              example:
                data:
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: sct
                    customerType: person
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: aut
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: none
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              consumptionQuantity: 0
                              unitOfMeasure: none
                              meteringType: none
                              direction: offtake
[...]
