openapi: 3.0.1
info:
  title: Masterdata
  description: MasterData API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/md
paths:
  /Contracts:
    post:
      tags:
        - Contracts
      summary: Create new contract.
      description: Create new contract.
      operationId: post-contracts
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing contract details.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateContractRequest'
            example:
              contractorId: string
              contractNumber: string
              supplyStartDate: string
              supplyEndDate: string
              contractedServiceLocations:
                - serviceLocationId: string
                  utilityType: { }
                  externalIdentifier: string
                  estimatedConsumptions:
                    - consumerGroupId: string
                      value: 0
                      unitOfMeasure: { }
                      meteringType: { }
                      isManualEntry: true
              attachmentSignatures:
                - culture: { }
                  attachmentFileName: string
                  errorCode: { }
                  origin: { }
                  productAttachmentId: string
                  attachmentFileId: string
                  entityAttachmentGroupId: string
                  signDate: string
                  viewedDate: string
              productId: string
              usePropertyGroupProduct: true
              invoiceAddress:
                streetName: string
                streetNumber: string
                streetNumberAddition: string
                postalCode: string
                buildingName: string
                locality: string
                city: string
                country: { }
                localizedDisplay: string
                lineOne: string
                lineTwo: string
              externalContractReference: string
              billingProperties: { }
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateContractRequest'
            example:
              contractorId: string
              contractNumber: string
              supplyStartDate: string
              supplyEndDate: string
              contractedServiceLocations:
                - serviceLocationId: string
                  utilityType: { }
                  externalIdentifier: string
                  estimatedConsumptions:
                    - consumerGroupId: string
                      value: 0
                      unitOfMeasure: { }
                      meteringType: { }
                      isManualEntry: true
              attachmentSignatures:
                - culture: { }
                  attachmentFileName: string
                  errorCode: { }
                  origin: { }
                  productAttachmentId: string
                  attachmentFileId: string
                  entityAttachmentGroupId: string
                  signDate: string
                  viewedDate: string
              productId: string
              usePropertyGroupProduct: true
              invoiceAddress:
                streetName: string
                streetNumber: string
                streetNumberAddition: string
                postalCode: string
                buildingName: string
                locality: string
                city: string
                country: { }
                localizedDisplay: string
                lineOne: string
                lineTwo: string
              externalContractReference: string
              billingProperties: { }
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateContractRequest'
            example:
              contractorId: string
              contractNumber: string
              supplyStartDate: string
              supplyEndDate: string
              contractedServiceLocations:
                - serviceLocationId: string
                  utilityType: { }
                  externalIdentifier: string
                  estimatedConsumptions:
                    - consumerGroupId: string
                      value: 0
                      unitOfMeasure: { }
                      meteringType: { }
                      isManualEntry: true
              attachmentSignatures:
                - culture: { }
                  attachmentFileName: string
                  errorCode: { }
                  origin: { }
                  productAttachmentId: string
                  attachmentFileId: string
                  entityAttachmentGroupId: string
                  signDate: string
                  viewedDate: string
              productId: string
              usePropertyGroupProduct: true
              invoiceAddress:
                streetName: string
                streetNumber: string
                streetNumberAddition: string
                postalCode: string
                buildingName: string
                locality: string
                city: string
                country: { }
                localizedDisplay: string
                lineOne: string
                lineTwo: string
              externalContractReference: string
              billingProperties: { }
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: { }
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: { }
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: { }
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              value: 0
                              unitOfMeasure: { }
                              meteringType: { }
                              isManualEntry: true
                  statusHistory:
                    - contractStatus: { }
                      mutationDateTime: string
                  currentContractStatus: { }
                  billingDetails:
                    billingMethod: { }
                    invoiceFrequency: { }
                    advanceFrequency: { }
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: { }
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: { }
                      attachmentFileName: string
                      errorCode: { }
                      origin: { }
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: { }
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: { }
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: { }
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              value: 0
                              unitOfMeasure: { }
                              meteringType: { }
                              isManualEntry: true
                  statusHistory:
                    - contractStatus: { }
                      mutationDateTime: string
                  currentContractStatus: { }
                  billingDetails:
                    billingMethod: { }
                    invoiceFrequency: { }
                    advanceFrequency: { }
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: { }
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: { }
                      attachmentFileName: string
                      errorCode: { }
                      origin: { }
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Contracts/filter:
    post:
      tags:
        - Contracts
      summary: Retrieve contracts based on the provided query parameters.
      description: Retrieve contracts based on the provided query parameters.
      operationId: post-contracts-filter
      parameters:
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: Allows to order the contracts.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: Allows to search on fields within the contracts.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              serviceLocationId: string
              propertyGroupIds:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              excludeTerminatedContracts: true
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              serviceLocationId: string
              propertyGroupIds:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              excludeTerminatedContracts: true
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              serviceLocationId: string
              propertyGroupIds:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              excludeTerminatedContracts: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      contractNumber: string
                      contractor:
                        customerId: string
                        accountNumber: string
                        shortDisplayName: string
                        paymentMethod: { }
                        customerType: { }
                        customerGroup:
                          id: string
                          name: string
                      supplyStartDate: string
                      supplyEndDate: string
                      serviceLocations:
                        - id: string
                          address:
                            streetName: string
                            streetNumber: string
                            streetNumberAddition: string
                            postalCode: string
                            buildingName: string
                            locality: string
                            city: string
                            country: { }
                            localizedDisplay: string
                            lineOne: string
                            lineTwo: string
                          propertyGroupId: string
                          services:
                            - startDateTime: string
                              endDateTime: string
                              utilityType: { }
                              externalIdentifier: string
                              isConsumptionBased: true
                              estimatedConsumptions:
                                - consumerGroupId: string
                                  value: 0
                                  unitOfMeasure: { }
                                  meteringType: { }
                                  isManualEntry: true
                      statusHistory:
                        - contractStatus: { }
                          mutationDateTime: string
                      currentContractStatus: { }
                      billingDetails:
                        billingMethod: { }
                        invoiceFrequency: { }
                        advanceFrequency: { }
                        contractualAdvanceAmount: 0
                        products:
                          - productId: string
                            productName: string
                            startDateTime: string
                            endDateTime: string
                        invoiceAddress:
                          streetName: string
                          streetNumber: string
                          streetNumberAddition: string
                          postalCode: string
                          buildingName: string
                          locality: string
                          city: string
                          country: { }
                          localizedDisplay: string
                          lineOne: string
                          lineTwo: string
                        firstInvoiceStartDateTime: string
                        firstInvoiceEndDateTime: string
                        blocked: true
                      externalContractReference: string
                      paymentTermsId: string
                      blockedForDeletion: true
                      expectAdvancesToBeImportedPeriodically: true
                      usePropertyGroupProduct: true
                      propertyGroups:
                        - id: string
                          name: string
                      attachmentSignatures:
                        - culture: { }
                          attachmentFileName: string
                          errorCode: { }
                          origin: { }
                          productAttachmentId: string
                          attachmentFileId: string
                          entityAttachmentGroupId: string
                          signDate: string
                          viewedDate: string
                      customProperties:
                        - customEntityPropertyTypeId: string
                          values:
                            - valueDecimal: 0
                              valueString: string
                              valueBoolean: true
                              valueNumber: 0
                              valueDateTime: string
                              valueDropdown:
                                - string
                              startDateTime: string
                              endDateTime: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/ContractDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      contractNumber: string
                      contractor:
                        customerId: string
                        accountNumber: string
                        shortDisplayName: string
                        paymentMethod: { }
                        customerType: { }
                        customerGroup:
                          id: string
                          name: string
                      supplyStartDate: string
                      supplyEndDate: string
                      serviceLocations:
                        - id: string
                          address:
                            streetName: string
                            streetNumber: string
                            streetNumberAddition: string
                            postalCode: string
                            buildingName: string
                            locality: string
                            city: string
                            country: { }
                            localizedDisplay: string
                            lineOne: string
                            lineTwo: string
                          propertyGroupId: string
                          services:
                            - startDateTime: string
                              endDateTime: string
                              utilityType: { }
                              externalIdentifier: string
                              isConsumptionBased: true
                              estimatedConsumptions:
                                - consumerGroupId: string
                                  value: 0
                                  unitOfMeasure: { }
                                  meteringType: { }
                                  isManualEntry: true
                      statusHistory:
                        - contractStatus: { }
                          mutationDateTime: string
                      currentContractStatus: { }
                      billingDetails:
                        billingMethod: { }
                        invoiceFrequency: { }
                        advanceFrequency: { }
                        contractualAdvanceAmount: 0
                        products:
                          - productId: string
                            productName: string
                            startDateTime: string
                            endDateTime: string
                        invoiceAddress:
                          streetName: string
                          streetNumber: string
                          streetNumberAddition: string
                          postalCode: string
                          buildingName: string
                          locality: string
                          city: string
                          country: { }
                          localizedDisplay: string
                          lineOne: string
                          lineTwo: string
                        firstInvoiceStartDateTime: string
                        firstInvoiceEndDateTime: string
                        blocked: true
                      externalContractReference: string
                      paymentTermsId: string
                      blockedForDeletion: true
                      expectAdvancesToBeImportedPeriodically: true
                      usePropertyGroupProduct: true
                      propertyGroups:
                        - id: string
                          name: string
                      attachmentSignatures:
                        - culture: { }
                          attachmentFileName: string
                          errorCode: { }
                          origin: { }
                          productAttachmentId: string
                          attachmentFileId: string
                          entityAttachmentGroupId: string
                          signDate: string
                          viewedDate: string
                      customProperties:
                        - customEntityPropertyTypeId: string
                          values:
                            - valueDecimal: 0
                              valueString: string
                              valueBoolean: true
                              valueNumber: 0
                              valueDateTime: string
                              valueDropdown:
                                - string
                              startDateTime: string
                              endDateTime: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
  /Contracts/filter/overviewcount:
    post:
      tags:
        - Contracts
      summary: Retrieve the overview count of contracts based on the provided query parameters.
      description: Retrieve the overview count of contracts based on the provided query parameters.
      operationId: post-contracts-filter-overviewcount
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: Allows to search on fields within the contracts.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              serviceLocationId: string
              propertyGroupIds:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              excludeTerminatedContracts: true
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              serviceLocationId: string
              propertyGroupIds:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              excludeTerminatedContracts: true
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GetContractsQueryParams'
            example:
              flexSearch: string
              includeOnlyIds:
                - string
              excludeIds:
                - string
              serviceLocationId: string
              propertyGroupIds:
                - string
              customerGroupId: string
              customerId: string
              customerType: string
              productId: string
              excludeTerminatedContracts: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractOverviewCountDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOverviewCountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  all: 0
                  draft: 0
                  ongoing: 0
                  blocked: 0
            text/json:
              schema:
                $ref: '#/components/schemas/ContractOverviewCountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  all: 0
                  draft: 0
                  ongoing: 0
                  blocked: 0
  '/Contracts/{contractuuid}':
    get:
      tags:
        - Contracts
      summary: Retrieve a contract by its ID.
      description: Retrieve a contract by its ID.
      operationId: get-contracts-contractuuid
      parameters:
        - name: contractuuid
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: { }
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: { }
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: { }
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              value: 0
                              unitOfMeasure: { }
                              meteringType: { }
                              isManualEntry: true
                  statusHistory:
                    - contractStatus: { }
                      mutationDateTime: string
                  currentContractStatus: { }
                  billingDetails:
                    billingMethod: { }
                    invoiceFrequency: { }
                    advanceFrequency: { }
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: { }
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: { }
                      attachmentFileName: string
                      errorCode: { }
                      origin: { }
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: { }
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: { }
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: { }
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              value: 0
                              unitOfMeasure: { }
                              meteringType: { }
                              isManualEntry: true
                  statusHistory:
                    - contractStatus: { }
                      mutationDateTime: string
                  currentContractStatus: { }
                  billingDetails:
                    billingMethod: { }
                    invoiceFrequency: { }
                    advanceFrequency: { }
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: { }
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: { }
                      attachmentFileName: string
                      errorCode: { }
                      origin: { }
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
    delete:
      tags:
        - Contracts
      summary: Delete a draft contract.
      description: Delete a draft contract.
      operationId: delete-contracts-contractuuid
      parameters:
        - name: contractuuid
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing delete details.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/RemoveContractRequest'
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/RemoveContractRequest'
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/RemoveContractRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
  '/Contracts/{contractuuid}/sign':
    post:
      tags:
        - Contracts
      summary: Sign a contract.
      description: Sign a contract.
      operationId: post-contracts-contractuuid-sign
      parameters:
        - name: contractuuid
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing sign details.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/SignContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/SignContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/SignContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: { }
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: { }
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: { }
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              value: 0
                              unitOfMeasure: { }
                              meteringType: { }
                              isManualEntry: true
                  statusHistory:
                    - contractStatus: { }
                      mutationDateTime: string
                  currentContractStatus: { }
                  billingDetails:
                    billingMethod: { }
                    invoiceFrequency: { }
                    advanceFrequency: { }
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: { }
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: { }
                      attachmentFileName: string
                      errorCode: { }
                      origin: { }
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: { }
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: { }
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: { }
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              value: 0
                              unitOfMeasure: { }
                              meteringType: { }
                              isManualEntry: true
                  statusHistory:
                    - contractStatus: { }
                      mutationDateTime: string
                  currentContractStatus: { }
                  billingDetails:
                    billingMethod: { }
                    invoiceFrequency: { }
                    advanceFrequency: { }
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: { }
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: { }
                      attachmentFileName: string
                      errorCode: { }
                      origin: { }
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
  /Contracts/bulk/sign:
    post:
      tags:
        - Contracts
      summary: Sign multiple contracts in bulk.
      description: Sign multiple contracts in bulk.
      operationId: post-contracts-bulk-sign
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing bulk sign details and query parameters to filter the contracts to be signed.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkSignContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                serviceLocationId: string
                propertyGroupIds:
                  - string
                customerGroupId: string
                customerId: string
                customerType: string
                productId: string
                excludeTerminatedContracts: true
              quickFilter: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkSignContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                serviceLocationId: string
                propertyGroupIds:
                  - string
                customerGroupId: string
                customerId: string
                customerType: string
                productId: string
                excludeTerminatedContracts: true
              quickFilter: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkSignContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                serviceLocationId: string
                propertyGroupIds:
                  - string
                customerGroupId: string
                customerId: string
                customerType: string
                productId: string
                excludeTerminatedContracts: true
              quickFilter: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: { }
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: { }
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: { }
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              value: 0
                              unitOfMeasure: { }
                              meteringType: { }
                              isManualEntry: true
                  statusHistory:
                    - contractStatus: { }
                      mutationDateTime: string
                  currentContractStatus: { }
                  billingDetails:
                    billingMethod: { }
                    invoiceFrequency: { }
                    advanceFrequency: { }
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: { }
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: { }
                      attachmentFileName: string
                      errorCode: { }
                      origin: { }
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: { }
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: { }
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: { }
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              value: 0
                              unitOfMeasure: { }
                              meteringType: { }
                              isManualEntry: true
                  statusHistory:
                    - contractStatus: { }
                      mutationDateTime: string
                  currentContractStatus: { }
                  billingDetails:
                    billingMethod: { }
                    invoiceFrequency: { }
                    advanceFrequency: { }
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: { }
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: { }
                      attachmentFileName: string
                      errorCode: { }
                      origin: { }
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
  '/Contracts/{contractuuid}/terminate':
    post:
      tags:
        - Contracts
      summary: Terminate a signed contract.
      description: Terminate a signed contract.
      operationId: post-contracts-contractuuid-terminate
      parameters:
        - name: contractuuid
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing termination details.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TerminateContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TerminateContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/TerminateContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: { }
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: { }
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: { }
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              value: 0
                              unitOfMeasure: { }
                              meteringType: { }
                              isManualEntry: true
                  statusHistory:
                    - contractStatus: { }
                      mutationDateTime: string
                  currentContractStatus: { }
                  billingDetails:
                    billingMethod: { }
                    invoiceFrequency: { }
                    advanceFrequency: { }
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: { }
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: { }
                      attachmentFileName: string
                      errorCode: { }
                      origin: { }
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
            text/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
                    paymentMethod: { }
                    customerType: { }
                    customerGroup:
                      id: string
                      name: string
                  supplyStartDate: string
                  supplyEndDate: string
                  serviceLocations:
                    - id: string
                      address:
                        streetName: string
                        streetNumber: string
                        streetNumberAddition: string
                        postalCode: string
                        buildingName: string
                        locality: string
                        city: string
                        country: { }
                        localizedDisplay: string
                        lineOne: string
                        lineTwo: string
                      propertyGroupId: string
                      services:
                        - startDateTime: string
                          endDateTime: string
                          utilityType: { }
                          externalIdentifier: string
                          isConsumptionBased: true
                          estimatedConsumptions:
                            - consumerGroupId: string
                              value: 0
                              unitOfMeasure: { }
                              meteringType: { }
                              isManualEntry: true
                  statusHistory:
                    - contractStatus: { }
                      mutationDateTime: string
                  currentContractStatus: { }
                  billingDetails:
                    billingMethod: { }
                    invoiceFrequency: { }
                    advanceFrequency: { }
                    contractualAdvanceAmount: 0
                    products:
                      - productId: string
                        productName: string
                        startDateTime: string
                        endDateTime: string
                    invoiceAddress:
                      streetName: string
                      streetNumber: string
                      streetNumberAddition: string
                      postalCode: string
                      buildingName: string
                      locality: string
                      city: string
                      country: { }
                      localizedDisplay: string
                      lineOne: string
                      lineTwo: string
                    firstInvoiceStartDateTime: string
                    firstInvoiceEndDateTime: string
                    blocked: true
                  externalContractReference: string
                  paymentTermsId: string
                  blockedForDeletion: true
                  expectAdvancesToBeImportedPeriodically: true
                  usePropertyGroupProduct: true
                  propertyGroups:
                    - id: string
                      name: string
                  attachmentSignatures:
                    - culture: { }
                      attachmentFileName: string
                      errorCode: { }
                      origin: { }
                      productAttachmentId: string
                      attachmentFileId: string
                      entityAttachmentGroupId: string
                      signDate: string
                      viewedDate: string
                  customProperties:
                    - customEntityPropertyTypeId: string
                      values:
                        - valueDecimal: 0
                          valueString: string
                          valueBoolean: true
                          valueNumber: 0
                          valueDateTime: string
                          valueDropdown:
                            - string
                          startDateTime: string
                          endDateTime: string
  /Contracts/bulk/terminate:
    post:
      tags:
        - Contracts
      summary: Terminate multiple signed contracts in bulk.
      description: Terminate multiple signed contracts in bulk.
      operationId: post-contracts-bulk-terminate
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing bulk termination details and query parameters to filter the contracts to be terminated.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkTerminateContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                serviceLocationId: string
                propertyGroupIds:
                  - string
                customerGroupId: string
                customerId: string
                customerType: string
                productId: string
                excludeTerminatedContracts: true
              quickFilter: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkTerminateContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                serviceLocationId: string
                propertyGroupIds:
                  - string
                customerGroupId: string
                customerId: string
                customerType: string
                productId: string
                excludeTerminatedContracts: true
              quickFilter: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkTerminateContractRequest'
            example:
              mutationDateTime: string
              keepExistingInvoiceOnEndDate: true
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                serviceLocationId: string
                propertyGroupIds:
                  - string
                customerGroupId: string
                customerId: string
                customerType: string
                productId: string
                excludeTerminatedContracts: true
              quickFilter: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Contracts/{contractuuid}/changeadvanceamount':
    post:
      tags:
        - Contracts
      summary: Update the advance amount for a draft contract.
      description: Update the advance amount for a draft contract.
      operationId: post-contracts-contractuuid-changeadvanceamount
      parameters:
        - name: contractuuid
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The request containing new advance amount details.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ChangeDraftContractAdvanceAmountRequest'
            example:
              newAdvanceAmount: 0
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ChangeDraftContractAdvanceAmountRequest'
            example:
              newAdvanceAmount: 0
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ChangeDraftContractAdvanceAmountRequest'
            example:
              newAdvanceAmount: 0
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  contractNumber: string
                  contractor:
                    customerId: string
                    accountNumber: string
                    shortDisplayName: string
[...]
