openapi: 3.0.1
info:
  title: Metering
  description: MeterData API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/me
paths:
  '/Consumptions/{extchuuid}':
    get:
      tags:
        - Consumptions
      summary: Retrieves consumption values for a specific external channel within a date range.
      description: Retrieves consumption values for a specific external channel within a date range.
      operationId: get-consumptions-extchuuid
      parameters:
        - name: extchuuid
          in: path
          description: The external channel UUID to retrieve consumption data for.
          required: true
          schema:
            type: string
        - name: startDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339). The start date and time for the consumption data range.
          schema:
            type: string
            format: date-time
        - name: endDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339). The end date and time for the consumption data range.
          schema:
            type: string
            format: date-time
        - name: continuationToken
          in: header
          description: Token for pagination of large result sets.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FlatPagedConsumptionDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/FlatPagedConsumptionDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - externalChannelIdentifier: string
                      complete: true
                      userId: string
                      productionDay: 0
                      productionDayStartUtc: string
                      productionDayEndUtc: string
                      startDateTime: string
                      endDateTime: string
                      value: 0
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/FlatPagedConsumptionDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - externalChannelIdentifier: string
                      complete: true
                      userId: string
                      productionDay: 0
                      productionDayStartUtc: string
                      productionDayEndUtc: string
                      startDateTime: string
                      endDateTime: string
                      value: 0
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
  /Consumptions/export/sum:
    post:
      tags:
        - Consumptions
      summary: Calculates and exports the sum of consumption values for a list of meters.
      description: Calculates and exports the sum of consumption values for a list of meters.
      operationId: post-consumptions-export-sum
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: 'The request containing the list of meters, date range, and filtering parameters.'
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ExportConsumptionsForMetersRequest'
            example:
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                servicelocationIds:
                  - string
                propertyGroupIds:
                  - string
                meterType: { }
                receivedMeteringDataStart: string
                receivedMeteringDataEnd: string
                nextExpectedReadingDateStart: string
                nextExpectedReadingDateEnd: string
                parentSerialNumber: string
                filterByReadingFrequency: true
                readingFrequency: { }
                customerId: string
                meterTypeGroup: string
                meterSerialNumber: string
              quickFilter: string
              meterIds:
                - string
              startDateTime: string
              endDateTime: string
              onlyValidate: true
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ExportConsumptionsForMetersRequest'
            example:
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                servicelocationIds:
                  - string
                propertyGroupIds:
                  - string
                meterType: { }
                receivedMeteringDataStart: string
                receivedMeteringDataEnd: string
                nextExpectedReadingDateStart: string
                nextExpectedReadingDateEnd: string
                parentSerialNumber: string
                filterByReadingFrequency: true
                readingFrequency: { }
                customerId: string
                meterTypeGroup: string
                meterSerialNumber: string
              quickFilter: string
              meterIds:
                - string
              startDateTime: string
              endDateTime: string
              onlyValidate: true
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ExportConsumptionsForMetersRequest'
            example:
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                servicelocationIds:
                  - string
                propertyGroupIds:
                  - string
                meterType: { }
                receivedMeteringDataStart: string
                receivedMeteringDataEnd: string
                nextExpectedReadingDateStart: string
                nextExpectedReadingDateEnd: string
                parentSerialNumber: string
                filterByReadingFrequency: true
                readingFrequency: { }
                customerId: string
                meterTypeGroup: string
                meterSerialNumber: string
              quickFilter: string
              meterIds:
                - string
              startDateTime: string
              endDateTime: string
              onlyValidate: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AggregatedConsumptionsByMeterDTOListApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedConsumptionsByMeterDTOListApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  - meterSerialNumber: string
                    meterTag: string
                    utilityType: { }
                    unitOfMeasure: { }
                    timeOfUse: string
                    periodStartDate: string
                    periodEndDate: string
                    propertyGroupId: string
                    propertyGroupName: string
                    total: 0
            text/json:
              schema:
                $ref: '#/components/schemas/AggregatedConsumptionsByMeterDTOListApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  - meterSerialNumber: string
                    meterTag: string
                    utilityType: { }
                    unitOfMeasure: { }
                    timeOfUse: string
                    periodStartDate: string
                    periodEndDate: string
                    propertyGroupId: string
                    propertyGroupName: string
                    total: 0
  '/Consumptions/{extchuuid}/flat':
    get:
      tags:
        - Consumptions
      summary: Retrieves flat consumption values for a specific external channel with optional grouping by period.
      description: Retrieves flat consumption values for a specific external channel with optional grouping by period.
      operationId: get-consumptions-extchuuid-flat
      parameters:
        - name: extchuuid
          in: path
          description: The external channel UUID to retrieve consumption data for.
          required: true
          schema:
            type: string
        - name: groupByPeriod
          in: query
          description: 'Optional period for aggregating consumption data (daily, weekly, monthly, etc.).'
          schema:
            type: string
        - name: startDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339). The start date and time for the consumption data range.
          schema:
            type: string
            format: date-time
        - name: endDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339). The end date and time for the consumption data range.
          schema:
            type: string
            format: date-time
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FlatConsumptionDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/FlatConsumptionDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - externalChannelIdentifier: string
                      startDateTime: string
                      endDateTime: string
                      value: 0
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/FlatConsumptionDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - externalChannelIdentifier: string
                      startDateTime: string
                      endDateTime: string
                      value: 0
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
  '/Consumptions/{extchuuid}/recalculate':
    post:
      tags:
        - Consumptions
      summary: Recalculates consumption values for a specific channel within a given date range.
      description: Recalculates consumption values for a specific channel within a given date range.
      operationId: post-consumptions-extchuuid-recalculate
      parameters:
        - name: extchuuid
          in: path
          description: The external channel UUID to recalculate consumption data for.
          required: true
          schema:
            type: string
        - name: startDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339). The start date and time for the consumption data range to recalculate.
          schema:
            type: string
            format: date-time
        - name: endDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339). The end date and time for the consumption data range to recalculate.
          schema:
            type: string
            format: date-time
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
  /Integrations/import:
    get:
      tags:
        - Integrations
      summary: Gets a paged list of metering imports based on the specified filters.
      description: Gets a paged list of metering imports based on the specified filters.
      operationId: get-integrations-import
      parameters:
        - name: Status
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CommunicationType
          in: query
          schema:
            type: string
        - name: MeteringFormat
          in: query
          schema:
            type: string
        - name: CreatedStartDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: CreatedEndDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: Field to order the results by.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOPagedResponseModelDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      type: { }
                      customFileFormatId: string
                      dataImport:
                        id: string
                        name: string
                      dataFileFormatSettings:
                        name: string
                        delimiter: string
                        dateTimeFormat: string
                        timeZone: string
                        decimalSeparator: string
                        thousandsSeparator: string
                        culture: string
                        firstLineIsHeader: true
                      meteringFormat: { }
                      communicationType: { }
                      automaticallyProcess: true
                      status: { }
                      fileName: string
                      source: string
                      interpretationResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                      validationResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                      processingResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
            text/json:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOPagedResponseModelDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  results:
                    - id: string
                      entityType: { }
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      requireAttention: true
                      hasErrors: true
                      hasWarnings: true
                      isReadOnly: true
                      organisationId: string
                      type: { }
                      customFileFormatId: string
                      dataImport:
                        id: string
                        name: string
                      dataFileFormatSettings:
                        name: string
                        delimiter: string
                        dateTimeFormat: string
                        timeZone: string
                        decimalSeparator: string
                        thousandsSeparator: string
                        culture: string
                        firstLineIsHeader: true
                      meteringFormat: { }
                      communicationType: { }
                      automaticallyProcess: true
                      status: { }
                      fileName: string
                      source: string
                      interpretationResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                      validationResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                      processingResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
    post:
      tags:
        - Integrations
      summary: Upload measurements for specific file formats.
      description: Upload measurements for specific file formats.
      operationId: post-integrations-import
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  format: binary
                customFileFormatId:
                  type: string
                meteringFormat:
                  type: string
                source:
                  type: string
                automaticProcessing:
                  type: boolean
                  default: true
                communicationType:
                  type: string
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  type: { }
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: { }
                  communicationType: { }
                  automaticallyProcess: true
                  status: { }
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
            text/json:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  type: { }
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: { }
                  communicationType: { }
                  automaticallyProcess: true
                  status: { }
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    delete:
      tags:
        - Integrations
      summary: 'Deletes imports based on provided id''s. If there are too many id''s, deletes are done asynchronously'
      description: 'Deletes imports based on provided id''s. If there are too many id''s, deletes are done asynchronously'
      operationId: delete-integrations-import
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: Data containing unique identifiers of imports that need to be deleted
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkDeleteMeteringImportsRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkDeleteMeteringImportsRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkDeleteMeteringImportsRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/overviewcount:
    get:
      tags:
        - Integrations
      summary: 'Gets count information for metering import overview, grouped by their status.'
      description: 'Gets count information for metering import overview, grouped by their status.'
      operationId: get-integrations-import-overviewcount
      parameters:
        - name: Status
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CommunicationType
          in: query
          schema:
            type: string
        - name: MeteringFormat
          in: query
          schema:
            type: string
        - name: CreatedStartDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: CreatedEndDateTime
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
            nullable: true
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MeteringImportOverviewCountDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringImportOverviewCountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  all: 0
                  toProcess: 0
                  processed: 0
                  formatIssues: 0
                  issues: 0
                  invalid: 0
            text/json:
              schema:
                $ref: '#/components/schemas/MeteringImportOverviewCountDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  all: 0
                  toProcess: 0
                  processed: 0
                  formatIssues: 0
                  issues: 0
                  invalid: 0
  '/Integrations/import/{uuid}':
    get:
      tags:
        - Integrations
      summary: "Fetch the details of a metering import to know the status of the metering import and to known how many\r\nvalues were successfully parsed, validated and processed."
      description: "Fetch the details of a metering import to know the status of the metering import and to known how many\r\nvalues were successfully parsed, validated and processed."
      operationId: get-integrations-import-uuid
      parameters:
        - name: uuid
          in: path
          description: The ID of the metering import.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  type: { }
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: { }
                  communicationType: { }
                  automaticallyProcess: true
                  status: { }
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
            text/json:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  type: { }
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: { }
                  communicationType: { }
                  automaticallyProcess: true
                  status: { }
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
  '/Integrations/import/{meteringImportId}/issues/interpretation':
    get:
      tags:
        - Integrations
      summary: Get an overview of issues that were detected during the interpretation of a metering import.
      description: Get an overview of issues that were detected during the interpretation of a metering import.
      operationId: get-integrations-import-meteringimportid-issues-interpretation
      parameters:
        - name: meteringImportId
          in: path
          description: The ID of the metering import.
          required: true
          schema:
            type: string
        - name: ErrorCodes
          in: query
          schema:
            type: array
            items:
              type: string
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MeteringImportInterpretationResultDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringImportInterpretationResultDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  issues:
                    - errorCode:
                        key: { }
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: { }
                            value: string
                            capitalize: true
                      errorCodeInfo:
                        key: { }
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: { }
                            value: string
                            capitalize: true
                      lineNumber: 0
                      message: string
            text/json:
              schema:
                $ref: '#/components/schemas/MeteringImportInterpretationResultDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  issues:
                    - errorCode:
                        key: { }
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: { }
                            value: string
                            capitalize: true
                      errorCodeInfo:
                        key: { }
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: { }
                            value: string
                            capitalize: true
                      lineNumber: 0
                      message: string
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Integrations/import/{meteringImportId}/measurements':
    get:
      tags:
        - Integrations
      summary: Get an overview of all the measurements for a metering import with their possible validation or processing issues.
      description: Get an overview of all the measurements for a metering import with their possible validation or processing issues.
      operationId: get-integrations-import-meteringimportid-measurements
      parameters:
        - name: meteringImportId
          in: path
          description: The ID of the metering import.
          required: true
          schema:
            type: string
        - name: Meter
          in: query
          schema:
            type: string
        - name: ErrorCodes
          in: query
          schema:
            type: array
            items:
              type: string
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: Order the measurements from the metering import by the available options from Enumerations.QuickFilters.MeteringImportMeasurementsOrderBy
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ImportedMeasurementsOverviewDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedMeasurementsOverviewDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  measurements:
                    results:
                      - meterSerialNumber: string
                        externalChannelIdentifier: string
                        externalReference: string
                        meteringType: { }
                        utilityType: { }
                        direction: { }
                        unitOfMeasure: { }
                        readingDateTime: string
                        timeOfUse: string
                        readingValue: 0
                        errorCode: string
                        lineNumber: 0
                        processedOn: string
                        wasIgnored: true
                    hasNextPage: true
                    nextPageToken: string
                    totalRecords: 0
                    sortableFields:
                      - string
                    aggregateDetails:
                      - code: string
                        translation: string
                        value: 0
                        valueDate: string
                  totalInvalidMeasurements: 0
                  totalValidMeasurements: 0
                  totalMeasurementsNotProcessed: 0
                  totalMeasurementsProcessed: 0
                  totalLinesWithFormatIssues: 0
            text/json:
              schema:
                $ref: '#/components/schemas/ImportedMeasurementsOverviewDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  measurements:
                    results:
                      - meterSerialNumber: string
                        externalChannelIdentifier: string
                        externalReference: string
                        meteringType: { }
                        utilityType: { }
                        direction: { }
                        unitOfMeasure: { }
                        readingDateTime: string
                        timeOfUse: string
                        readingValue: 0
                        errorCode: string
                        lineNumber: 0
                        processedOn: string
                        wasIgnored: true
                    hasNextPage: true
                    nextPageToken: string
                    totalRecords: 0
                    sortableFields:
                      - string
                    aggregateDetails:
                      - code: string
                        translation: string
                        value: 0
                        valueDate: string
                  totalInvalidMeasurements: 0
                  totalValidMeasurements: 0
                  totalMeasurementsNotProcessed: 0
                  totalMeasurementsProcessed: 0
                  totalLinesWithFormatIssues: 0
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/measurements:
    post:
      tags:
        - Integrations
      summary: Upload measurements for a collection of different meters.
      description: Upload measurements for a collection of different meters.
      operationId: post-integrations-import-measurements
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: The data containing the necessary information to import the measurements.
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UploadMeasurementsRequest'
              description: Request data to upload measurements for specific meters.
            example:
              automaticProcessing: true
              source: string
              uploadIdentifier: string
              channelMeasurements:
                - utilityType: { }
                  unitOfMeasure: { }
                  meteringType: { }
                  direction: { }
                  meterSerialNumber: string
                  externalChannelIdentifier: string
                  measurements:
                    - readingDateTime: string
                      value: 0
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UploadMeasurementsRequest'
              description: Request data to upload measurements for specific meters.
            example:
              automaticProcessing: true
              source: string
              uploadIdentifier: string
              channelMeasurements:
                - utilityType: { }
                  unitOfMeasure: { }
                  meteringType: { }
                  direction: { }
                  meterSerialNumber: string
                  externalChannelIdentifier: string
                  measurements:
                    - readingDateTime: string
                      value: 0
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UploadMeasurementsRequest'
              description: Request data to upload measurements for specific meters.
            example:
              automaticProcessing: true
              source: string
              uploadIdentifier: string
              channelMeasurements:
                - utilityType: { }
                  unitOfMeasure: { }
                  meteringType: { }
                  direction: { }
                  meterSerialNumber: string
                  externalChannelIdentifier: string
                  measurements:
                    - readingDateTime: string
                      value: 0
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  type: { }
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: { }
                  communicationType: { }
                  automaticallyProcess: true
                  status: { }
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
            text/json:
              schema:
                $ref: '#/components/schemas/MeteringImportDTOApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data:
                  id: string
                  entityType: { }
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  requireAttention: true
                  hasErrors: true
                  hasWarnings: true
                  isReadOnly: true
                  organisationId: string
                  type: { }
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: { }
                  communicationType: { }
                  automaticallyProcess: true
                  status: { }
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/processall:
    post:
      tags:
        - Integrations
      summary: Processes all imports that have status 'To process' and 'Processed with issues'
      description: Processes all imports that have status 'To process' and 'Processed with issues'
      operationId: post-integrations-import-processall
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
                data: true
  '/Integrations/import/process/{meteringImportId}':
    post:
      tags:
        - Integrations
      summary: "Processes the import if it has the status 'Validation failed', 'To process', or 'Processed with issues'.\r\nBefore processing valid measurements, it revalidates any current invalid measurements.\r\n            \r\nFor example, if a meter or channel did not exist when the import was created but has since b"
      description: "Processes the import if it has the status 'Validation failed', 'To process', or 'Processed with issues'.\r\nBefore processing valid measurements, it revalidates any current invalid measurements.\r\n            \r\nFor example, if a meter or channel did not exist when the import was created but has since been added,\r\nthe new measurements will be processed as well."
      operationId: post-integrations-import-process-meteringimportid
      parameters:
        - name: meteringImportId
          in: path
          description: Unique identifier of the import
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/process:
    post:
      tags:
        - Integrations
      summary: "Processes all selected imports if they have the status 'Validation failed', 'To process', or 'Processed with issues'.\r\nBefore processing valid measurements, it revalidates any current invalid measurements.\r\n            \r\nFor example, if a meter or channel did not exist when the import was created bu"
      description: "Processes all selected imports if they have the status 'Validation failed', 'To process', or 'Processed with issues'.\r\nBefore processing valid measurements, it revalidates any current invalid measurements.\r\n            \r\nFor example, if a meter or channel did not exist when the import was created but has since been added,\r\nthe new measurements will be processed as well."
      operationId: post-integrations-import-process
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkProcessMeteringImportRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkProcessMeteringImportRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkProcessMeteringImportRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/download:
    post:
      tags:
        - Integrations
      summary: Downloads the original files for all imports that are requested
      description: Downloads the original files for all imports that are requested
      operationId: post-integrations-import-download
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: Data containing id's of the imports for which you want to download the original files
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadOriginalMeteringImportsRequest'
              description: Represents a request to download the original metering imports.
            example:
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadOriginalMeteringImportsRequest'
              description: Represents a request to download the original metering imports.
            example:
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DownloadOriginalMeteringImportsRequest'
              description: Represents a request to download the original metering imports.
            example:
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
            application/json:
              schema:
                type: string
                format: binary
              example: string
            text/json:
              schema:
                type: string
                format: binary
              example: string
  '/Integrations/import/{meteringImportId}':
    delete:
      tags:
        - Integrations
      summary: Delete an existing import by it's identifier
      description: Delete an existing import by it's identifier
      operationId: delete-integrations-import-meteringimportid
      parameters:
        - name: meteringImportId
          in: path
          description: Unique identifier of the import
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/markprocessed:
    patch:
      tags:
        - Integrations
      summary: 'Marks requested imports as processed, if the current status of the import allows it'
      description: 'Marks requested imports as processed, if the current status of the import allows it'
      operationId: patch-integrations-import-markprocessed
      parameters:
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      requestBody:
        description: Data containing unique identifiers of imports that should be marked as processed
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkMarkMeteringImportsAsProcessedRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkMarkMeteringImportsAsProcessedRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BulkMarkMeteringImportsAsProcessedRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
              quickFilter: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: { }
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: { }
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Integrations/import/validate/{meteringImportId}':
    patch:
      tags:
        - Integrations
      summary: Attempts to revalidate a specified import
      description: Attempts to revalidate a specified import
      operationId: patch-integrations-import-validate-meteringimportid
      parameters:
        - name: meteringImportId
          in: path
          description: Unique identifier of the import
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Format - uuid. Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Tenant ID:
              value: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Format - uuid. Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          examples:
            Organisation ID:
              value: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value: 
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
[...]
