openapi: 3.0.1
info:
  title: Metering
  description: MeterData API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/me
paths:
  '/Consumptions/{extchuuid}':
    get:
      tags:
        - Default
      summary: Retrieves consumption values for a specific external channel within a date range.
      description: Retrieves consumption values for a specific external channel within a date range.
      operationId: get-consumptions-extchuuid
      parameters:
        - name: extchuuid
          in: path
          description: The external channel UUID to retrieve consumption data for.
          required: true
          schema:
            type: string
        - name: startDateTime
          in: query
          description: The start date and time for the consumption data range.
          schema:
            type: string
            format: date-time
        - name: endDateTime
          in: query
          description: The end date and time for the consumption data range.
          schema:
            type: string
            format: date-time
        - name: continuationToken
          in: header
          description: Token for pagination of large result sets.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: A paged list of consumption values for the specified channel and date range.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfFlatPagedConsumptionDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfFlatPagedConsumptionDTO'
              example:
                data:
                  results:
                    - externalChannelIdentifier: string
                      complete: true
                      userId: string
                      productionDay: 0
                      productionDayStartUtc: string
                      productionDayEndUtc: string
                      startDateTime: string
                      endDateTime: string
                      value: 0
                      timeOfUse: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfFlatPagedConsumptionDTO'
              example:
                data:
                  results:
                    - externalChannelIdentifier: string
                      complete: true
                      userId: string
                      productionDay: 0
                      productionDayStartUtc: string
                      productionDayEndUtc: string
                      startDateTime: string
                      endDateTime: string
                      value: 0
                      timeOfUse: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Consumptions/export/sum:
    post:
      tags:
        - Default
      summary: Calculates and exports the sum of consumption values for a list of meters.
      description: Calculates and exports the sum of consumption values for a list of meters.
      operationId: post-consumptions-export-sum
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: A token that can be used to request cancellation of the operation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportConsumptionsForMetersRequest'
            example:
              queryParams:
                servicelocationIds:
                  - string
                propertyGroupIds:
                  - string
                meterType: individual
                receivedMeteringDataStart: string
                receivedMeteringDataEnd: string
                nextExpectedReadingDateStart: string
                nextExpectedReadingDateEnd: string
                parentSerialNumber: string
                filterByReadingFrequency: true
                readingFrequency: hourly
                customerId: string
                meterTypeGroup: string
                meterSerialNumbers:
                  - string
                modelIds:
                  - string
                meterName: string
                showDeleted: true
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              meterIds:
                - string
              startDateTime: string
              endDateTime: string
              onlyValidate: true
          text/json:
            schema:
              $ref: '#/components/schemas/ExportConsumptionsForMetersRequest'
            example:
              queryParams:
                servicelocationIds:
                  - string
                propertyGroupIds:
                  - string
                meterType: individual
                receivedMeteringDataStart: string
                receivedMeteringDataEnd: string
                nextExpectedReadingDateStart: string
                nextExpectedReadingDateEnd: string
                parentSerialNumber: string
                filterByReadingFrequency: true
                readingFrequency: hourly
                customerId: string
                meterTypeGroup: string
                meterSerialNumbers:
                  - string
                modelIds:
                  - string
                meterName: string
                showDeleted: true
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              meterIds:
                - string
              startDateTime: string
              endDateTime: string
              onlyValidate: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExportConsumptionsForMetersRequest'
            example:
              queryParams:
                servicelocationIds:
                  - string
                propertyGroupIds:
                  - string
                meterType: individual
                receivedMeteringDataStart: string
                receivedMeteringDataEnd: string
                nextExpectedReadingDateStart: string
                nextExpectedReadingDateEnd: string
                parentSerialNumber: string
                filterByReadingFrequency: true
                readingFrequency: hourly
                customerId: string
                meterTypeGroup: string
                meterSerialNumbers:
                  - string
                modelIds:
                  - string
                meterName: string
                showDeleted: true
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              meterIds:
                - string
              startDateTime: string
              endDateTime: string
              onlyValidate: true
      responses:
        '200':
          description: A list of aggregated consumption values grouped by meter.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfAggregatedConsumptionsByMeterDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfAggregatedConsumptionsByMeterDTO'
              example:
                data:
                  - meterSerialNumber: string
                    meterTag: string
                    utilityType: none
                    unitOfMeasure: none
                    timeOfUse: string
                    periodStartDate: string
                    periodEndDate: string
                    propertyGroupId: string
                    propertyGroupName: string
                    total: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfListOfAggregatedConsumptionsByMeterDTO'
              example:
                data:
                  - meterSerialNumber: string
                    meterTag: string
                    utilityType: none
                    unitOfMeasure: none
                    timeOfUse: string
                    periodStartDate: string
                    periodEndDate: string
                    propertyGroupId: string
                    propertyGroupName: string
                    total: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Consumptions/{extchuuid}/flat':
    get:
      tags:
        - Default
      summary: Retrieves flat consumption values for a specific external channel with optional grouping by period.
      description: Retrieves flat consumption values for a specific external channel with optional grouping by period.
      operationId: get-consumptions-extchuuid-flat
      parameters:
        - name: extchuuid
          in: path
          description: The external channel UUID to retrieve consumption data for.
          required: true
          schema:
            type: string
        - name: groupByPeriod
          in: query
          description: 'Optional period for aggregating consumption data (daily, weekly, monthly, etc.).'
          schema:
            type: string
        - name: startDateTime
          in: query
          description: The start date and time for the consumption data range.
          schema:
            type: string
            format: date-time
        - name: endDateTime
          in: query
          description: The end date and time for the consumption data range.
          schema:
            type: string
            format: date-time
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: 'A paged list of flat consumption values for the specified channel, date range, and grouping period.'
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfFlatConsumptionDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfFlatConsumptionDTO'
              example:
                data:
                  results:
                    - externalChannelIdentifier: string
                      startDateTime: string
                      endDateTime: string
                      value: 0
                      timeOfUse: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfFlatConsumptionDTO'
              example:
                data:
                  results:
                    - externalChannelIdentifier: string
                      startDateTime: string
                      endDateTime: string
                      value: 0
                      timeOfUse: string
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Consumptions/{extchuuid}/recalculate':
    post:
      tags:
        - Default
      summary: Recalculates consumption values for a specific channel within a given date range.
      description: Recalculates consumption values for a specific channel within a given date range.
      operationId: post-consumptions-extchuuid-recalculate
      parameters:
        - name: extchuuid
          in: path
          description: The external channel UUID to recalculate consumption data for.
          required: true
          schema:
            type: string
        - name: startDateTime
          in: query
          description: The start date and time for the consumption data range to recalculate.
          schema:
            type: string
            format: date-time
        - name: endDateTime
          in: query
          description: The end date and time for the consumption data range to recalculate.
          schema:
            type: string
            format: date-time
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: A boolean indicating whether the recalculation was successful.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import:
    get:
      tags:
        - Default
      summary: Gets a paged list of metering imports based on the specified filters.
      description: Gets a paged list of metering imports based on the specified filters.
      operationId: get-integrations-import
      parameters:
        - name: Status
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CommunicationType
          in: query
          schema:
            type: string
        - name: MeteringFormat
          in: query
          schema:
            type: string
        - name: CreatedStartDateTime
          in: query
          schema:
            type: string
            format: date-time
        - name: CreatedEndDateTime
          in: query
          schema:
            type: string
            format: date-time
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: Field to order the results by.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token for pagination.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: A paged list of metering imports.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfMeteringImportDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfMeteringImportDTO'
              example:
                data:
                  results:
                    - type: measurements
                      customFileFormatId: string
                      dataImport:
                        id: string
                        name: string
                      dataFileFormatSettings:
                        name: string
                        delimiter: string
                        dateTimeFormat: string
                        timeZone: string
                        decimalSeparator: string
                        thousandsSeparator: string
                        culture: string
                        firstLineIsHeader: true
                      meteringFormat: elvaco_1104
                      communicationType: sftp
                      automaticallyProcess: true
                      status: uploading
                      fileName: string
                      source: string
                      interpretationResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                      validationResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                      processingResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                      fallbackReadingOrigin: string
                      fallbackReadingMethod: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfMeteringImportDTO'
              example:
                data:
                  results:
                    - type: measurements
                      customFileFormatId: string
                      dataImport:
                        id: string
                        name: string
                      dataFileFormatSettings:
                        name: string
                        delimiter: string
                        dateTimeFormat: string
                        timeZone: string
                        decimalSeparator: string
                        thousandsSeparator: string
                        culture: string
                        firstLineIsHeader: true
                      meteringFormat: elvaco_1104
                      communicationType: sftp
                      automaticallyProcess: true
                      status: uploading
                      fileName: string
                      source: string
                      interpretationResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                      validationResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                      processingResult:
                        amountSuccess: 0
                        amountFailed: 0
                        amountIgnored: 0
                      fallbackReadingOrigin: string
                      fallbackReadingMethod: string
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    post:
      tags:
        - Default
      summary: Upload measurements for specific file formats.
      description: Upload measurements for specific file formats.
      operationId: post-integrations-import
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          multipart/form-data: { }
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportDTO'
              example:
                data:
                  type: measurements
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: elvaco_1104
                  communicationType: sftp
                  automaticallyProcess: true
                  status: uploading
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  fallbackReadingOrigin: string
                  fallbackReadingMethod: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportDTO'
              example:
                data:
                  type: measurements
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: elvaco_1104
                  communicationType: sftp
                  automaticallyProcess: true
                  status: uploading
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  fallbackReadingOrigin: string
                  fallbackReadingMethod: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    delete:
      tags:
        - Default
      summary: 'Deletes imports based on provided id''s. If there are too many id''s, deletes are done asynchronously'
      description: 'Deletes imports based on provided id''s. If there are too many id''s, deletes are done asynchronously'
      operationId: delete-integrations-import
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteMeteringImportsRequest'
            example:
              onlyValidate: true
              queryParams:
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
          text/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteMeteringImportsRequest'
            example:
              onlyValidate: true
              queryParams:
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkDeleteMeteringImportsRequest'
            example:
              onlyValidate: true
              queryParams:
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/overviewcount:
    get:
      tags:
        - Default
      summary: 'Gets count information for metering import overview, grouped by their status.'
      description: 'Gets count information for metering import overview, grouped by their status.'
      operationId: get-integrations-import-overviewcount
      parameters:
        - name: Status
          in: query
          schema:
            type: array
            items:
              type: string
        - name: CommunicationType
          in: query
          schema:
            type: string
        - name: MeteringFormat
          in: query
          schema:
            type: string
        - name: CreatedStartDateTime
          in: query
          schema:
            type: string
            format: date-time
        - name: CreatedEndDateTime
          in: query
          schema:
            type: string
            format: date-time
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: Overview count for metering imports.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportOverviewCountDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportOverviewCountDTO'
              example:
                data:
                  all: 0
                  toProcess: 0
                  processed: 0
                  formatIssues: 0
                  issues: 0
                  invalid: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportOverviewCountDTO'
              example:
                data:
                  all: 0
                  toProcess: 0
                  processed: 0
                  formatIssues: 0
                  issues: 0
                  invalid: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Integrations/import/{uuid}':
    get:
      tags:
        - Default
      summary: "Fetch the details of a metering import to know the status of the metering import and to know how many\nvalues were successfully parsed, validated, and processed."
      description: "Fetch the details of a metering import to know the status of the metering import and to know how many\nvalues were successfully parsed, validated, and processed."
      operationId: get-integrations-import-uuid
      parameters:
        - name: uuid
          in: path
          description: The ID of the metering import.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: Returns the details of the metering import in the type of MeteringImportDTO
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportDTO'
              example:
                data:
                  type: measurements
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: elvaco_1104
                  communicationType: sftp
                  automaticallyProcess: true
                  status: uploading
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  fallbackReadingOrigin: string
                  fallbackReadingMethod: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportDTO'
              example:
                data:
                  type: measurements
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: elvaco_1104
                  communicationType: sftp
                  automaticallyProcess: true
                  status: uploading
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  fallbackReadingOrigin: string
                  fallbackReadingMethod: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Integrations/import/{meteringImportId}/issues/interpretation':
    get:
      tags:
        - Default
      summary: Get an overview of issues that were detected during the interpretation of a metering import.
      description: Get an overview of issues that were detected during the interpretation of a metering import.
      operationId: get-integrations-import-meteringimportid-issues-interpretation
      parameters:
        - name: meteringImportId
          in: path
          description: The ID of the metering import.
          required: true
          schema:
            type: string
        - name: ErrorCodes
          in: query
          schema:
            type: array
            items:
              type: string
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportInterpretationResultDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportInterpretationResultDTO'
              example:
                data:
                  issues:
                    - errorCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      errorCodeInfo:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      lineNumber: 0
                      message: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportInterpretationResultDTO'
              example:
                data:
                  issues:
                    - errorCode:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      errorCodeInfo:
                        key: 0
                        correlationId: string
                        message: string
                        messageValues:
                          - dataType: text
                            value: string
                            capitalize: true
                      lineNumber: 0
                      message: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Integrations/import/{meteringImportId}/measurements':
    get:
      tags:
        - Default
      summary: Get an overview of all the measurements for a metering import with their possible validation or processing issues.
      description: Get an overview of all the measurements for a metering import with their possible validation or processing issues.
      operationId: get-integrations-import-meteringimportid-measurements
      parameters:
        - name: meteringImportId
          in: path
          description: The ID of the metering import.
          required: true
          schema:
            type: string
        - name: Meter
          in: query
          schema:
            type: string
        - name: ErrorCodes
          in: query
          schema:
            type: array
            items:
              type: string
        - name: FlexSearch
          in: query
          schema:
            type: string
        - name: IncludeOnlyIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: ExcludeIds
          in: query
          schema:
            type: array
            items:
              type: string
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: Name
          in: query
          schema:
            type: string
        - name: Id
          in: query
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: Order the measurements from the metering import by the available options from MeteringImportMeasurementsOrderBy
          schema:
            type: string
        - name: continuationToken
          in: header
          description: Token which allows you to fetch the next records. The continuation token is returned in the response and can be reused in the next request to fetch additional data.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfImportedMeasurementsOverviewDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfImportedMeasurementsOverviewDTO'
              example:
                data:
                  measurements:
                    results:
                      - meterSerialNumber: string
                        externalChannelIdentifier: string
                        externalReference: string
                        meteringType: string
                        utilityType: string
                        direction: string
                        unitOfMeasure: string
                        readingDateTime: string
                        measurementStartDateTime: string
                        timeOfUse: string
                        readingValue: 0
                        errorCode: string
                        lineNumber: 0
                        processedOn: string
                        wasIgnored: true
                        readingOrigin: string
                        readingMethod: string
                    hasNextPage: true
                    nextPageToken: string
                    totalRecords: 0
                    sortableFields:
                      - string
                    aggregateDetails:
                      - code: string
                        translation: string
                        value: 0
                        valueDate: string
                  totalInvalidMeasurements: 0
                  totalValidMeasurements: 0
                  totalMeasurementsNotProcessed: 0
                  totalMeasurementsProcessed: 0
                  totalLinesWithFormatIssues: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfImportedMeasurementsOverviewDTO'
              example:
                data:
                  measurements:
                    results:
                      - meterSerialNumber: string
                        externalChannelIdentifier: string
                        externalReference: string
                        meteringType: string
                        utilityType: string
                        direction: string
                        unitOfMeasure: string
                        readingDateTime: string
                        measurementStartDateTime: string
                        timeOfUse: string
                        readingValue: 0
                        errorCode: string
                        lineNumber: 0
                        processedOn: string
                        wasIgnored: true
                        readingOrigin: string
                        readingMethod: string
                    hasNextPage: true
                    nextPageToken: string
                    totalRecords: 0
                    sortableFields:
                      - string
                    aggregateDetails:
                      - code: string
                        translation: string
                        value: 0
                        valueDate: string
                  totalInvalidMeasurements: 0
                  totalValidMeasurements: 0
                  totalMeasurementsNotProcessed: 0
                  totalMeasurementsProcessed: 0
                  totalLinesWithFormatIssues: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/measurements:
    post:
      tags:
        - Default
      summary: Upload measurements for a collection of different meters.
      description: Upload measurements for a collection of different meters.
      operationId: post-integrations-import-measurements
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadMeasurementsRequest'
            example:
              automaticProcessing: true
              source: string
              uploadIdentifier: string
              channelMeasurements:
                - utilityType: none
                  unitOfMeasure: none
                  meteringType: none
                  direction: offtake
                  meterSerialNumber: string
                  externalChannelIdentifier: string
                  measurements:
                    - startDateTime: string
                      readingDateTime: string
                      value: 0
          text/json:
            schema:
              $ref: '#/components/schemas/UploadMeasurementsRequest'
            example:
              automaticProcessing: true
              source: string
              uploadIdentifier: string
              channelMeasurements:
                - utilityType: none
                  unitOfMeasure: none
                  meteringType: none
                  direction: offtake
                  meterSerialNumber: string
                  externalChannelIdentifier: string
                  measurements:
                    - startDateTime: string
                      readingDateTime: string
                      value: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/UploadMeasurementsRequest'
            example:
              automaticProcessing: true
              source: string
              uploadIdentifier: string
              channelMeasurements:
                - utilityType: none
                  unitOfMeasure: none
                  meteringType: none
                  direction: offtake
                  meterSerialNumber: string
                  externalChannelIdentifier: string
                  measurements:
                    - startDateTime: string
                      readingDateTime: string
                      value: 0
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportDTO'
              example:
                data:
                  type: measurements
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: elvaco_1104
                  communicationType: sftp
                  automaticallyProcess: true
                  status: uploading
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  fallbackReadingOrigin: string
                  fallbackReadingMethod: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMeteringImportDTO'
              example:
                data:
                  type: measurements
                  customFileFormatId: string
                  dataImport:
                    id: string
                    name: string
                  dataFileFormatSettings:
                    name: string
                    delimiter: string
                    dateTimeFormat: string
                    timeZone: string
                    decimalSeparator: string
                    thousandsSeparator: string
                    culture: string
                    firstLineIsHeader: true
                  meteringFormat: elvaco_1104
                  communicationType: sftp
                  automaticallyProcess: true
                  status: uploading
                  fileName: string
                  source: string
                  interpretationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  validationResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  processingResult:
                    amountSuccess: 0
                    amountFailed: 0
                    amountIgnored: 0
                  fallbackReadingOrigin: string
                  fallbackReadingMethod: string
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/processall:
    post:
      tags:
        - Default
      summary: Processes all imports that have status 'To process' and 'Processed with issues'
      description: Processes all imports that have status 'To process' and 'Processed with issues'
      operationId: post-integrations-import-processall
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/Integrations/import/process/{meteringImportId}':
    post:
      tags:
        - Default
      summary: "Processes the import if it has the status 'Validation failed', 'To process', or 'Processed with issues'.\nBefore processing valid measurements, it revalidates any current invalid measurements.\n\nFor example, if a meter or channel did not exist when the import was created but has since been added,\nthe "
      description: "Processes the import if it has the status 'Validation failed', 'To process', or 'Processed with issues'.\nBefore processing valid measurements, it revalidates any current invalid measurements.\n\nFor example, if a meter or channel did not exist when the import was created but has since been added,\nthe new measurements will be processed as well."
      operationId: post-integrations-import-process-meteringimportid
      parameters:
        - name: meteringImportId
          in: path
          description: Unique identifier of the import
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/process:
    post:
      tags:
        - Default
      summary: "Processes all selected imports if they have the status 'Validation failed', 'To process', or 'Processed with issues'.\nBefore processing valid measurements, it revalidates any current invalid measurements.\n\nFor example, if a meter or channel did not exist when the import was created but has since bee"
      description: "Processes all selected imports if they have the status 'Validation failed', 'To process', or 'Processed with issues'.\nBefore processing valid measurements, it revalidates any current invalid measurements.\n\nFor example, if a meter or channel did not exist when the import was created but has since been added,\nthe new measurements will be processed as well."
      operationId: post-integrations-import-process
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkProcessMeteringImportRequest'
            example:
              onlyValidate: true
              queryParams:
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
          text/json:
            schema:
              $ref: '#/components/schemas/BulkProcessMeteringImportRequest'
            example:
              onlyValidate: true
              queryParams:
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkProcessMeteringImportRequest'
            example:
              onlyValidate: true
              queryParams:
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/download:
    post:
      tags:
        - Default
      summary: Downloads the original files for all imports that are requested
      description: Downloads the original files for all imports that are requested
      operationId: post-integrations-import-download
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: Propagates notification that operations should be canceled.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadOriginalMeteringImportsRequest'
            example:
              queryParams:
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
          text/json:
            schema:
              $ref: '#/components/schemas/DownloadOriginalMeteringImportsRequest'
            example:
              queryParams:
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/DownloadOriginalMeteringImportsRequest'
            example:
              queryParams:
                status:
                  - string
                communicationType: string
                meteringFormat: string
                createdStartDateTime: string
                createdEndDateTime: string
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
            text/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
  '/Integrations/import/{meteringImportId}':
    delete:
      tags:
        - Default
      summary: Delete an existing import by it's identifier
      description: Delete an existing import by it's identifier
      operationId: delete-integrations-import-meteringimportid
      parameters:
        - name: meteringImportId
          in: path
          description: Unique identifier of the import
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /Integrations/import/markprocessed:
    patch:
      tags:
        - Default
[...]
