openapi: 3.0.1
info:
  title: RegionalRegulations
  description: Regional Regulations API
  version: '1.0'
servers:
  - url: https://api.zerofriction.co/api/reg
paths:
  /SocialTariff/exports/customerPortfolio:
    post:
      tags:
        - Default
      summary: Creates a social tariff export for customer portfolio.
      description: Creates a social tariff export for customer portfolio.
      operationId: post-socialtariff-exports-customerportfolio
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerPortfolioSocialTariffExportRequest'
            example:
              startDateTime: string
              endDateTime: string
              onlyMutations: true
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerPortfolioSocialTariffExportRequest'
            example:
              startDateTime: string
              endDateTime: string
              onlyMutations: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustomerPortfolioSocialTariffExportRequest'
            example:
              startDateTime: string
              endDateTime: string
              onlyMutations: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSocialTariffExportDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSocialTariffExportDTO'
              example:
                data:
                  startDateTime: string
                  endDateTime: string
                  generated: true
                  internalFilePath: string
                  filename: string
                  type: string
                  onlyMutations: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSocialTariffExportDTO'
              example:
                data:
                  startDateTime: string
                  endDateTime: string
                  generated: true
                  internalFilePath: string
                  filename: string
                  type: string
                  onlyMutations: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /SocialTariff/exports:
    post:
      tags:
        - Default
      summary: "Legacy endpoint for creating a social tariff export.\nMaintained for backwards compatibility.\nRedirects to the CreateExportCustomerPortfolio method."
      description: "Legacy endpoint for creating a social tariff export.\nMaintained for backwards compatibility.\nRedirects to the CreateExportCustomerPortfolio method."
      operationId: post-socialtariff-exports
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerPortfolioSocialTariffExportRequest'
            example:
              startDateTime: string
              endDateTime: string
              onlyMutations: true
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerPortfolioSocialTariffExportRequest'
            example:
              startDateTime: string
              endDateTime: string
              onlyMutations: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustomerPortfolioSocialTariffExportRequest'
            example:
              startDateTime: string
              endDateTime: string
              onlyMutations: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSocialTariffExportDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSocialTariffExportDTO'
              example:
                data:
                  startDateTime: string
                  endDateTime: string
                  generated: true
                  internalFilePath: string
                  filename: string
                  type: string
                  onlyMutations: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSocialTariffExportDTO'
              example:
                data:
                  startDateTime: string
                  endDateTime: string
                  generated: true
                  internalFilePath: string
                  filename: string
                  type: string
                  onlyMutations: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
    get:
      tags:
        - Default
      summary: Retrieves a paginated list of all social tariff exports.
      description: Retrieves a paginated list of all social tariff exports.
      operationId: get-socialtariff-exports
      parameters:
        - name: orderBy
          in: query
          description: The property to order the results by.
          schema:
            type: string
        - name: continuationToken
          in: header
          description: The token for continuation of paged results.
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '200':
          description: A paged response containing social tariff export details.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfSocialTariffExportDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfSocialTariffExportDTO'
              example:
                data:
                  results:
                    - startDateTime: string
                      endDateTime: string
                      generated: true
                      internalFilePath: string
                      filename: string
                      type: string
                      onlyMutations: true
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfPagedResponseModelDTOOfSocialTariffExportDTO'
              example:
                data:
                  results:
                    - startDateTime: string
                      endDateTime: string
                      generated: true
                      internalFilePath: string
                      filename: string
                      type: string
                      onlyMutations: true
                      organisationId: string
                      id: string
                      entityType: none
                      createdDateTime: string
                      discriminator: string
                      _etag: string
                      hasErrors: true
                      isReadOnly: true
                  hasNextPage: true
                  nextPageToken: string
                  totalRecords: 0
                  sortableFields:
                    - string
                  aggregateDetails:
                    - code: string
                      translation: string
                      value: 0
                      valueDate: string
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /SocialTariff/exports/claimsProtectedCustomers:
    post:
      tags:
        - Default
      summary: Creates a social tariff export for claims protected customers.
      description: Creates a social tariff export for claims protected customers.
      operationId: post-socialtariff-exports-claimsprotectedcustomers
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClaimsProtectedCustomersSocialTariffExportRequest'
            example:
              year: 0
          text/json:
            schema:
              $ref: '#/components/schemas/CreateClaimsProtectedCustomersSocialTariffExportRequest'
            example:
              year: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateClaimsProtectedCustomersSocialTariffExportRequest'
            example:
              year: 0
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSocialTariffExportDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSocialTariffExportDTO'
              example:
                data:
                  startDateTime: string
                  endDateTime: string
                  generated: true
                  internalFilePath: string
                  filename: string
                  type: string
                  onlyMutations: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfSocialTariffExportDTO'
              example:
                data:
                  startDateTime: string
                  endDateTime: string
                  generated: true
                  internalFilePath: string
                  filename: string
                  type: string
                  onlyMutations: true
                  organisationId: string
                  id: string
                  entityType: none
                  createdDateTime: string
                  discriminator: string
                  _etag: string
                  hasErrors: true
                  isReadOnly: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/SocialTariff/exports/{expuuid}':
    delete:
      tags:
        - Default
      summary: Deletes a specific social tariff export.
      description: Deletes a specific social tariff export.
      operationId: delete-socialtariff-exports-expuuid
      parameters:
        - name: expuuid
          in: path
          description: The unique identifier of the export to delete.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfboolean'
              example:
                data: true
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  '/SocialTariff/exports/{expuuid}/download':
    post:
      tags:
        - Default
      summary: Downloads a specific social tariff export file.
      description: Downloads a specific social tariff export file.
      operationId: post-socialtariff-exports-expuuid-download
      parameters:
        - name: expuuid
          in: path
          description: The unique identifier of the export to download.
          required: true
          schema:
            type: string
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
            text/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
  /SocialTariff/exports/delete/bulk:
    delete:
      tags:
        - Default
      summary: Deletes multiple social tariff exports in bulk.
      description: Deletes multiple social tariff exports in bulk.
      operationId: delete-socialtariff-exports-delete-bulk
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteSocialTariffsRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
          text/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteSocialTariffsRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkDeleteSocialTariffsRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTO'
              example:
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
  /SocialTariff/export/download/bulk:
    post:
      tags:
        - Default
      summary: Downloads multiple social tariff exports as a ZIP archive.
      description: Downloads multiple social tariff exports as a ZIP archive.
      operationId: post-socialtariff-export-download-bulk
      parameters:
        - name: zf-tuuid
          in: header
          description: Tenant ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Tenant ID: '{{zf-tuuid}}'
        - name: zf-ouuid
          in: header
          description: Organisation ID
          required: true
          schema:
            type: string
            format: uuid
          example:
            Organisation ID: '{{zf-ouuid}}'
      requestBody:
        description: The cancellation token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDownloadSocialTariffsRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              socialTariffIds:
                - string
          text/json:
            schema:
              $ref: '#/components/schemas/BulkDownloadSocialTariffsRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              socialTariffIds:
                - string
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkDownloadSocialTariffsRequest'
            example:
              onlyValidate: true
              queryParams:
                flexSearch: string
                includeOnlyIds:
                  - string
                excludeIds:
                  - string
                pageSize: 0
              quickFilter: string
              socialTariffIds:
                - string
      responses:
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: string
                title: string
                status: 0
                detail: string
                instance: string
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
            text/json:
              schema:
                $ref: '#/components/schemas/FileStreamResult'
              example:
                fileStream: string
                contentType: string
                fileDownloadName: string
                lastModified: string
                entityTag:
                  tag:
                    buffer: string
                    offset: 0
                    length: 0
                    value: string
                    hasValue: true
                  isWeak: true
                enableRangeProcessing: true
  /MigrationAdmin/latest-version:
    get:
      tags:
        - Default
      summary: /MigrationAdmin/latest-version - GET
      operationId: get-migrationadmin-latest-version
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMigrationLatestVersionDTO'
              examples:
                default:
                  value:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMigrationLatestVersionDTO'
              example:
                data:
                  namespace: string
                  latestVersion: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
            text/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDTOOfMigrationLatestVersionDTO'
              example:
                data:
                  namespace: string
                  latestVersion: 0
                errors:
                  - key: 0
                    correlationId: string
                    message: string
                    messageValues:
                      - dataType: text
                        value: string
                        capitalize: true
                success: true
                applicableEntitiesCount: 0
                requestedEntitiesCount: 0
                succeededEntitiesCount: 0
                isSynchronous: true
components:
  schemas:
    AggregateDetailsDTO:
      type: object
      properties:
        code:
          type: string
        translation:
          type: string
        value:
          type: number
          format: double
          nullable: true
        valueDate:
          type: string
          format: date-time
          nullable: true
    ApiResponseDTO:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfboolean:
      type: object
      properties:
        data:
          type: boolean
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfMigrationLatestVersionDTO:
      type: object
      properties:
        data:
          type: object
          oneOf:
            - $ref: '#/components/schemas/MigrationLatestVersionDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfPagedResponseModelDTOOfSocialTariffExportDTO:
      type: object
      properties:
        data:
          type: object
          oneOf:
            - $ref: '#/components/schemas/PagedResponseModelDTOOfSocialTariffExportDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    ApiResponseDTOOfSocialTariffExportDTO:
      type: object
      properties:
        data:
          type: object
          oneOf:
            - $ref: '#/components/schemas/SocialTariffExportDTO'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTO'
        success:
          type: boolean
        applicableEntitiesCount:
          type: integer
          format: int32
        requestedEntitiesCount:
          type: integer
          format: int32
        succeededEntitiesCount:
          type: integer
          format: int32
        isSynchronous:
          type: boolean
    BaseQueryParams:
      type: object
      properties:
        flexSearch:
          type: string
          nullable: true
        includeOnlyIds:
          type: array
          items:
            type: string
        excludeIds:
          type: array
          items:
            type: string
        pageSize:
          type: integer
          format: int32
          nullable: true
    BulkDeleteSocialTariffsRequest:
      type: object
      properties:
        onlyValidate:
          type: boolean
        queryParams:
          $ref: '#/components/schemas/ReadExportsQueryParams'
        quickFilter:
          type: string
          nullable: true
    BulkDownloadSocialTariffsRequest:
      type: object
      properties:
        onlyValidate:
          type: boolean
        queryParams:
          $ref: '#/components/schemas/BaseQueryParams'
        quickFilter:
          type: string
          nullable: true
        socialTariffIds:
          type: array
          items:
            type: string
    CreateClaimsProtectedCustomersSocialTariffExportRequest:
      type: object
      properties:
        year:
          type: integer
          format: int32
    CreateCustomerPortfolioSocialTariffExportRequest:
      type: object
      properties:
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        onlyMutations:
          type: boolean
    DataType:
      enum:
        - text
        - number
        - date
        - dateandtime
        - enumeration
      type: string
      description: 'Possible values: ''text'', ''number'', ''date'', ''dateandtime'', ''enumeration'''
    EntitySubjectType:
      enum:
        - none
        - customer
        - contract
        - meter
        - servicelocation
        - invoice
        - importjob
        - propertygroup
        - payment
        - communicationentry
        - exportjob
        - dataexport
        - dataimport
        - asset
        - bankaccount
        - billingitem
        - billingtariff
        - costcomponent
        - costcomponentvalue
        - model
        - numbersequence
        - billingparameters
        - product
        - taxcode
        - template
        - billingrelation
        - transaction
        - dataimportfileformat
        - dataexportfileformat
        - tenant
        - consumption
        - attachment
        - exportjobline
        - culturetable
        - collectioncase
        - collectionflowstep
        - incominginvoice
        - moverequest
        - activityentry
        - commententry
        - problem
        - relatedentity
        - customeragingreport
        - billingcompleteness
        - propertygroupbillingconfiguration
        - propertygroupbillingperiod
        - collectionflow
        - configuredplugin
        - organizationscenarios
        - paymentterms
        - paymentdelaysetting
        - paymentparameters
        - domainauthenticationparameters
        - communicationparameters
        - organization
        - incominginvoicecomponent
        - costallocationcomponent
        - scheduledattempt
        - plugintrigger
        - exportentitycontainer
        - externalbankstatement
        - externalbanktransaction
        - externalmeasurement
        - importjobentityissue
        - intermediateexportformat
        - consumptionunit
        - calculatedconsumption
        - propertygroupmeteringconfiguration
        - measurement
        - externalchannel
        - serviceconsumption
        - purgerequest
        - migrationversion
        - formulaconsumption
        - templatedataobject
        - dataupgradebaseline
        - processrequest
        - validationrequest
        - postprocessrequest
        - outgoingbankingtransaction
        - incomingmutation
        - outgoingmutation
        - incomingbankingtransaction
        - customerbankaccount
        - pluginmanualtrigger
        - billingcustomer
        - enumsymboltranslation
        - scenariotranslation
        - syntheticloadprofile
        - consumergroup
        - estimablecontract
        - plugininboundwebhooktrigger
        - pluginmappingentry
        - eavestimationrun
        - customentitypropertytype
        - customentityproperty
        - pluginfeedentry
        - regionalregulationsconfiguration
        - entityattachment
        - entityattachmentgroup
        - propertygroupforecastingconfiguration
        - prepaymenttransaction
        - customeragingheader
        - estimatedbillingcompleteness
        - estimatedinvoice
        - customergroup
        - meteringissue
        - meteringparameters
        - mutingrule
        - reportmappingentry
        - meteringimport
        - prepaymentaccount
        - baseimport
        - systemusagerecord
        - portalsettings
        - organizationscenario
        - tenantrole
        - useraccessentry
        - annualstatement
        - accounting
        - externalintegrationauthorization
        - customerportal
        - paymentintent
        - paymentprovideraccount
        - paymentserviceproviderevent
        - bankingdataprovider
        - communicationevent
        - paymentplan
        - paymentplanparameters
        - communicationsubject
        - communicationprovideraccount
        - paymentprovideraccountregistry
        - prepaymentaccountissue
        - prepaymentdevice
        - prepaymentconfiguration
        - serviceconsumptioncost
        - prepaymentcost
        - prepaymentprofile
        - propertygroupprepaymentconfiguration
        - bankholidaycalendar
        - friendlycreditwindow
        - billingprepaymentaccount
        - meteringprovideraccount
        - meteringproviderrun
        - masterdataparameters
        - prepaymentbalanceprocessedevent
        - prepaymentstatement
        - outgoingmandateexportrecord
        - outgoingmandateexportgroup
        - prepaymentparameters
        - accountingexportprovider
        - accountingexportrun
        - prepaymentcustomer
        - timeofusetype
        - timeofusecalendar
        - reportingprovider
        - paymentprovidercustomer
        - reportingconfigurationprovider
        - servicelocationsuppliedservices
        - prepaymentdeviceprovideraccount
        - psprefund
        - betaenvironmentprovider
        - crmcustomer
        - ticket
        - ticketconversation
        - socialtariffexport
        - socialtariffimportheader
        - socialtariffimportline
      type: string
      description: 'Possible values: ''none'', ''customer'', ''contract'', ''meter'', ''servicelocation'', ''invoice'', ''importjob'', ''propertygroup'', ''payment'', ''communicationentry'', ''exportjob'', ''dataexport'', ''dataimport'', ''asset'', ''bankaccount'', ''billingitem'', ''billingtariff'', ''costcomponent'', ''costcomponentvalue'', ''model'', ''numbersequence'', ''billingparameters'', ''product'', ''taxcode'', ''template'', ''billingrelation'', ''transaction'', ''dataimportfileformat'', ''dataexportfileformat'', ''tenant'', ''consumption'', ''attachment'', ''exportjobline'', ''culturetable'', ''collectioncase'', ''collectionflowstep'', ''incominginvoice'', ''moverequest'', ''activityentry'', ''commententry'', ''problem'', ''relatedentity'', ''customeragingreport'', ''billingcompleteness'', ''propertygroupbillingconfiguration'', ''propertygroupbillingperiod'', ''collectionflow'', ''configuredplugin'', ''organizationscenarios'', ''paymentterms'', ''paymentdelaysetting'', ''paymentparameters'', ''domainauthenticationparameters'', ''communicationparameters'', ''organization'', ''incominginvoicecomponent'', ''costallocationcomponent'', ''scheduledattempt'', ''plugintrigger'', ''exportentitycontainer'', ''externalbankstatement'', ''externalbanktransaction'', ''externalmeasurement'', ''importjobentityissue'', ''intermediateexportformat'', ''consumptionunit'', ''calculatedconsumption'', ''propertygroupmeteringconfiguration'', ''measurement'', ''externalchannel'', ''serviceconsumption'', ''purgerequest'', ''migrationversion'', ''formulaconsumption'', ''templatedataobject'', ''dataupgradebaseline'', ''processrequest'', ''validationrequest'', ''postprocessrequest'', ''outgoingbankingtransaction'', ''incomingmutation'', ''outgoingmutation'', ''incomingbankingtransaction'', ''customerbankaccount'', ''pluginmanualtrigger'', ''billingcustomer'', ''enumsymboltranslation'', ''scenariotranslation'', ''syntheticloadprofile'', ''consumergroup'', ''estimablecontract'', ''plugininboundwebhooktrigger'', ''pluginmappingentry'', ''eavestimationrun'', ''customentitypropertytype'', ''customentityproperty'', ''pluginfeedentry'', ''regionalregulationsconfiguration'', ''entityattachment'', ''entityattachmentgroup'', ''propertygroupforecastingconfiguration'', ''prepaymenttransaction'', ''customeragingheader'', ''estimatedbillingcompleteness'', ''estimatedinvoice'', ''customergroup'', ''meteringissue'', ''meteringparameters'', ''mutingrule'', ''reportmappingentry'', ''meteringimport'', ''prepaymentaccount'', ''baseimport'', ''systemusagerecord'', ''portalsettings'', ''organizationscenario'', ''tenantrole'', ''useraccessentry'', ''annualstatement'', ''accounting'', ''externalintegrationauthorization'', ''customerportal'', ''paymentintent'', ''paymentprovideraccount'', ''paymentserviceproviderevent'', ''bankingdataprovider'', ''communicationevent'', ''paymentplan'', ''paymentplanparameters'', ''communicationsubject'', ''communicationprovideraccount'', ''paymentprovideraccountregistry'', ''prepaymentaccountissue'', ''prepaymentdevice'', ''prepaymentconfiguration'', ''serviceconsumptioncost'', ''prepaymentcost'', ''prepaymentprofile'', ''propertygroupprepaymentconfiguration'', ''bankholidaycalendar'', ''friendlycreditwindow'', ''billingprepaymentaccount'', ''meteringprovideraccount'', ''meteringproviderrun'', ''masterdataparameters'', ''prepaymentbalanceprocessedevent'', ''prepaymentstatement'', ''outgoingmandateexportrecord'', ''outgoingmandateexportgroup'', ''prepaymentparameters'', ''accountingexportprovider'', ''accountingexportrun'', ''prepaymentcustomer'', ''timeofusetype'', ''timeofusecalendar'', ''reportingprovider'', ''paymentprovidercustomer'', ''reportingconfigurationprovider'', ''servicelocationsuppliedservices'', ''prepaymentdeviceprovideraccount'', ''psprefund'', ''betaenvironmentprovider'', ''crmcustomer'', ''ticket'', ''ticketconversation'', ''socialtariffexport'', ''socialtariffimportheader'', ''socialtariffimportline'''
    EntityTagHeaderValue:
      type: object
      properties:
        tag:
          $ref: '#/components/schemas/StringSegment'
        isWeak:
          type: boolean
    ErrorCode:
      type: integer
    FileStreamResult:
      type: object
      properties:
        fileStream:
          $ref: '#/components/schemas/Stream'
        contentType:
          type: string
          nullable: true
        fileDownloadName:
          type: string
          nullable: true
        lastModified:
          type: string
          format: date-time
          nullable: true
        entityTag:
          type: object
          oneOf:
            - $ref: '#/components/schemas/EntityTagHeaderValue'
          nullable: true
        enableRangeProcessing:
          type: boolean
    LocalisedErrorDTO:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/ErrorCode'
        correlationId:
          type: string
        message:
          type: string
        messageValues:
          type: array
          items:
            $ref: '#/components/schemas/LocalisedErrorDTOMessageValue'
    LocalisedErrorDTOMessageValue:
      type: object
      properties:
        dataType:
          $ref: '#/components/schemas/DataType'
        value:
          type: string
        capitalize:
          type: boolean
    MigrationLatestVersionDTO:
      type: object
      properties:
        namespace:
          type: string
          nullable: true
        latestVersion:
          type: integer
          format: int32
    PagedResponseModelDTOOfSocialTariffExportDTO:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SocialTariffExportDTO'
        hasNextPage:
          type: boolean
        nextPageToken:
          type: string
        totalRecords:
          type: integer
          format: int32
        sortableFields:
          type: array
          items:
            type: string
        aggregateDetails:
          type: array
          items:
            $ref: '#/components/schemas/AggregateDetailsDTO'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
    ReadExportsQueryParams:
      type: object
      properties:
        flexSearch:
          type: string
          nullable: true
        includeOnlyIds:
          type: array
          items:
            type: string
        excludeIds:
          type: array
          items:
            type: string
        pageSize:
          type: integer
          format: int32
          nullable: true
    SocialTariffExportDTO:
      type: object
      properties:
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        generated:
          type: boolean
        internalFilePath:
          type: string
          nullable: true
        filename:
          type: string
          nullable: true
        type:
          type: string
          oneOf:
            - $ref: '#/components/schemas/SocialTariffExportType'
          nullable: true
        onlyMutations:
          type: boolean
        organisationId:
          type: string
        id:
          type: string
        entityType:
          $ref: '#/components/schemas/EntitySubjectType'
        createdDateTime:
          type: string
          format: date-time
        discriminator:
          type: string
        _etag:
          type: string
        hasErrors:
          type: boolean
        isReadOnly:
          type: boolean
    SocialTariffExportType:
      enum:
        - customerportfolio
        - claimsprotectedcustomers
      type: string
      description: 'Possible values: ''customerportfolio'', ''claimsprotectedcustomers'''
    Stream:
      type: string
      format: binary
    StringSegment:
      type: object
      properties:
        buffer:
          type: string
          nullable: true
        offset:
          type: integer
          format: int32
        length:
          type: integer
          format: int32
        value:
          type: string
          nullable: true
        hasValue:
          type: boolean
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: apim-sub
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
  - apiKeyHeader: [ ]
  - apiKeyQuery: [ ]
tags:
  - name: SocialTariff
  - name: MigrationAdmin
