# Load environment variables from .env if it exists
if [ -f .env ]; then
  export $(grep -v '^#' .env | xargs)
fi

# Set a virtualenv automatically if venv exists
if [ -d venv ]; then
  source venv/bin/activate
fi

export PYTHONPATH=.