__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/
.env
.env.*
!.env.template

build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl
*.egg-link

.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/
.tox/
.nox/
test-results/

.ipynb_checkpoints/
*.log
*.bak
*.swp
*.swo
*~
.direnv/
.devcontainer/devcontainer-lock.json

.vscode/
.idea/
.DS_Store

poetry.lock
Pipfile.lock
__pypackages__/
.pypirc
*.spec
